Repository eyra/mono: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-test, mix-format, mix-compile, mix-credo

mix-test:
  name: 'elixir: mix test'
  entry: mix test
  language: system
  pass_filenames: false

mix-format:
  name: 'elixir: mix format'
  entry: mix format --check-formatted
  language: system

mix-compile:
  name: 'elixir: mix compile'
  entry: mix compile --force --warnings-as-errors
  language: system
  pass_filenames: false

mix-credo:
  name: 'elixir: mix credo'
  entry: mix credo
  language: system
  pass_filenames: false

Created symlinks for assets and repo
  .gitignore
  Makefile
  apps/bundles/link/Makefile
  apps/bundles/link/assets
  apps/bundles/link/priv/repo
  apps/bundles/link/priv/repo/migrations/.formatter.exs
  apps/bundles/link/priv/repo/migrations/20201017121329_create_users.exs
  apps/bundles/link/priv/repo/migrations/20201020183311_create_studies.exs
  apps/bundles/link/priv/repo/migrations/20201028085310_create_user_identities.exs
  apps/bundles/link/priv/repo/migrations/20201101134918_create_role_assignments.exs
  apps/bundles/link/priv/repo/migrations/20201102192524_create_test_entities.exs
  apps/bundles/link/priv/repo/migrations/20201122134413_create_survey_tools.exs
  apps/bundles/link/priv/repo/migrations/20201206155650_create_user_profiles.exs
  apps/bundles/link/priv/repo/migrations/20201212083922_create_participants.exs
  apps/bundles/link/priv/repo/migrations/20201212084431_add_role_assignments_index.exs
  apps/bundles/link/priv/repo/migrations/20201213065158_add_state_to_study_participants.exs
  apps/bundles/link/priv/repo/migrations/20201213180227_add_researcher_flag_to_users_table.exs
  apps/bundles/link/priv/repo/migrations/20201213191000_drop_researcher_from_studies.exs
  apps/bundles/link/priv/repo/migrations/20201219120744_add_displayname_user_profile.exs
  apps/bundles/link/priv/repo/migrations/20201221095052_alter_study_description_and_title_to_text.exs
  apps/bundles/link/priv/repo/migrations/20201221105503_add_cascading_delete_to_participations.exs
  apps/bundles/link/priv/repo/migrations/20210103112001_create_survey_tool_tasks.exs
  apps/bundles/link/priv/repo/migrations/20210103112648_add_survey_tool_flow_fields.exs
  apps/bundles/link/priv/repo/migrations/20210123220535_setup_tree_auth_model.exs
  apps/bundles/link/priv/repo/migrations/20210203133519_adjust_survey_tool.exs
  apps/bundles/link/priv/repo/migrations/20210205131330_add_auth_node_to_study.exs
  apps/bundles/link/priv/repo/migrations/20210205145655_add_author.exs
  apps/bundles/link/priv/repo/migrations/20210207104300_move_participants_to_survey_tool.exs
  apps/bundles/link/priv/repo/migrations/20210212072604_add_auth_node_to_survey_tool.exs
  apps/bundles/link/priv/repo/migrations/20210215212648_add_cascading_delete_to_survey_tools.exs
  apps/bundles/link/priv/repo/migrations/20210215213744_add_cascading_delete_to_authors.exs
  apps/bundles/link/priv/repo/migrations/20210219070920_create_users_auth_tables.exs
  apps/bundles/link/priv/repo/seeds.exs
  apps/bundles/link/priv/repo/structure.sql
  setup
Due: mix-test, mix-format, mix-credo

Added Dialyzer mix tasks and fixed a few warnings
  apps/bundles/link/lib/link/authorization.ex
  apps/bundles/link/mix.exs
  apps/bundles/link/mix.lock
  apps/frameworks/eyra_ui/lib/auto_save.ex
  apps/frameworks/green_light/lib/green_light.ex
  apps/frameworks/green_light/lib/permission_map.ex
  apps/frameworks/green_light/lib/permissions.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Added Dialyzer mix tasks and fixed a few warnings (#44)
  apps/bundles/link/lib/link/authorization.ex
  apps/bundles/link/mix.exs
  apps/bundles/link/mix.lock
  apps/frameworks/eyra_ui/lib/auto_save.ex
  apps/frameworks/green_light/lib/green_light.ex
  apps/frameworks/green_light/lib/permission_map.ex
  apps/frameworks/green_light/lib/permissions.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Fix Dialyzer errors for mix tasks
  apps/bundles/link/mix.exs
Due: mix-test, mix-format, mix-credo

Removed unneeded case from confirm token view
  apps/bundles/link/lib/link_web/live/user/confirm_token.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Added transitive deps explicitly per the docs
  apps/bundles/link/mix.exs
Due: mix-test, mix-format, mix-credo

Added Dialyzer to commit hooks
  .pre-commit-config.yaml
  Makefile
Due: none

Disabled Dialyzer during formatting phase
  .github/workflows/test.yml
Due: none

Added caching of Dialyzer PLT to CI pipeline
  .github/workflows/test.yml
Due: none

Added Dialyzer support to frameworks
  apps/bundles/link/mix.exs
  apps/core/lib/eyra_core.ex
  apps/core/mix.exs
  apps/core/mix.lock
  apps/frameworks/eyra_ui/mix.exs
  apps/frameworks/eyra_ui/mix.lock
  apps/frameworks/green_light/lib/live.ex
  apps/frameworks/green_light/mix.exs
  apps/frameworks/green_light/mix.lock
Due: mix-test, mix-format, mix-compile, mix-credo

Tweaked GitHub config
  .github/workflows/test.yml
  .pre-commit-config.yaml
Due: none

Formatted code
  mix_home/dialyxir_erlang-23.2.plt
  mix_home/dialyxir_erlang-23.2_elixir-1.11.3.plt
Due: none

Added SurfConext authentication system
  .gitignore
  apps/bundles/link/.projections.json
  apps/bundles/link/config/config.exs
  apps/bundles/link/config/dev.exs
  apps/bundles/link/config/prod.exs
  apps/bundles/link/config/prod.secret.exs
  apps/bundles/link/lib/link/accounts/user.ex
  apps/bundles/link/lib/link_web/router.ex
  apps/bundles/link/lib/surfconext.ex
  apps/bundles/link/lib/surfconext/plug.ex
  apps/bundles/link/lib/surfconext/user.ex
  apps/bundles/link/mix.exs
  apps/bundles/link/mix.lock
  apps/bundles/link/test/surfconext/plug_test.exs
  apps/bundles/link/test/surfconext_test.exs
  priv/repo/migrations/20210305122226_create_surfconext_users.exs
  priv/repo/seeds.exs
Due: mix-test, mix-format, mix-compile, mix-credo

moved dependency injector from link to core in one file with the resolver
  apps/bundles/link/lib/link_web/dependency_injection.ex
  apps/bundles/link/lib/link_web/endpoint.ex
  apps/core/lib/core_web/dependencies.ex
  apps/core/lib/core_web/dependency_resolver.ex
  apps/core/lib/core_web/endpoint.ex
  apps/core/lib/core_web/routes.ex
  apps/core/test/core_web/dependency_resolver_test.exs
Due: mix-test, mix-format, mix-compile, mix-credo

Formatted code
  mix_home/dialyxir_erlang-23.2_elixir-1.11.3.plt
Due: none

Added SurfConext authentication system (#46)
  .gitignore
  apps/bundles/link/.projections.json
  apps/bundles/link/config/config.exs
  apps/bundles/link/config/dev.exs
  apps/bundles/link/config/prod.exs
  apps/bundles/link/config/prod.secret.exs
  apps/bundles/link/lib/link/accounts/user.ex
  apps/bundles/link/lib/link_web/router.ex
  apps/bundles/link/lib/surfconext.ex
  apps/bundles/link/lib/surfconext/plug.ex
  apps/bundles/link/lib/surfconext/user.ex
  apps/bundles/link/mix.exs
  apps/bundles/link/mix.lock
  apps/bundles/link/test/surfconext/plug_test.exs
  apps/bundles/link/test/surfconext_test.exs
  priv/repo/migrations/20210305122226_create_surfconext_users.exs
  priv/repo/seeds.exs
Due: mix-test, mix-format, mix-compile, mix-credo

Moved SurfConext tests to Core
  apps/bundles/link/config/config.exs
  apps/bundles/link/config/dev.exs
  apps/bundles/link/config/prod.exs
  apps/bundles/link/config/prod.secret.exs
  apps/bundles/link/lib/link/application.ex
  apps/bundles/link/lib/link_web/router.ex
  apps/core/config/config.exs
  apps/core/config/dev.exs
  apps/core/config/prod.exs
  apps/core/config/prod.secret.exs
  apps/core/config/test.exs
  apps/core/lib/core/application.ex
  apps/core/lib/core/surfconext.ex
  apps/core/mix.exs
  apps/core/mix.lock
  apps/core/test/core/surfconext/plug_test.exs
  apps/core/test/core/surfconext_test.exs
  apps/core/test/support/channel_case.ex
  apps/core/test/support/conn_case.ex
  apps/core/test/support/data_case.ex
  apps/core/test/support/helpers.ex
  apps/core/test/test_helper.exs
Due: mix-test, mix-format, mix-compile, mix-credo

Moved all tests exept CoreWeb from Link to Core
  apps/core/mix.exs
  apps/core/test/core/accounts_test.exs
  apps/core/test/core/authorization_test.exs
  apps/core/test/core/studies/study_edit_test.exs
  apps/core/test/core/studies_test.exs
  apps/core/test/core/survey_tools_test.exs
  apps/core/test/green_light/green_light/ecto/query_test.exs
  apps/core/test/green_light/green_light/permission_map_test.exs
  apps/core/test/green_light/green_light/permissions_test.exs
  apps/core/test/green_light/green_light/plug.exs
  apps/core/test/green_light/green_light_test.exs
Due: mix-test, mix-format, mix-credo

Added sign in with Apple
  apps/bundles/link/.projectile
  apps/bundles/link/config/config.exs
  apps/bundles/link/config/config.secret.exs
  apps/bundles/link/config/prod.exs
  apps/bundles/link/config/prod.secret.exs
  apps/bundles/link/lib/link_web/router.ex
  apps/bundles/link/lib/link_web/templates/user_session/new.html.eex
  apps/bundles/link/lib/link_web/views/user_session_view.ex
  apps/bundles/link/lib/sign_in_with_apple.ex
  apps/bundles/link/lib/sign_in_with_apple/helpers.ex
  apps/bundles/link/lib/sign_in_with_apple/plug.ex
  apps/bundles/link/lib/sign_in_with_apple/user.ex
  apps/bundles/link/lib/surfconext.ex
  apps/bundles/link/test/sign_in_with_apple.ex
  apps/bundles/link/test/sign_in_with_apple/helpers_test.exs
  apps/bundles/link/test/sign_in_with_apple/plug_test.exs
  priv/repo/migrations/20210312101308_sign_in_with_apple.exs
Due: mix-test, mix-format, mix-compile, mix-credo

Decentralized router definition
  apps/bundles/link/lib/link_web/router.ex
  apps/core/lib/core_web.ex
  apps/core/lib/core_web/channels/user_socket.ex
  apps/core/lib/core_web/controllers/user_auth.ex
  apps/core/lib/core_web/live/routes.ex
  apps/core/lib/core_web/live/study/routes.ex
  apps/core/lib/core_web/live/survey_tool/routes.ex
  apps/core/lib/core_web/live/user/routes.ex
  apps/core/lib/core_web/proxies/endpoint_proxy.ex
  apps/core/lib/core_web/proxies/routes_proxy.ex
  apps/core/lib/core_web/routes.ex
  apps/core/lib/core_web/templates/layout/root.html.leex
  apps/core/test/core_web/controllers/user_auth_test.exs
  apps/core/test/support/conn_case.ex
  apps/core/test/support/phoenix/router.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Removed Emacs project file
  apps/bundles/link/.projectile
Due: none

Made tests faster (Bcrypt setting)
  apps/core/config/test.exs
Due: mix-test, mix-format, mix-credo

Fix overiew page: current_user_profile is not used anymore
  apps/core/lib/core/accounts.ex
  apps/core/lib/core_web.ex
  apps/core/lib/core_web/live/dashboard.ex
  apps/core/lib/core_web/live/index.ex
  apps/core/lib/core_web/live/study/complete.ex
  apps/core/lib/core_web/live/study/public.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Made tests faster (Bcrypt setting) (#50)
  apps/core/config/test.exs
Due: mix-test, mix-format, mix-credo

Remove accidental typespec
  apps/core/lib/core_web.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Fix overiew page: current_user_profile is not used anymore (#51)
  apps/core/lib/core/accounts.ex
  apps/core/lib/core_web.ex
  apps/core/lib/core_web/live/dashboard.ex
  apps/core/lib/core_web/live/index.ex
  apps/core/lib/core_web/live/study/complete.ex
  apps/core/lib/core_web/live/study/public.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Added Bamboo for mailing
  apps/bundles/link/mix.lock
  apps/core/config/dev.exs
  apps/core/config/test.exs
  apps/core/lib/core/mailer.ex
  apps/core/mix.exs
  apps/core/mix.lock
Due: mix-test, mix-format, mix-compile, mix-credo

Reload/recompile core and frameworks in dev
  apps/bundles/link/config/dev.exs
  apps/bundles/link/mix.exs
  apps/bundles/link/mix.lock
Due: mix-test, mix-format, mix-credo

Reload/recompile core and frameworks in dev (#52)
  apps/bundles/link/config/dev.exs
  apps/bundles/link/mix.exs
  apps/bundles/link/mix.lock
Due: mix-test, mix-format, mix-credo

Used Bamboo for email creation and sending
  apps/bundles/link/config/config.exs
  apps/bundles/link/lib/link_web/router.ex
  apps/bundles/link/mix.lock
  apps/core/.projections.json
  apps/core/config/config.exs
  apps/core/lib/core/accounts/email.ex
  apps/core/lib/core/accounts/email_view.ex
  apps/core/lib/core/accounts/templates/email/account_confirmation_instructions.html.eex
  apps/core/lib/core/accounts/templates/email/account_confirmation_instructions.text.eex
  apps/core/lib/core/accounts/templates/email/already_activated_notification.html.eex
  apps/core/lib/core/accounts/templates/email/already_activated_notification.text.eex
  apps/core/lib/core/accounts/templates/email/reset_password_instructions.html.eex
  apps/core/lib/core/accounts/templates/email/reset_password_instructions.text.eex
  apps/core/lib/core/accounts/templates/email/update_email_instructions.html.eex
  apps/core/lib/core/accounts/templates/email/update_email_instructions.text.eex
  apps/core/lib/core/accounts/user_notifier.ex
  apps/core/lib/core/email_layout_view.ex
  apps/core/lib/core/mailer.ex
  apps/core/lib/core/templates/email_layout/email.html.eex
  apps/core/lib/core/templates/email_layout/email.text.eex
  apps/core/mix.exs
  apps/core/mix.lock
  apps/core/test/core/accounts/email_test.exs
  apps/core/test/core/accounts/user_notifier_test.exs
  apps/core/test/support/helpers.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Path conditions:
  mix-test: any of: \.exs*$
  mix-format: any of: \.exs*$
  mix-compile: any of: \.ex$
  mix-credo: any of: \.exs*$
