Repository eyra/mono: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-test, mix-format, mix-compile, mix-credo

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: no-commit-to-branch
        args: [-b, master]
  - repo: local
    hooks:
      - id: mix-test
        name: "elixir: mix test"
        entry: mix test
        language: system
        pass_filenames: false
        files: \.exs*$

      - id: mix-format
        name: "elixir: mix format"
        entry: mix format --check-formatted
        language: system
        files: \.exs*$

      - id: mix-compile
        name: "elixir: mix compile"
        entry: mix compile --force --warnings-as-errors
        language: system
        pass_filenames: false
        files: \.ex$

      - id: mix-credo
        name: "elixir: mix credo"
        entry: mix credo
        language: system
        pass_filenames: false
        files: \.exs*$

Formatted code
  core/lib/core/image_catalog/unsplash.ex
  frameworks/green_light/lib/plug.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Avoid duplicate web-ready calls
  core/assets/js/app.js
Due: none

Added iOS push libs (APNS)
  core/mix.exs
  core/mix.lock
Due: mix-test, mix-format, mix-credo

Remove IO.inspect
  frameworks/eyra_ui/lib/components/old_skool.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Added iOS push libs (APNS) (#81)
  core/mix.exs
  core/mix.lock
Due: mix-test, mix-format, mix-credo

Added screen id when setting screen state
  core/assets/js/app.js
Due: none

Native wrapper support (#82)
  core/assets/js/app.js
  core/lib/core_web/templates/layout/root.html.leex
  frameworks/eyra_ui/lib/components/hero/hero_image.ex
  frameworks/eyra_ui/lib/components/hero/hero_large.ex
  frameworks/eyra_ui/lib/components/hero/hero_small.ex
  frameworks/eyra_ui/lib/components/old_skool.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Notification center (#79)
  core/assets/js/app.js
  core/assets/package-lock.json
  core/assets/package.json
  core/config/dev.exs
  core/config/runtime.exs
  core/lib/core/authorization.ex
  core/lib/core/factories.ex
  core/lib/core/mailer/email_view.ex
  core/lib/core/mailer/signal_handlers.ex
  core/lib/core/mailer/templates/email/new_notification.html.eex
  core/lib/core/mailer/templates/email/new_notification.text.eex
  core/lib/core/notification_center.ex
  core/lib/core/notification_center/box.ex
  core/lib/core/notification_center/notification.ex
  core/lib/core/notification_center/signal_handlers.ex
  core/lib/core/signals.ex
  core/lib/core/signals/handlers.ex
  core/lib/core/survey_tools.ex
  core/lib/core/web_push/signal_handlers.ex
  core/lib/core_web/live/notifications.ex
  core/lib/core_web/live/routes.ex
  core/lib/core_web/live/user/profile.ex
  core/lib/web_push.ex
  core/priv/repo/migrations/20210513135033_create_notifications.exs
  core/priv/static/images/eyra-logo-192.png
  core/priv/static/images/eyra-logo-512.png
  core/priv/static/images/eyra-logo-apple.png
  core/priv/static/manifest.json
  core/test/core/mailer/signal_handlers_test.exs
  core/test/core/notification_center_test.exs
  core/test/core/survey_tools_test.exs
  core/test/core/web_push/signal_handlers_test.exs
  core/test/core/web_push_test.exs
  core/test/core_web/live/notifications_test.exs
  deployment/roles/bundle/templates/bundle.service
  frameworks/green_light/lib/ecto/query.ex
  frameworks/green_light/lib/green_light.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Added initial APNS support
  core/lib/core/apns.ex
  core/lib/core/apns/backend.ex
  core/lib/core/apns/device_token.ex
  core/lib/core_web/controllers/apns_device_token_controller.ex
  core/lib/core_web/router.ex
  core/lib/core_web/routes.ex
  core/priv/repo/migrations/20210604083641_create_apns_device_tokens.exs
  core/test/core/apns_test.exs
  core/test/core_web/controllers/apns_device_token_controller_test.exs
  core/test/core_web/controllers/push_subscription_controller_test.exs
  core/test/test_helper.exs
Due: mix-test, mix-format, mix-compile, mix-credo

Added JavaScript to register a device token
  core/assets/js/apns.js
  core/assets/js/app.js
Due: none

Added signal handler for APNS
  core/lib/core/apns/signal_handlers.ex
  core/lib/core/signals.ex
  core/test/core/apns/signal_handlers_test.exs
Due: mix-test, mix-format, mix-compile, mix-credo

Removed some warnings
  core/test/core/apns_test.exs
  core/test/core_web/controllers/apns_device_token_controller_test.exs
Due: mix-test, mix-format, mix-credo

Added APNS push logging backend
  core/config/dev.exs
  core/lib/core/apns/logging_backend.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Allow toggling of a class to open / close the menu
  core/assets/js/app.js
  core/lib/core_web/templates/layout/root.html.leex
Due: none

Added button to native bridge
  core/assets/js/app.js
Due: none

Changed links to live redirects to improve speed
  core/lib/core_web/live/fake_survey.ex
  core/lib/core_web/live/study/public.ex
  core/lib/core_web/templates/layout/root.html.leex
  frameworks/eyra_ui/lib/components/button/back_button.ex
  frameworks/eyra_ui/lib/components/button/primary_button.ex
  frameworks/eyra_ui/lib/components/button/primary_icon_button.ex
  frameworks/eyra_ui/lib/components/button/primary_wide_button.ex
  frameworks/eyra_ui/lib/components/card/primary_cta.ex
  frameworks/eyra_ui/lib/components/old_skool.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Added Oban lib with web-push usage
  core/config/config.exs
  core/config/test.exs
  core/lib/core/application.ex
  core/lib/core/web_push.ex
  core/lib/core/web_push/worker.ex
  core/mix.exs
  core/mix.lock
  core/priv/repo/migrations/20210605085911_add_oban_jobs_table.exs
  core/test/core/web_push/signal_handlers_test.exs
  core/test/core/web_push/worker_test.exs
  core/test/core/web_push_test.exs
Due: mix-test, mix-format, mix-compile, mix-credo

Bump version for OS X fixes
  .tool-versions
Due: none

Changed links to live redirects to improve speed (#85)
  core/lib/core_web/live/fake_survey.ex
  core/lib/core_web/live/study/public.ex
  core/lib/core_web/templates/layout/root.html.leex
  frameworks/eyra_ui/lib/components/button/back_button.ex
  frameworks/eyra_ui/lib/components/button/primary_button.ex
  frameworks/eyra_ui/lib/components/button/primary_icon_button.ex
  frameworks/eyra_ui/lib/components/button/primary_wide_button.ex
  frameworks/eyra_ui/lib/components/card/primary_cta.ex
  frameworks/eyra_ui/lib/components/old_skool.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Allow toggling of a class to open / close the menu (#84)
  core/assets/js/app.js
  core/lib/core_web/templates/layout/root.html.leex
Due: none

Apns api (#83)
  core/assets/js/apns.js
  core/assets/js/app.js
  core/config/dev.exs
  core/lib/core/apns.ex
  core/lib/core/apns/backend.ex
  core/lib/core/apns/device_token.ex
  core/lib/core/apns/logging_backend.ex
  core/lib/core/apns/signal_handlers.ex
  core/lib/core/signals.ex
  core/lib/core_web/controllers/apns_device_token_controller.ex
  core/lib/core_web/router.ex
  core/lib/core_web/routes.ex
  core/priv/repo/migrations/20210604083641_create_apns_device_tokens.exs
  core/test/core/apns/signal_handlers_test.exs
  core/test/core/apns_test.exs
  core/test/core_web/controllers/apns_device_token_controller_test.exs
  core/test/core_web/controllers/push_subscription_controller_test.exs
  core/test/test_helper.exs
Due: mix-test, mix-format, mix-compile, mix-credo

Added Oban lib with web-push usage (#86)
  core/config/config.exs
  core/config/test.exs
  core/lib/core/application.ex
  core/lib/core/web_push.ex
  core/lib/core/web_push/worker.ex
  core/mix.exs
  core/mix.lock
  core/priv/repo/migrations/20210605085911_add_oban_jobs_table.exs
  core/test/core/web_push/signal_handlers_test.exs
  core/test/core/web_push/worker_test.exs
  core/test/core/web_push_test.exs
Due: mix-test, mix-format, mix-compile, mix-credo

Removed unused deploy config
  .github/workflows/deploy.yml
Due: none

Moved deployment scripts to seperate repo
  deployment/.gitignore
  deployment/README.md
  deployment/Vagrantfile
  deployment/deploy.yml
  deployment/linode.md
  deployment/roles/bundle/handlers/main.yml
  deployment/roles/bundle/meta/main.yml
  deployment/roles/bundle/tasks/elixir.yml
  deployment/roles/bundle/tasks/general.yml
  deployment/roles/bundle/tasks/main.yml
  deployment/roles/bundle/tasks/nodejs.yml
  deployment/roles/bundle/templates/apt-daily.timer.override.conf
  deployment/roles/bundle/templates/bundle.service
  deployment/roles/bundle/templates/notify_slack_on_shutdown.service
  deployment/roles/bundle/templates/notify_slack_on_shutdown.sh
  deployment/roles/bundle/templates/pam_slack.sh
  deployment/roles/bundle/templates/sshd_config
  deployment/roles/bundle/templates/unattended-upgrades.conf
  deployment/roles/bundle/vars/main.yml
  deployment/site.yml
  deployment/system.yml
  deployment/tasks/postgresql.yml
Due: none

Fixed data uploader scripts
  core/assets/js/pyworker.js
  core/assets/webpack.config.js
  core/priv/repo/script.py
  core/priv/repo/seeds.exs
Due: mix-test, mix-format, mix-credo

Allow active bundle selection with local file
  core/.gitignore
  core/config/config.exs
Due: mix-test, mix-format, mix-credo

Updated dependencies
  core/.gitignore
  core/mix.exs
  core/mix.lock
  core/priv/cldr/locales/nl.json
  frameworks/eyra_ui/lib/components/form/field.ex
  frameworks/eyra_ui/mix.exs
  frameworks/eyra_ui/mix.lock
Due: mix-test, mix-format, mix-compile, mix-credo

Fixed data uploader scripts (#87)
  core/assets/js/pyworker.js
  core/assets/webpack.config.js
  core/priv/repo/script.py
  core/priv/repo/seeds.exs
Due: mix-test, mix-format, mix-credo

Allow active bundle selection with local file (#88)
  core/.gitignore
  core/config/config.exs
Due: mix-test, mix-format, mix-credo

Updated dependencies (#89)
  core/.gitignore
  core/mix.exs
  core/mix.lock
  core/priv/cldr/locales/nl.json
  frameworks/eyra_ui/lib/components/form/field.ex
  frameworks/eyra_ui/mix.exs
  frameworks/eyra_ui/mix.lock
Due: mix-test, mix-format, mix-compile, mix-credo

Google semantic location history (#1)
  .github/workflows/on_pull_request.yml
  data_extractor/.flake8
  data_extractor/.pylintrc
  data_extractor/data_extractor/__init__.py
  data_extractor/google_semantic_location_history/__init__.py
  data_extractor/google_semantic_location_history/main.py
  data_extractor/poetry.lock
  data_extractor/pyproject.toml
  data_extractor/tests/test_google_semantic_location_history.py
  pyworker.js
Due: none

Updated code to output data frames
  .tool-versions
  data_extractor/.gitignore
  data_extractor/README.rst
  data_extractor/dist/data_extractor-0.1.0-py3-none-any.whl
  data_extractor/dist/data_extractor-0.1.0.tar.gz
  data_extractor/google_semantic_location_history/__init__.py
  data_extractor/poetry.lock
  data_extractor/pyproject.toml
  data_extractor/tests/test_google_semantic_location_history.py
  index.html
  pyworker.js
Due: none

User data uploader now uses LiveView
  .tool-versions
  core/assets/js/app.js
  core/assets/js/python_data_loader.js
  core/lib/core/authorization.ex
  core/lib/core_web/controllers/data_loader_controller.ex
  core/lib/core_web/live/data_uploader/routes.ex
  core/lib/core_web/live/data_uploader/uploader.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Formatted
  core/lib/core/bundle_overrides.ex
  core/lib/core/content/node.ex
  core/lib/core/content/nodes.ex
  core/lib/core/data_donation/tools.ex
  core/lib/core/factories.ex
  core/lib/core/promotions.ex
  core/lib/core/promotions/call_to_action.ex
  core/lib/core/promotions/form_data.ex
  core/lib/core/studies.ex
  core/lib/core_web/file_uploader.ex
  core/lib/core_web/live/dashboard.ex
  core/lib/core_web/live/data_donation/content.ex
  core/lib/core_web/live/data_donation/content_formx.ex
  core/lib/core_web/live/data_donation/form.ex
  core/lib/core_web/live/data_donation/promotion_plugin.ex
  core/lib/core_web/live/data_donation/routes.ex
  core/lib/core_web/live/promotion/form.ex
  core/lib/core_web/live/promotion/plugin.ex
  core/lib/core_web/live_form.ex
  core/lib/core_web/view_model/card.ex
  frameworks/eyra_ui/lib/auto_save.ex
  frameworks/eyra_ui/lib/components/button/primary_live_view_button.ex
  frameworks/eyra_ui/lib/components/selectors/label_selector.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Store the results of a client script & show dataframe tables
  core/assets/js/app.js
  core/assets/js/pyworker.js
  core/lib/core/data_uploader.ex
  core/lib/core/data_uploader/user_data.ex
  core/lib/core/factories.ex
  core/lib/core_web/live/data_uploader/uploader.ex
  core/priv/repo/migrations/20210620092414_create_data_uploader_user_data.exs
  core/priv/repo/script.py
  core/test/core/data_uploader_test.exs
Due: mix-test, mix-format, mix-compile, mix-credo

Added license file
  COPYING.md
Due: none

WIP Promotion Page
  core/lib/core/authorization.ex
  core/lib/core/data_donation/task.ex
  core/lib/core/data_donation/tools.ex
  core/lib/core/promotions/call_to_action.ex
  core/lib/core/promotions/promotion.ex
  core/lib/core/studies.ex
  core/lib/core_web/live/dashboard.ex
  core/lib/core_web/live/data_donation/promotion_plugin.ex
  core/lib/core_web/live/data_donation/routes.ex
  core/lib/core_web/live/promotion/plugin.ex
  core/lib/core_web/live/promotion/public.ex
  core/lib/core_web/live/promotion/routes.ex
  core/lib/core_web/live/routes.ex
  core/priv/gettext/en/LC_MESSAGES/eyra-dashboard.po
  core/priv/gettext/en/LC_MESSAGES/eyra-data-donation.po
  core/priv/gettext/en/LC_MESSAGES/eyra-promotion.po
  core/priv/gettext/en/LC_MESSAGES/eyra-survey.po
  core/priv/gettext/en/LC_MESSAGES/eyra-ui.po
  core/priv/gettext/eyra-dashboard.pot
  core/priv/gettext/eyra-data-donation.pot
  core/priv/gettext/eyra-promotion.pot
  core/priv/gettext/eyra-survey.pot
  core/priv/gettext/eyra-ui.pot
  core/priv/gettext/nl/LC_MESSAGES/eyra-dashboard.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-data-donation.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-promotion.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-survey.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-ui.po
  core/priv/repo/migrations/20210607120324_port_demo.exs
Due: mix-test, mix-format, mix-compile, mix-credo

Formatted code
  core/lib/core/promotions/promotion.ex
  core/lib/core_web/live/data_donation/promotion_plugin.ex
  core/lib/core_web/live/promotion/plugin.ex
Due: mix-test, mix-format, mix-compile, mix-credo
