Repository eyra/mono: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-test, mix-format, mix-compile, mix-credo

mix-test:
  name: 'elixir: mix test'
  entry: mix test
  language: system
  pass_filenames: false

mix-format:
  name: 'elixir: mix format'
  entry: mix format --check-formatted
  language: system

mix-compile:
  name: 'elixir: mix compile'
  entry: mix compile --force --warnings-as-errors
  language: system
  pass_filenames: false

mix-credo:
  name: 'elixir: mix credo'
  entry: mix credo
  language: system
  pass_filenames: false

Fixed bug in reverting deposits in expiration worker
  core/assets/package-lock.json
  core/bundles/link/lib/debug.ex
  core/config/config.exs
  core/systems/assignment/context.ex
  core/systems/budget/context.ex
  core/systems/budget/reward_model.ex
  core/systems/campaign/expiration_worker.ex
  core/test/systems/assignment/context_test.exs
  core/test/systems/budget/context_test.exs
Due: mix-test, mix-format, mix-compile, mix-credo

Formatted code
  core/lib/core/application.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Fixed issue with wrongly excluding campaign with expired crew member/task
  core/systems/assignment/context.ex
  core/test/systems/assignment/context_test.exs
Due: mix-test, mix-format, mix-compile, mix-credo

Fixed bug in import rewards page
  core/systems/admin/import_rewards_page.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Added debug content for migrate and start script
  core/scripts/migrate-and-start
Due: none

Added debug commands to Docker run script
  core/scripts/migrate-and-start
Due: none

remove debug statements
  core/scripts/migrate-and-start
Due: none

Fixed rewarded amount for payments before 2022-07-13 (before RewardModel)
  core/priv/repo/migrations/20221012081901_refactor_pools_part_5.exs
  core/systems/budget/context.ex
Due: mix-test, mix-format, mix-compile, mix-credo

debug test
  core/scripts/migrate-and-start
Due: none

Fixed CSS build
  core/Dockerfile
Due: none

Update to latest version of Port App
  core/assets/js/port.js
  core/assets/package-lock.json
  core/systems/data_donation/port_page.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Fix checkin issue when search query hits expired member/task
  core/systems/lab/check_in_view.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Added excluded campaigns on pool submission page
  core/priv/gettext/en/LC_MESSAGES/link-studentpool.po
  core/priv/gettext/link-studentpool.pot
  core/priv/gettext/nl/LC_MESSAGES/link-studentpool.po
  core/systems/campaign/builders/campaign_content_page.ex
  core/systems/campaign/context.ex
  core/systems/data_donation/port_page.ex
  core/systems/pool/builders/campaign_item.ex
  core/systems/pool/builders/detail_page.ex
  core/systems/pool/builders/submission_page.ex
  core/systems/pool/pages/submission_page.ex
  core/test/systems/pool/criteria_model_test.exs
Due: mix-test, mix-format, mix-compile, mix-credo

Changed copy
  core/priv/gettext/en/LC_MESSAGES/link-studentpool.po
  core/priv/gettext/nl/LC_MESSAGES/link-studentpool.po
Due: none

Added Azure Blob integration
  core/assets/js/port.js
  core/config/dev.exs
  core/config/runtime.exs
  core/mix.exs
  core/mix.lock
  core/systems/data_donation/azure_storage_backend.ex
  core/systems/data_donation/context.ex
  core/systems/data_donation/default_controller.ex
  core/systems/data_donation/port_model.ex
  core/systems/data_donation/port_model_data.ex
  core/systems/data_donation/port_page.ex
  core/systems/data_donation/routes.ex
  core/systems/data_donation/tool_form.ex
  core/test/systems/data_donation/upload_page_test.exs
Due: mix-test, mix-format, mix-compile, mix-credo

Added support for async persistent delivery of donated data using Oban
  core/config/config.exs
  core/config/dev.exs
  core/systems/data_donation/azure_storage_backend.ex
  core/systems/data_donation/delivery.ex
  core/systems/data_donation/donate_page.ex
  core/systems/data_donation/flow_page.ex
  core/systems/data_donation/port_model.ex
  core/systems/data_donation/port_model_data.ex
  core/systems/data_donation/port_page.ex
  core/systems/data_donation/s3_storage_backend.ex
  core/test/systems/data_donation/s3_storage_backend_test.exs
Due: mix-test, mix-format, mix-compile, mix-credo

Fixed reject->rollback-deposit issue
  core/systems/assignment/context.ex
  core/systems/campaign/monitor_view.ex
  core/systems/crew/context.ex
  core/systems/pool/pages/submission_page.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Added new whatsapp scripts for LISS Panel
  core/assets/yarn.lock
  core/priv/repo/whatsapp_account.py
  core/priv/repo/whatsapp_chat.py
  core/systems/data_donation/model_data.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Integrated latest Port app after redesign
  core/assets/package-lock.json
  core/assets/static/images/icons/port_wide.svg
  core/lib/core_web/live/layouts/app/component.ex
  core/lib/core_web/ui/navigation/desktop_navbar.ex
  core/systems/data_donation/port_page.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Integrated latest Port app with adjusted donation key
  core/assets/js/port.js
  core/assets/package-lock.json
  core/systems/data_donation/azure_storage_backend.ex
  core/systems/data_donation/port_page.ex
Due: mix-test, mix-format, mix-compile, mix-credo

New release with the latest 3di-infra/port-pilot app as dependency
  core/assets/package-lock.json
  core/assets/package.json
Due: none

Added support for Port python packages
  core/assets/js/port.js
  core/assets/package-lock.json
  core/assets/webpack.config.js
  core/lib/core_web/endpoint.ex
  core/priv/static/images/en.svg
  core/priv/static/images/nl.svg
  package-lock.json
Due: mix-test, mix-format, mix-compile, mix-credo

[WIP] Rate limiter
  core/lib/core/application.ex
  core/systems/rate/_private.ex
  core/systems/rate/_public.ex
  core/systems/rate/algorithm.ex
  core/systems/rate/bucket.ex
  core/systems/rate/leaky_bucket_algorithm.ex
  core/systems/rate/leaky_bucket_state.ex
  core/systems/rate/quota.ex
  core/systems/rate/service.ex
Due: mix-test, mix-format, mix-compile, mix-credo

[WIP] Rate limiter II
  core/systems/rate/_private.ex
  core/systems/rate/_public.ex
  core/systems/rate/algorithm.ex
  core/systems/rate/bucket.ex
  core/systems/rate/leaky_bucket_algorithm.ex
  core/systems/rate/leaky_bucket_state.ex
  core/systems/rate/quota.ex
  core/systems/rate/service.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Rename repo: eylixir => mono
  README.md
  banking_proxy/README.md
  core/mix.exs
Due: mix-test, mix-format, mix-credo

Formatted code
  core/config/runtime.exs
Due: mix-test, mix-format, mix-credo

Update readme
  README.md
Due: none

Update README.md
  README.md
Due: none

Bumped Port app version
  core/assets/package-lock.json
Due: none

Added rate limiting
  core/assets/package-lock.json
  core/bundles/link/config/config.exs
  core/config/config.exs
  core/config/dev.exs
  core/frameworks/pixel/components/text/bullet.ex
  core/lib/core/application.ex
  core/lib/core_web/live_remote_ip.ex
  core/lib/core_web/routes.ex
  core/systems/data_donation/port_page.ex
  core/systems/rate/_private.ex
  core/systems/rate/_public.ex
  core/systems/rate/algorithm.ex
  core/systems/rate/bucket.ex
  core/systems/rate/leaky_bucket.ex
  core/systems/rate/leaky_bucket_algorithm.ex
  core/systems/rate/leaky_bucket_state.ex
  core/systems/rate/quota.ex
  core/systems/rate/server.ex
  core/systems/rate/service.ex
  core/test/systems/rate/leaky_bucket_algorithm_test.exs
Due: mix-test, mix-format, mix-compile, mix-credo

Added logging to test remote_ip on Azure env
  core/systems/data_donation/port_page.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Rename to mono
  banking_proxy/README.md
  core/mix.exs
Due: mix-test, mix-format, mix-credo

Formatted code
  core/systems/data_donation/port_page.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Added RemoteIp plug to support working behind proxies
  core/lib/core_web/routes.ex
  core/mix.exs
  core/mix.lock
  core/systems/data_donation/port_page.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Removed temp remote ip logging
  core/systems/data_donation/port_page.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Path conditions:
  mix-test: any of: \.exs*$
  mix-format: any of: \.exs*$
  mix-compile: any of: \.ex$
  mix-credo: any of: \.exs*$
