Repository eyra/mono: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-test, mix-format, mix-compile, mix-credo

mix-test:
  name: 'elixir: mix test'
  entry: mix test
  language: system
  pass_filenames: false

mix-format:
  name: 'elixir: mix format'
  entry: mix format --check-formatted
  language: system

mix-compile:
  name: 'elixir: mix compile'
  entry: mix compile --force --warnings-as-errors
  language: system
  pass_filenames: false

mix-credo:
  name: 'elixir: mix credo'
  entry: mix credo
  language: system
  pass_filenames: false

add @derive Jason.Encoder to Core.Account.User to prevent crash on HA/Cluster setup
  core/assets/package-lock.json
  core/lib/core/accounts/user.ex
Due: mix-test, mix-format, mix-compile, mix-credo

changed @derive Jason.Encoder to Core.Account.User
  core/lib/core/accounts/user.ex
  core/test/core/accounts_test.exs
Due: mix-test, mix-format, mix-compile, mix-credo

Formatted code
  core/lib/core/accounts/user.ex
  core/test/core/accounts_test.exs
Due: mix-test, mix-format, mix-compile, mix-credo

deploy: 68de1f2706c34c65f0e120c8c85f5826537c7d08
  banking_proxy/BankingProxy.html
  banking_proxy/Bunq.HTTP.html
  banking_proxy/banking_proxy.epub
  core/Core.Accounts.html
  core/CoreWeb.Cldr.AcceptLanguage.html
  core/CoreWeb.Cldr.Currency.html
  core/CoreWeb.Cldr.Date.Interval.html
  core/CoreWeb.Cldr.Date.html
  core/CoreWeb.Cldr.DateTime.Format.html
  core/CoreWeb.Cldr.DateTime.Formatter.html
  core/CoreWeb.Cldr.DateTime.Interval.html
  core/CoreWeb.Cldr.DateTime.Relative.html
  core/CoreWeb.Cldr.DateTime.html
  core/CoreWeb.Cldr.Interval.html
  core/CoreWeb.Cldr.Locale.html
  core/CoreWeb.Cldr.Number.Cardinal.html
  core/CoreWeb.Cldr.Number.Format.html
  core/CoreWeb.Cldr.Number.Ordinal.html
  core/CoreWeb.Cldr.Number.Symbol.html
  core/CoreWeb.Cldr.Number.System.html
  core/CoreWeb.Cldr.Number.Transliterate.html
  core/CoreWeb.Cldr.Number.html
  core/CoreWeb.Cldr.Rbnf.NumberSystem.html
  core/CoreWeb.Cldr.Rbnf.Ordinal.html
  core/CoreWeb.Cldr.Rbnf.Spellout.html
  core/CoreWeb.Cldr.Time.Interval.html
  core/CoreWeb.Cldr.Time.html
  core/CoreWeb.Cldr.html
  core/CoreWeb.Gettext.html
  core/Frameworks.Utility.HTTPClient.html
  core/Systems.Campaign.Public.html
  core/core.epub
Due: none

deploy: 95df21e491bbfad7b7216a7e9e949f25e780d57a
  banking_proxy/BankingProxy.html
  banking_proxy/Bunq.HTTP.html
  banking_proxy/banking_proxy.epub
  core/Core.Accounts.html
  core/CoreWeb.Cldr.AcceptLanguage.html
  core/CoreWeb.Cldr.Currency.html
  core/CoreWeb.Cldr.Date.Interval.html
  core/CoreWeb.Cldr.Date.html
  core/CoreWeb.Cldr.DateTime.Format.html
  core/CoreWeb.Cldr.DateTime.Formatter.html
  core/CoreWeb.Cldr.DateTime.Interval.html
  core/CoreWeb.Cldr.DateTime.Relative.html
  core/CoreWeb.Cldr.DateTime.html
  core/CoreWeb.Cldr.Interval.html
  core/CoreWeb.Cldr.Locale.html
  core/CoreWeb.Cldr.Number.Cardinal.html
  core/CoreWeb.Cldr.Number.Format.html
  core/CoreWeb.Cldr.Number.Ordinal.html
  core/CoreWeb.Cldr.Number.Symbol.html
  core/CoreWeb.Cldr.Number.System.html
  core/CoreWeb.Cldr.Number.Transliterate.html
  core/CoreWeb.Cldr.Number.html
  core/CoreWeb.Cldr.Rbnf.NumberSystem.html
  core/CoreWeb.Cldr.Rbnf.Ordinal.html
  core/CoreWeb.Cldr.Rbnf.Spellout.html
  core/CoreWeb.Cldr.Time.Interval.html
  core/CoreWeb.Cldr.Time.html
  core/CoreWeb.Cldr.html
  core/CoreWeb.Gettext.html
  core/Frameworks.Utility.HTTPClient.html
  core/Systems.Campaign.Public.html
  core/core.epub
Due: none

Fixed build warning
  core/frameworks/fabric/live_view.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Made consent optional in assignment settings
  core/frameworks/pixel/components/switch.ex
  core/priv/gettext/en/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/en/LC_MESSAGES/eyra-project.po
  core/priv/gettext/eyra-assignment.pot
  core/priv/gettext/eyra-project.pot
  core/priv/gettext/nl/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-project.po
  core/systems/assignment/_public.ex
  core/systems/assignment/content_page_builder.ex
  core/systems/assignment/crew_page_builder.ex
  core/systems/assignment/gdpr_form.ex
  core/systems/assignment/model.ex
  core/systems/assignment/panel_form.ex
  core/systems/assignment/settings_view.ex
  core/systems/benchmark/content_page_builder.ex
  core/systems/consent/revision_form.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Publishing of assignment
  core/bundles/next/lib/menu/items.ex
  core/lib/core/accounts.ex
  core/lib/core_web/controllers/user_auth.ex
  core/lib/core_web/live/menu/builder.ex
  core/lib/external_sign_in.ex
  core/lib/external_sign_in/user.ex
  core/priv/gettext/en/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-assignment.po
  core/priv/repo/migrations/20231120165201_add_external_user.exs
  core/systems/assignment/_public.ex
  core/systems/assignment/content_page_builder.ex
  core/systems/assignment/crew_page_builder.ex
  core/systems/assignment/external_panel_controller.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Changed external email address with +
  core/lib/external_sign_in.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Fixed issue with add_child for existing child
  core/frameworks/fabric.ex
  core/priv/gettext/en/LC_MESSAGES/eyra-project.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-project.po
  core/systems/assignment/crew_page.ex
  core/systems/project/tool_ref_view.ex
  core/systems/workflow/work_list_view.ex
  core/test/frameworks/fabric/test.exs
Due: mix-test, mix-format, mix-compile, mix-credo

Fixed issue with state loose in crew page after workflow was changed
  core/frameworks/fabric.ex
  core/frameworks/fabric/live_component.ex
  core/systems/assignment/crew_page.ex
  core/systems/assignment/crew_work_view.ex
  core/systems/workflow/item_views.ex
  core/systems/workflow/work_list_view.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Changed runtime app config
  core/config/runtime.exs
Due: mix-test, mix-format, mix-credo

Made sure to skip directories while upload feldspar zip file to S3
  core/systems/feldspar/s3.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Fixed bump of consent revision
  core/lib/external_sign_in.ex
  core/priv/gettext/en/LC_MESSAGES/eyra-consent.po
  core/priv/gettext/eyra-consent.pot
  core/priv/gettext/nl/LC_MESSAGES/eyra-consent.po
  core/systems/assignment/crew_page_builder.ex
  core/systems/assignment/gdpr_form.ex
  core/systems/consent/_public.ex
  core/systems/consent/revision_form.ex
  core/test/systems/consent/_public_test.exs
Due: mix-test, mix-format, mix-compile, mix-credo

Added logging to debug feldspar s3 backend
  core/systems/feldspar/app_page.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Add some logging and fixed extra index.html postfix
  core/systems/feldspar/app_page.ex
  core/systems/feldspar/s3.ex
  core/test/systems/feldspar/s3_test.exs
Due: mix-test, mix-format, mix-compile, mix-credo

Add some logging
  core/config/runtime.exs
  core/systems/feldspar/s3.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Changed content type
  core/systems/feldspar/s3.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Changed timeout
  core/systems/feldspar/s3.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Formatted code
  core/systems/feldspar/s3.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Fixed mime type S3 issue
  core/config/dev.exs
  core/systems/assignment/start_view.ex
  core/systems/feldspar/s3.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Changed Twitter to X
  core/priv/gettext/en/LC_MESSAGES/eyra-enums.po
  core/priv/gettext/eyra-enums.pot
  core/priv/gettext/nl/LC_MESSAGES/eyra-enums.po
  core/systems/workflow/platforms.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Added MIMI library to take care of S3 mime types fort Feldspar
  core/mix.exs
  core/mix.lock
  core/systems/feldspar/s3.ex
Due: mix-test, mix-format, mix-compile, mix-credo

deploy: 9502d10335ae7c758112fb34dd9b1a3bd048e348
  banking_proxy/BankingProxy.html
  banking_proxy/Bunq.HTTP.html
  banking_proxy/banking_proxy.epub
  core/Core.Accounts.html
  core/CoreWeb.Cldr.AcceptLanguage.html
  core/CoreWeb.Cldr.Currency.html
  core/CoreWeb.Cldr.Date.Interval.html
  core/CoreWeb.Cldr.Date.html
  core/CoreWeb.Cldr.DateTime.Format.html
  core/CoreWeb.Cldr.DateTime.Formatter.html
  core/CoreWeb.Cldr.DateTime.Interval.html
  core/CoreWeb.Cldr.DateTime.Relative.html
  core/CoreWeb.Cldr.DateTime.html
  core/CoreWeb.Cldr.Interval.html
  core/CoreWeb.Cldr.Locale.html
  core/CoreWeb.Cldr.Number.Cardinal.html
  core/CoreWeb.Cldr.Number.Format.html
  core/CoreWeb.Cldr.Number.Ordinal.html
  core/CoreWeb.Cldr.Number.Symbol.html
  core/CoreWeb.Cldr.Number.System.html
  core/CoreWeb.Cldr.Number.Transliterate.html
  core/CoreWeb.Cldr.Number.html
  core/CoreWeb.Cldr.Rbnf.NumberSystem.html
  core/CoreWeb.Cldr.Rbnf.Ordinal.html
  core/CoreWeb.Cldr.Rbnf.Spellout.html
  core/CoreWeb.Cldr.Time.Interval.html
  core/CoreWeb.Cldr.Time.html
  core/CoreWeb.Cldr.html
  core/CoreWeb.Gettext.html
  core/Frameworks.Utility.HTTPClient.html
  core/Systems.Campaign.Public.html
  core/core.epub
Due: none

deploy: b187cbf60b040ea34a173484b6e04110a96d2b7f
  banking_proxy/BankingProxy.html
  banking_proxy/Bunq.HTTP.html
  banking_proxy/banking_proxy.epub
  core/Core.Accounts.html
  core/CoreWeb.Cldr.AcceptLanguage.html
  core/CoreWeb.Cldr.Currency.html
  core/CoreWeb.Cldr.Date.Interval.html
  core/CoreWeb.Cldr.Date.html
  core/CoreWeb.Cldr.DateTime.Format.html
  core/CoreWeb.Cldr.DateTime.Formatter.html
  core/CoreWeb.Cldr.DateTime.Interval.html
  core/CoreWeb.Cldr.DateTime.Relative.html
  core/CoreWeb.Cldr.DateTime.html
  core/CoreWeb.Cldr.Interval.html
  core/CoreWeb.Cldr.Locale.html
  core/CoreWeb.Cldr.Number.Cardinal.html
  core/CoreWeb.Cldr.Number.Format.html
  core/CoreWeb.Cldr.Number.Ordinal.html
  core/CoreWeb.Cldr.Number.Symbol.html
  core/CoreWeb.Cldr.Number.System.html
  core/CoreWeb.Cldr.Number.Transliterate.html
  core/CoreWeb.Cldr.Number.html
  core/CoreWeb.Cldr.Rbnf.NumberSystem.html
  core/CoreWeb.Cldr.Rbnf.Ordinal.html
  core/CoreWeb.Cldr.Rbnf.Spellout.html
  core/CoreWeb.Cldr.Time.Interval.html
  core/CoreWeb.Cldr.Time.html
  core/CoreWeb.Cldr.html
  core/CoreWeb.Gettext.html
  core/Frameworks.Utility.HTTPClient.html
  core/Systems.Campaign.Public.html
  core/Systems.Feldspar.S3.html
  core/core.epub
Due: none

Pass locale to feldspar app
  core/assets/js/feldspar_app.js
  core/lib/core_web/live_locale.ex
  core/systems/feldspar/app_page.ex
  core/systems/feldspar/app_view.ex
  core/systems/feldspar/tool_model.ex
Due: mix-test, mix-format, mix-compile, mix-credo

deploy: 35e534b21f417e0a516547090926829b2c75d9f5
  banking_proxy/BankingProxy.html
  banking_proxy/Bunq.HTTP.html
  banking_proxy/banking_proxy.epub
  core/.build
  core/Core.Accounts.html
  core/CoreWeb.Cldr.AcceptLanguage.html
  core/CoreWeb.Cldr.Currency.html
  core/CoreWeb.Cldr.Date.Interval.html
  core/CoreWeb.Cldr.Date.html
  core/CoreWeb.Cldr.DateTime.Format.html
  core/CoreWeb.Cldr.DateTime.Formatter.html
  core/CoreWeb.Cldr.DateTime.Interval.html
  core/CoreWeb.Cldr.DateTime.Relative.html
  core/CoreWeb.Cldr.DateTime.html
  core/CoreWeb.Cldr.Interval.html
  core/CoreWeb.Cldr.Locale.html
  core/CoreWeb.Cldr.Number.Cardinal.html
  core/CoreWeb.Cldr.Number.Format.html
  core/CoreWeb.Cldr.Number.Ordinal.html
  core/CoreWeb.Cldr.Number.Symbol.html
  core/CoreWeb.Cldr.Number.System.html
  core/CoreWeb.Cldr.Number.Transliterate.html
  core/CoreWeb.Cldr.Number.html
  core/CoreWeb.Cldr.Rbnf.NumberSystem.html
  core/CoreWeb.Cldr.Rbnf.Ordinal.html
  core/CoreWeb.Cldr.Rbnf.Spellout.html
  core/CoreWeb.Cldr.Time.Interval.html
  core/CoreWeb.Cldr.Time.html
  core/CoreWeb.Cldr.html
  core/CoreWeb.Gettext.html
  core/Frameworks.Utility.HTTPClient.html
  core/Systems.Campaign.Public.html
  core/Systems.Feldspar.AppView.html
  core/core.epub
  core/dist/search_items-2067C939.js
  core/dist/search_items-429F2C0E.js
  core/search.html
Due: none

Path conditions:
  mix-test: any of: \.exs*$
  mix-format: any of: \.exs*$
  mix-compile: any of: \.ex$
  mix-credo: any of: \.exs*$
