Repository eyra/mono: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-test, mix-format, mix-compile, mix-credo

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: no-commit-to-branch
        args: [-b, master]
  - repo: local
    hooks:
      - id: mix-test
        name: "elixir: mix test"
        entry: mix test
        language: system
        pass_filenames: false
        files: \.exs*$

      - id: mix-format
        name: "elixir: mix format"
        entry: mix format --check-formatted
        language: system
        files: \.exs*$

      - id: mix-compile
        name: "elixir: mix compile"
        entry: mix compile --force --warnings-as-errors
        language: system
        pass_filenames: false
        files: \.ex$

      - id: mix-credo
        name: "elixir: mix credo"
        entry: mix credo
        language: system
        pass_filenames: false
        files: \.exs*$

Fix .env
  .devcontainer/devcontainer.json
  .gitignore
Due: none

Implemented components structure (reusable html components)
  lib/link_web.ex
  lib/link_web/components/component_helpers.ex
  lib/link_web/components/form_field/form_field.ex
  lib/link_web/components/form_field/templates/input.html.eex
  lib/link_web/router.ex
  lib/link_web/templates/layout/app.html.eex
  lib/link_web/templates/page/index.html.eex
  lib/link_web/templates/pow/registration/new.html.eex
  lib/link_web/templates/pow/session/new.html.eex
  mix.exs
  priv/gettext/en/LC_MESSAGES/eyra-account.po
  priv/gettext/en/LC_MESSAGES/eyra-ux.po
  priv/gettext/eyra-account.pot
  priv/gettext/eyra-ux.pot
  priv/gettext/nl/LC_MESSAGES/eyra-account.po
  priv/gettext/nl/LC_MESSAGES/eyra-ux.po
Due: mix-test, mix-format, mix-compile, mix-credo

Added custom_button + message components
  lib/link_web/components/component_helpers.ex
  lib/link_web/components/custom_button/custom_button.ex
  lib/link_web/components/custom_button/templates/back.html.eex
  lib/link_web/components/custom_button/templates/link.html.eex
  lib/link_web/components/custom_button/templates/primary.html.eex
  lib/link_web/components/custom_button/templates/primary_icon.html.eex
  lib/link_web/components/custom_button/templates/submit.html.eex
  lib/link_web/components/message/message.ex
  lib/link_web/components/message/templates/warning.html.eex
  lib/link_web/templates/pow/registration/new.html.eex
  lib/link_web/templates/pow/session/new.html.eex
Due: mix-test, mix-format, mix-compile, mix-credo

Implemented pow edit view + changed redirect path after logout
  lib/link_web/components/component_helpers.ex
  lib/link_web/pow/routes.ex
  lib/link_web/templates/page/index.html.eex
  lib/link_web/templates/pow/registration/edit.html.eex
  lib/link_web/templates/pow/registration/new.html.eex
  priv/gettext/en/LC_MESSAGES/eyra-account.po
  priv/gettext/en/LC_MESSAGES/eyra-link.po
  priv/gettext/en/LC_MESSAGES/eyra-ux.po
  priv/gettext/eyra-account.pot
  priv/gettext/eyra-link.pot
  priv/gettext/eyra-ux.pot
  priv/gettext/nl/LC_MESSAGES/eyra-account.po
  priv/gettext/nl/LC_MESSAGES/eyra-link.po
  priv/gettext/nl/LC_MESSAGES/eyra-ux.po
Due: mix-test, mix-format, mix-compile, mix-credo

Added i18n support
  README.md
  lib/link_web.ex
  lib/link_web/cldr.ex
  lib/link_web/controllers/language_switch_controller.ex
  lib/link_web/router.ex
  lib/link_web/templates/layout/app.html.eex
  lib/link_web/templates/page/index.html.eex
  mix.exs
  mix.lock
  priv/gettext/default.pot
  priv/gettext/en/LC_MESSAGES/default.po
  priv/gettext/nl/LC_MESSAGES/default.mo
  priv/gettext/nl/LC_MESSAGES/default.po
  priv/gettext/nl/LC_MESSAGES/errors.po
  priv/gettext/nl/LC_MESSAGES/nl.mo
Due: mix-test, mix-format, mix-compile, mix-credo

Use ASDF instead of Docker for development
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
  .github/workflows/docs.yml
  .github/workflows/test.yml
  .gitignore
  .tool-versions
  .vscode/settings.json
  config/config.secret.exs
  config/dev.exs
  config/test.exs
  guides/development_setup.md
  mix.exs
  setup.sh
Due: mix-test, mix-format, mix-credo

Added sign-out button as primary button
  lib/link_web/components/component_helpers.ex
  lib/link_web/components/custom_button/templates/primary.html.eex
  lib/link_web/components/custom_button/templates/primary_icon.html.eex
  lib/link_web/pow/routes.ex
  lib/link_web/templates/layout/app.html.eex
  priv/gettext/en/LC_MESSAGES/eyra-account.po
  priv/gettext/en/LC_MESSAGES/eyra-link.po
  priv/gettext/eyra-account.pot
  priv/gettext/eyra-link.pot
  priv/gettext/nl/LC_MESSAGES/eyra-account.po
  priv/gettext/nl/LC_MESSAGES/eyra-link.po
Due: mix-test, mix-format, mix-compile, mix-credo

Little improvement of landing page
  assets/.DS_Store
  assets/static/.DS_Store
  assets/static/images/illustration.svg
  assets/tailwind.config.js
  lib/link_web/templates/page/index.html.eex
  priv/gettext/en/LC_MESSAGES/eyra-link.po
  priv/gettext/eyra-link.pot
  priv/gettext/nl/LC_MESSAGES/eyra-link.po
Due: none

Tweaks to setup script for ASDF
  .tool-versions
  assets/package-lock.json
  guides/development_setup.md
  setup.sh
Due: none

Added i18n support (#14)
  guides/development_setup.md
  lib/link_web.ex
  lib/link_web/cldr.ex
  lib/link_web/controllers/language_switch_controller.ex
  lib/link_web/router.ex
  lib/link_web/templates/layout/app.html.eex
  lib/link_web/templates/page/index.html.eex
  mix.exs
  mix.lock
  priv/cldr/locales/nl.json
  priv/gettext/default.pot
  priv/gettext/en/LC_MESSAGES/default.po
  priv/gettext/nl/LC_MESSAGES/default.mo
  priv/gettext/nl/LC_MESSAGES/default.po
  priv/gettext/nl/LC_MESSAGES/errors.po
  priv/gettext/nl/LC_MESSAGES/nl.mo
Due: mix-test, mix-format, mix-compile, mix-credo

Removed support for SetLocale
  lib/link_web/router.ex
  lib/link_web/templates/layout/app.html.eex
  lib/link_web/templates/page/index.html.eex
  lib/link_web/templates/pow/registration/edit.html.eex
  lib/link_web/templates/pow/registration/new.html.eex
  lib/link_web/templates/pow/session/new.html.eex
  mix.exs
  mix.lock
Due: mix-test, mix-format, mix-compile, mix-credo

Fixed unit tests
  test/link_web/controllers/page_controller_test.exs
  test/link_web/controllers/study_controller_test.exs
Due: mix-test, mix-format, mix-credo

Fixed docs gen
  mix.exs
Due: mix-test, mix-format, mix-credo

Improved language switch
  lib/link/authorization.ex
  lib/link_web/templates/layout/app.html.eex
  priv/gettext/default.pot
  priv/gettext/en/LC_MESSAGES/default.po
  priv/gettext/nl/LC_MESSAGES/default.po
Due: mix-test, mix-format, mix-compile, mix-credo

Added simple user profile
  lib/green_light/loaders.ex
  lib/link/authorization.ex
  lib/link/users.ex
  lib/link/users/profile.ex
  lib/link/users/user.ex
  lib/link_web/controllers/user_profile_controller.ex
  lib/link_web/loaders.ex
  lib/link_web/router.ex
  lib/link_web/templates/layout/app.html.eex
  lib/link_web/templates/user_profile/edit.html.eex
  lib/link_web/templates/user_profile/form.html.eex
  lib/link_web/views/user_profile_view.ex
  priv/repo/migrations/20201206155650_create_user_profiles.exs
  test/link/users_test.exs
  test/link_web/controllers/user_profile_controller_test.exs
  test/support/factories.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Added index to role assignment table
  priv/repo/migrations/20201212084431_add_role_assignments_index.exs
Due: mix-test, mix-format, mix-credo

Added missing role assignment index
  priv/repo/migrations/20201212084431_add_role_assignments_index.exs
Due: mix-test, mix-format, mix-credo

Allow a member to apply to a study
  lib/green_light.ex
  lib/green_light/access.ex
  lib/link/authorization.ex
  lib/link/studies.ex
  lib/link/studies/participant.ex
  lib/link_web/controllers/participant_controller.ex
  lib/link_web/controllers/study_controller.ex
  lib/link_web/router.ex
  lib/link_web/templates/participant/edit.html.eex
  lib/link_web/templates/participant/index.html.eex
  lib/link_web/templates/participant/new.html.eex
  lib/link_web/templates/participant/show.html.eex
  lib/link_web/templates/study/show.html.eex
  lib/link_web/views/study_participant_view.ex
  priv/repo/migrations/20201212083922_create_participants.exs
  test/link_web/controllers/participant_controller_test.exs
Due: mix-test, mix-format, mix-compile, mix-credo

Added formatting tool for template files
  .devcontainer/devcontainer.json
  Dockerfile.dev
Due: none

Added participant management screen
  lib/green_light/access.ex
  lib/link/studies.ex
  lib/link/studies/participant.ex
  lib/link_web/controllers/participant_controller.ex
  lib/link_web/controllers/study_controller.ex
  lib/link_web/router.ex
  lib/link_web/templates/participant/edit.html.eex
  lib/link_web/templates/participant/index.html.eex
  lib/link_web/templates/participant/show.html.eex
  lib/link_web/templates/study/show.html.eex
  priv/repo/migrations/20201213065158_add_state_to_study_participants.exs
  test/link/studies_test.exs
  test/link_web/controllers/participant_controller_test.exs
Due: mix-test, mix-format, mix-compile, mix-credo

Allow a researcher to reject participants
  lib/link/studies.ex
  lib/link_web/controllers/participant_controller.ex
  lib/link_web/templates/participant/index.html.eex
  test/link/studies_test.exs
  test/link_web/controllers/participant_controller_test.exs
Due: mix-test, mix-format, mix-compile, mix-credo

Fix Credo error
  lib/green_light/loaders.ex
  lib/link/users/profile.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Apply to study and manage participants (#18)
  .devcontainer/devcontainer.json
  Dockerfile.dev
  lib/green_light.ex
  lib/green_light/access.ex
  lib/link/authorization.ex
  lib/link/studies.ex
  lib/link/studies/participant.ex
  lib/link_web/controllers/participant_controller.ex
  lib/link_web/controllers/study_controller.ex
  lib/link_web/router.ex
  lib/link_web/templates/participant/index.html.eex
  lib/link_web/templates/participant/new.html.eex
  lib/link_web/templates/study/show.html.eex
  lib/link_web/views/study_participant_view.ex
  priv/repo/migrations/20201212083922_create_participants.exs
  priv/repo/migrations/20201213065158_add_state_to_study_participants.exs
  test/link/studies_test.exs
  test/link_web/controllers/participant_controller_test.exs
Due: mix-test, mix-format, mix-compile, mix-credo

Fixed the documentation for the permission listing mix task
  guides/development_setup.md
Due: none

Added simple user profile (#16)
  lib/green_light/loaders.ex
  lib/link/authorization.ex
  lib/link/users.ex
  lib/link/users/profile.ex
  lib/link/users/user.ex
  lib/link_web/controllers/user_profile_controller.ex
  lib/link_web/loaders.ex
  lib/link_web/router.ex
  lib/link_web/templates/layout/app.html.eex
  lib/link_web/templates/user_profile/edit.html.eex
  lib/link_web/templates/user_profile/form.html.eex
  lib/link_web/views/user_profile_view.ex
  priv/repo/migrations/20201206155650_create_user_profiles.exs
  test/link/users_test.exs
  test/link_web/controllers/user_profile_controller_test.exs
  test/support/factories.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Added researcher flag to user profile
  lib/green_light.ex
  lib/link/authorization.ex
  lib/link/studies.ex
  lib/link/studies/study.ex
  lib/link/users/profile.ex
  lib/link_web/templates/study/index.html.eex
  lib/link_web/templates/user_profile/form.html.eex
  priv/repo/migrations/20201213180227_add_researcher_flag_to_users_table.exs
  priv/repo/migrations/20201213191000_drop_researcher_from_studies.exs
  test/green_light/green_light/ecto/query_test.exs
  test/green_light/green_light/permission_map_test.exs
  test/green_light/green_light_test.exs
  test/link/authorization_test.exs
  test/link_web/controllers/participant_controller_test.exs
  test/link_web/controllers/study_controller_test.exs
  test/support/factories.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Fixed Landing page for all screen sizes
  assets/.DS_Store
  assets/static/.DS_Store
  assets/static/images/bullit.svg
  assets/tailwind.config.js
  lib/link_web/components/bullit/bullit.ex
  lib/link_web/components/bullit/templates/primary.html.eex
  lib/link_web/components/card/card.ex
  lib/link_web/components/card/templates/cta.html.eex
  lib/link_web/components/component_helpers.ex
  lib/link_web/templates/layout/app.html.eex
  lib/link_web/templates/page/index.html.eex
  priv/gettext/default.pot
  priv/gettext/en/LC_MESSAGES/default.po
  priv/gettext/en/LC_MESSAGES/eyra-account.po
  priv/gettext/en/LC_MESSAGES/eyra-link.po
  priv/gettext/eyra-account.pot
  priv/gettext/eyra-link.pot
  priv/gettext/nl/LC_MESSAGES/default.po
  priv/gettext/nl/LC_MESSAGES/eyra-account.po
  priv/gettext/nl/LC_MESSAGES/eyra-link.po
Due: mix-test, mix-format, mix-compile, mix-credo

Fixed merge issue
  lib/link_web/templates/layout/app.html.eex
Due: none

Fixed the documentation for the permission listing mix task (#20)
  guides/development_setup.md
Due: none

Added researcher flag to user profile (#21)
  lib/green_light.ex
  lib/link/authorization.ex
  lib/link/studies.ex
  lib/link/studies/study.ex
  lib/link/users/profile.ex
  lib/link_web/templates/study/index.html.eex
  lib/link_web/templates/user_profile/form.html.eex
  priv/repo/migrations/20201213180227_add_researcher_flag_to_users_table.exs
  priv/repo/migrations/20201213191000_drop_researcher_from_studies.exs
  test/green_light/green_light/ecto/query_test.exs
  test/green_light/green_light/permission_map_test.exs
  test/green_light/green_light_test.exs
  test/link/authorization_test.exs
  test/link_web/controllers/participant_controller_test.exs
  test/link_web/controllers/study_controller_test.exs
  test/support/factories.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Uptodate translation files
  priv/gettext/default.pot
  priv/gettext/en/LC_MESSAGES/default.po
  priv/gettext/nl/LC_MESSAGES/default.po
Due: none

Fixed missing researcher email..
  lib/link_web/templates/study/index.html.eex
Due: none

Added back link to edit profile
  lib/link_web/templates/layout/app.html.eex
Due: none

Landingpage responsive (#22)
  .gitignore
  assets/.DS_Store
  assets/static/.DS_Store
  assets/static/images/bullit.svg
  assets/tailwind.config.js
  lib/link/authorization.ex
  lib/link_web/components/bullit/bullit.ex
  lib/link_web/components/bullit/templates/primary.html.eex
  lib/link_web/components/card/card.ex
  lib/link_web/components/card/templates/cta.html.eex
  lib/link_web/components/component_helpers.ex
  lib/link_web/templates/layout/app.html.eex
  lib/link_web/templates/page/index.html.eex
  lib/link_web/templates/study/index.html.eex
  priv/gettext/default.pot
  priv/gettext/en/LC_MESSAGES/default.po
  priv/gettext/en/LC_MESSAGES/eyra-account.po
  priv/gettext/en/LC_MESSAGES/eyra-link.po
  priv/gettext/eyra-account.pot
  priv/gettext/eyra-link.pot
  priv/gettext/nl/LC_MESSAGES/default.po
  priv/gettext/nl/LC_MESSAGES/eyra-account.po
  priv/gettext/nl/LC_MESSAGES/eyra-link.po
Due: mix-test, mix-format, mix-compile, mix-credo

Made signup/signin pages responsive
  assets/tailwind.config.js
  lib/link/authorization.ex
  lib/link_web/components/custom_button/templates/back.html.eex
  lib/link_web/components/form_field/templates/input.html.eex
  lib/link_web/plug/HideAccountMenu.ex
  lib/link_web/router.ex
  lib/link_web/templates/layout/app.html.eex
  lib/link_web/templates/pow/registration/edit.html.eex
  lib/link_web/templates/pow/registration/new.html.eex
  lib/link_web/templates/pow/session/new.html.eex
  priv/gettext/default.pot
  priv/gettext/en/LC_MESSAGES/default.po
  priv/gettext/en/LC_MESSAGES/eyra-account.po
  priv/gettext/en/LC_MESSAGES/eyra-ux.po
  priv/gettext/eyra-account.pot
  priv/gettext/eyra-ux.pot
  priv/gettext/nl/LC_MESSAGES/default.po
  priv/gettext/nl/LC_MESSAGES/eyra-account.po
  priv/gettext/nl/LC_MESSAGES/eyra-ux.po
Due: mix-test, mix-format, mix-compile, mix-credo

Made signup/signin pages responsive (#24)
  assets/tailwind.config.js
  lib/link/authorization.ex
  lib/link_web/components/custom_button/templates/back.html.eex
  lib/link_web/components/form_field/templates/input.html.eex
  lib/link_web/plug/HideAccountMenu.ex
  lib/link_web/router.ex
  lib/link_web/templates/layout/app.html.eex
  lib/link_web/templates/pow/registration/edit.html.eex
  lib/link_web/templates/pow/registration/new.html.eex
  lib/link_web/templates/pow/session/new.html.eex
  priv/gettext/default.pot
  priv/gettext/en/LC_MESSAGES/default.po
  priv/gettext/en/LC_MESSAGES/eyra-account.po
  priv/gettext/en/LC_MESSAGES/eyra-ux.po
  priv/gettext/eyra-account.pot
  priv/gettext/eyra-ux.pot
  priv/gettext/nl/LC_MESSAGES/default.po
  priv/gettext/nl/LC_MESSAGES/eyra-account.po
  priv/gettext/nl/LC_MESSAGES/eyra-ux.po
Due: mix-test, mix-format, mix-compile, mix-credo

Added study participation listing controller
  lib/green_light.ex
  lib/green_light/ecto/query.ex
  lib/link/authorization.ex
  lib/link/studies.ex
  lib/link/users.ex
  lib/link_web/router.ex
  lib/link_web/templates/layout/app.html.eex
  test/link/studies_test.exs
  test/support/factories.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Renamed member frontpage to dashboard
  lib/link/authorization.ex
  lib/link_web/controllers/dashboard_controller.ex
  lib/link_web/router.ex
  lib/link_web/templates/dashboard/index.html.eex
  lib/link_web/templates/layout/app.html.eex
  lib/link_web/views/dashboard_view.ex
  lib/link_web/views/member_frontpage_view.ex
  test/link_web/controllers/dashboard_controller_test.exs
Due: mix-test, mix-format, mix-compile, mix-credo
