Repository eyra/mono: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-test, mix-format, mix-compile, mix-credo

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: no-commit-to-branch
        args: [-b, master]
  - repo: local
    hooks:
      - id: mix-test
        name: "elixir: mix test"
        entry: mix test
        language: system
        pass_filenames: false
        files: \.exs*$

      - id: mix-format
        name: "elixir: mix format"
        entry: mix format --check-formatted
        language: system
        files: \.exs*$

      - id: mix-compile
        name: "elixir: mix compile"
        entry: mix compile --force --warnings-as-errors
        language: system
        pass_filenames: false
        files: \.ex$

      - id: mix-credo
        name: "elixir: mix credo"
        entry: mix credo
        language: system
        pass_filenames: false
        files: \.exs*$

Changed copy whatsapp account flow
  core/lib/core/authorization.ex
  core/priv/gettext/en/LC_MESSAGES/eyra-data-donation.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-data-donation.po
  core/systems/data_donation/model_data.ex
  core/systems/data_donation/routes.ex
  core/systems/data_donation/thanks_whatsapp_account_page.ex
  core/systems/data_donation/upload_page.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Changed copy whatsapp chat flow
  core/priv/gettext/nl/LC_MESSAGES/eyra-data-donation.po
Due: none

Added support for fixed centerdata storage url
  core/systems/data_donation/centerdata_controller.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Added support txt files in whatsapp account flow
  core/priv/repo/whatsapp_account.py
  core/systems/data_donation/file_selection_sheet.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Moved code from Core.Pools to Systems.Pool
  core/bundles/link/lib/marketplace.ex
  core/frameworks/signal/context.ex
  core/lib/core/factories.ex
  core/lib/core/pools/pools.ex
  core/lib/core/pools/signal_handlers.ex
  core/lib/core/pools/submissions.ex
  core/systems/bookkeeping/account_model.ex
  core/systems/campaign/assembly.ex
  core/systems/campaign/builders/highlight.ex
  core/systems/campaign/content_page.ex
  core/systems/campaign/context.ex
  core/systems/pool/builders/overview_page.ex
  core/systems/pool/context.ex
  core/systems/pool/criteria_filters.ex
  core/systems/pool/criteria_model.ex
  core/systems/pool/model.ex
  core/systems/pool/next_actions/review_submission.ex
  core/systems/pool/pages/submission_page.ex
  core/systems/pool/participant_model.ex
  core/systems/pool/presenter.ex
  core/systems/pool/student_filters.ex
  core/systems/pool/submission_model.ex
  core/systems/pool/submission_status.ex
  core/systems/pool/switch.ex
  core/systems/pool/views/campaign_submission_view.ex
  core/systems/pool/views/campaigns_view.ex
  core/systems/pool/views/students_view.ex
  core/systems/pool/views/submission_criteria_view.ex
  core/systems/pool/views/submission_view.ex
  core/systems/promotion/context.ex
  core/systems/promotion/model.ex
  core/test/systems/campaign/assembly_test.exs
  core/test/systems/pool/criteria_filters_test.exs
  core/test/systems/pool/criteria_model_test.exs
  core/test/systems/pool/switch_test.exs
  core/test/systems/promotion/promotions_test.exs
Due: mix-test, mix-format, mix-compile, mix-credo

Improved creating random identifiers
  core/lib/core/factories.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Applied new whatsapp scripts due to changed whatsapp ddp format
  core/priv/repo/whatsapp_account.py
  core/priv/repo/whatsapp_chat.py
Due: none

Support txt files
  core/priv/repo/whatsapp_chat.py
  core/systems/data_donation/file_selection_sheet.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Uncommented migration step
  core/priv/repo/migrations/20220719093359_refactor_pools_part_1.exs
Due: mix-test, mix-format, mix-credo

Fixed selecting pools in overview page
  core/systems/org/context.ex
  core/systems/pool/context.ex
  core/systems/pool/pages/overview_page.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Improved pool credit budget widget
  core/systems/bookkeeping/account_model.ex
  core/systems/budget/context.ex
  core/systems/pool/builders/detail_page.ex
  core/systems/pool/builders/wallet.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Fixed submission of campaign
  core/systems/campaign/builders/campaign_content_page.ex
  core/systems/campaign/content_page.ex
  core/systems/pool/context.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Fixed submit campaign to pool
  core/priv/gettext/en/LC_MESSAGES/eyra-submission.po
  core/priv/gettext/en/LC_MESSAGES/link-ui.po
  core/priv/gettext/eyra-submission.pot
  core/priv/gettext/link-ui.pot
  core/priv/gettext/nl/LC_MESSAGES/eyra-submission.po
  core/priv/gettext/nl/LC_MESSAGES/link-ui.po
  core/systems/campaign/content_page.ex
  core/systems/campaign/context.ex
  core/systems/campaign/model.ex
  core/systems/pool/context.ex
  core/systems/pool/pages/submission_page.ex
  core/systems/pool/submission_model.ex
  core/systems/pool/views/campaign_submission_view.ex
  core/systems/pool/views/submission_view.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Fixed apply for assignment
  core/bundles/link/lib/marketplace.ex
  core/priv/repo/migrations/20220719093359_refactor_pools_part_1.exs
  core/priv/repo/migrations/20220721135702_refactor_pools_part_2.exs
  core/priv/repo/migrations/20220829230543_refactor_pools_part_3.exs
  core/systems/assignment/context.ex
  core/systems/budget/context.ex
  core/systems/campaign/assembly.ex
  core/systems/campaign/context.ex
  core/systems/campaign/overview_page.ex
  core/systems/pool/builders/wallet.ex
  core/systems/pool/context.ex
  core/systems/pool/criteria_model.ex
  core/test/systems/campaign/assembly_test.exs
  core/test/systems/pool/criteria_model_test.exs
Due: mix-test, mix-format, mix-compile, mix-credo

Fixed switching AssignmentModel.budget when Pool.SubmissionModel.pool has been changed
  core/systems/assignment/context.ex
  core/systems/assignment/model.ex
  core/systems/budget/context.ex
  core/systems/campaign/builders/assignment_landing_page.ex
  core/systems/campaign/builders/highlight.ex
  core/systems/campaign/context.ex
  core/systems/campaign/overview_page.ex
  core/systems/campaign/switch.ex
  core/systems/pool/builders/wallet.ex
  core/systems/pool/context.ex
  core/systems/pool/views/submission_pool_view.ex
  core/test/systems/assignment/landing_page_test.exs
  core/test/systems/campaign/assembly_test.exs
  core/test/systems/campaign/context_test.exs
  core/test/systems/campaign/monitor_view_test.exs
  core/test/systems/promotion/landing_page_test.exs
Due: mix-test, mix-format, mix-compile, mix-credo

Fixed check-in unscheduled participant: apply_member + activate_task
  core/systems/assignment/context.ex
  core/systems/campaign/context.ex
  core/systems/lab/check_in_view.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Created VU Academic Year 2022
  core/bundles/link/lib/debug.ex
  core/frameworks/pixel/components/form/checkbox.ex
  core/frameworks/utililty/identifier.ex
  core/lib/core/factories.ex
  core/lib/core_web/live/user/forms/scholar.ex
  core/lib/ecto_atom.ex
  core/systems/assignment/context.ex
  core/systems/bookkeeping/context.ex
  core/systems/budget/context.ex
  core/systems/budget/currency_model.ex
  core/systems/campaign/context.ex
  core/systems/campaign/overview_page.ex
  core/systems/campaign/switch.ex
  core/systems/content/context.ex
  core/systems/content/text_item_model.ex
  core/systems/org/context.ex
  core/systems/pool/builders/wallet.ex
  core/systems/pool/context.ex
  core/systems/pool/model.ex
  core/systems/pool/views/campaigns_view.ex
  core/systems/pool/views/submission_pool_view.ex
  core/systems/scholar/class.ex
  core/systems/scholar/codes.ex
  core/systems/scholar/context.ex
  core/systems/scholar/course.ex
  core/systems/scholar/switch.ex
  core/test/support/data_case.ex
  core/test/systems/bookkeeping/factories.ex
  core/test/systems/budget/context_test.exs
  core/test/systems/budget/factories.ex
  core/test/systems/campaign/context_test.exs
  core/test/systems/pool/context_test.exs
  core/test/systems/scholar/context_test.exs
Due: mix-test, mix-format, mix-compile, mix-credo

Fixed bug with no finished courses for student in rendering profile
  core/lib/core_web/live/user/forms/scholar.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Fixed bug non existing wallet and removed obsolete fallback def
  core/systems/bookkeeping/context.ex
  core/systems/scholar/class.ex
  core/systems/scholar/context.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Fixed bug in migration
  core/priv/repo/migrations/20220719093359_refactor_pools_part_1.exs
Due: mix-test, mix-format, mix-credo

Added logging
  core/systems/scholar/context.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Added migration of old style program_codes
  core/frameworks/utililty/identifier.ex
  core/priv/repo/migrations/20220902114102_refactor_pools_part_4.exs
Due: mix-test, mix-format, mix-compile, mix-credo

Fixed bug in move_wallet_balance from last year
  core/bundles/link/students.exs
  core/systems/bookkeeping/context.ex
  core/systems/budget/context.ex
  core/test/systems/budget/context_test.exs
Due: mix-test, mix-format, mix-compile, mix-credo

Only showing active wallets in console
  core/bundles/link/lib/console.ex
  core/systems/budget/context.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Improved copy
  core/priv/gettext/en/LC_MESSAGES/eyra-account.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-account.po
Due: none

Fixed bug in migration
  core/priv/repo/migrations/20220721135702_refactor_pools_part_2.exs
Due: mix-test, mix-format, mix-credo

Fixed bug in fetching pool name from resit class code
  core/frameworks/utililty/identifier.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Fixed campaign count on items in pool overview
  core/systems/pool/pages/overview_page.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Fixed campaign count on item in pool overview II
  core/systems/pool/submission_model.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Fixed inactive count on dashboard
  core/systems/pool/builders/detail_page.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Updated depdendabot
  .github/dependabot.yml
Due: none

Automatic approval of dependabot PRs
  .github/workflows/dependabot.yml
Due: none

Automatically merge depdendabot PRs
  .github/workflows/dependabot.yml
Due: none

Improved copy scholar form
  core/priv/gettext/en/LC_MESSAGES/eyra-account.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-account.po
Due: none

Added FE dependencies
  core/assets/package-lock.json
  core/assets/package.json
  core/assets/yarn.lock
  core/package-lock.json
Due: none

Fixed bug in handle_features_updated where old_class_codes == nil
  core/systems/scholar/context.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Upgraded all tool versions
  .github/workflows/banking_proxy_release.yml
  .github/workflows/docs.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  .tool-versions
  banking_proxy/mix.lock
  core/config/config.exs
  core/frameworks/pixel/components/card/card.ex
  core/frameworks/pixel/components/card/clickable_card.ex
  core/frameworks/pixel/components/case/case.ex
  core/frameworks/pixel/components/hero/hero_image.ex
  core/frameworks/pixel/components/panel/clickable_panel.ex
  core/frameworks/pixel/components/panel/panel.ex
  core/lib/core_web/live/layouts/stripped/component.ex
  core/lib/core_web/live/layouts/website/component.ex
  core/lib/core_web/live/layouts/workspace/component.ex
  core/lib/core_web/routes.ex
  core/lib/core_web/ui/dialog/plain_dialog.ex
  core/mix.exs
  core/mix.lock
  core/systems/budget/currency_model.ex
  core/systems/content/text_item_model.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Fixed bug in student filter on filtering students with more than 2 wallets
  core/systems/pool/builders/detail_page.ex
  core/systems/pool/context.ex
  core/systems/pool/student_filters.ex
  core/systems/pool/views/students_view.ex
  core/test/systems/budget/factories.ex
  core/test/systems/pool/student_filters_test.exs
Due: mix-test, mix-format, mix-compile, mix-credo
