Repository eyra/mono: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-test, mix-format, mix-compile, mix-credo

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: no-commit-to-branch
        args: [-b, master]
  - repo: local
    hooks:
      - id: mix-test
        name: "elixir: mix test"
        entry: mix test
        language: system
        pass_filenames: false
        files: \.exs*$

      - id: mix-format
        name: "elixir: mix format"
        entry: mix format --check-formatted
        language: system
        files: \.exs*$

      - id: mix-compile
        name: "elixir: mix compile"
        entry: mix compile --force --warnings-as-errors
        language: system
        pass_filenames: false
        files: \.ex$

      - id: mix-credo
        name: "elixir: mix credo"
        entry: mix credo
        language: system
        pass_filenames: false
        files: \.exs*$

Added fields to Study CMS needed for detail page
  core/config/dev.exs
  core/lib/core/accounts/profile.ex
  core/lib/core/accounts/user_profile_edit.ex
  core/lib/core/factories.ex
  core/lib/core/studies.ex
  core/lib/core/studies/study_edit.ex
  core/lib/core/survey_tools/survey_tool.ex
  core/lib/core_web/endpoint.ex
  core/lib/core_web/file_uploader.ex
  core/lib/core_web/image_catalog_picker.ex
  core/lib/core_web/live/study/edit.ex
  core/lib/core_web/live/user/profile.ex
  core/lib/core_web/live/user/reset_password.ex
  core/priv/gettext/en/LC_MESSAGES/eyra-account.po
  core/priv/gettext/en/LC_MESSAGES/eyra-study.po
  core/priv/gettext/en/LC_MESSAGES/eyra-survey.po
  core/priv/gettext/eyra-account.pot
  core/priv/gettext/eyra-study.pot
  core/priv/gettext/eyra-survey.pot
  core/priv/gettext/nl/LC_MESSAGES/eyra-account.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-study.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-survey.po
  core/priv/repo/migrations/20210505183453_extend_survey_tools.exs
  core/priv/static/uploads/.gitignore
  core/test/core/accounts_test.exs
  core/test/core/studies/study_edit_test.exs
  core/test/core/survey_tools_test.exs
  core/test/core_web/controllers/user_session_controller_test.exs
  core/test/core_web/live/study/edit_test.exs
  core/test/core_web/live/user/confirm_token_test.exs
  core/test/core_web/live/user/reset_password_test.exs
  core/test/support/helpers.ex
  frameworks/eyra_ui/lib/components/form/field.ex
  frameworks/eyra_ui/lib/components/form/form.ex
  frameworks/eyra_ui/lib/components/form/photo_input.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Added BlurHash support
  core/.gitignore
  core/assets/js/app.js
  core/assets/package-lock.json
  core/assets/package.json
  core/priv/static/js/app.js
Due: none

Added Next bundle and added system to override views
  core/bundles/link.ex
  core/bundles/link/config.exs
  core/bundles/link/dashboard.ex
  core/bundles/next.ex
  core/bundles/next/config.exs
  core/config/config.exs
  core/config/dev.exs
  core/config/prod.exs
  core/lib/core/authorization.ex
  core/lib/core/bundle_overrides.ex
  core/lib/core_web/router.ex
  core/mix.exs
  core/test/core/surfconext/plug_test.exs
Due: mix-test, mix-format, mix-compile, mix-credo

Applied feedback
  core/lib/core/factories.ex
  core/lib/core/studies/study_edit.ex
  core/lib/core/studies/study_public.ex
  core/lib/core_web/live/study/edit.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Added Next bundle and added system to override views (#75)
  core/bundles/link.ex
  core/bundles/link/config.exs
  core/bundles/link/dashboard.ex
  core/bundles/next.ex
  core/bundles/next/config.exs
  core/config/config.exs
  core/config/dev.exs
  core/config/prod.exs
  core/lib/core/authorization.ex
  core/lib/core/bundle_overrides.ex
  core/lib/core_web/router.ex
  core/mix.exs
  core/test/core/surfconext/plug_test.exs
Due: mix-test, mix-format, mix-compile, mix-credo

Added test script for web/native hybrid
  native-demo/native-demo.html
  native-demo/native-demo.js
Due: none

First steps for notification center
  core/lib/core/authorization.ex
  core/lib/core/notification_center.ex
  core/lib/core/notification_center/box.ex
  core/lib/core/notification_center/notification.ex
  core/lib/core/survey_tools.ex
  core/priv/repo/migrations/20210513135033_create_notifications.exs
  core/test/core/notification_center_test.exs
  core/test/core/survey_tools_test.exs
  frameworks/green_light/lib/ecto/query.ex
  frameworks/green_light/lib/green_light.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Changes to native demo to make the iOS app work
  native-demo/native-demo.html
  native-demo/native-demo.js
Due: none

Added license files as request by Adrienne
  COPYING.md
  core/bundles/link.ex
  core/bundles/link/COPYING.md
Due: mix-test, mix-format, mix-compile, mix-credo

Use ASDF for deploy, this avoids version drift between dev and prod
  deployment/deploy.yml
  deployment/roles/bundle/tasks/elixir.yml
  deployment/roles/bundle/tasks/nodejs.yml
  deployment/system.yml
Due: none

Added license files as request by Adrienne (#76)
  COPYING.md
  core/bundles/link.ex
  core/bundles/link/COPYING.md
Due: mix-test, mix-format, mix-compile, mix-credo

Use ASDF for deploy, this avoids version drift between dev and prod (#77)
  deployment/deploy.yml
  deployment/roles/bundle/tasks/elixir.yml
  deployment/roles/bundle/tasks/nodejs.yml
  deployment/system.yml
Due: none

Added PWA support with push framework
  core/assets/js/app.js
  core/assets/js/sw.js
  core/assets/js/tools.js
  core/assets/package-lock.json
  core/assets/package.json
  core/assets/static/images/eyra-logo-192.png
  core/assets/static/images/eyra-logo-512.png
  core/assets/static/images/eyra-logo-apple.png
  core/assets/static/manifest.json
  core/assets/webpack.config.js
  core/config/config.exs
  core/lib/core/factories.ex
  core/lib/core/web_push.ex
  core/lib/core/web_push/backend.ex
  core/lib/core/web_push/push_subscription.ex
  core/lib/core_web/controllers/fallback_controller.ex
  core/lib/core_web/controllers/push_subscription_controller.ex
  core/lib/core_web/controllers/vapid_public_key.ex
  core/lib/core_web/endpoint.ex
  core/lib/core_web/router.ex
  core/lib/core_web/templates/layout/root.html.leex
  core/lib/core_web/views/changeset_view.ex
  core/lib/core_web/views/push_subscription_view.ex
  core/lib/web_push.ex
  core/mix.exs
  core/mix.lock
  core/package-lock.json
  core/priv/repo/migrations/20210521122136_create_web_push_subscriptions.exs
  core/priv/static/css/app.css
  core/priv/static/images/eyra-logo-192.png
  core/priv/static/images/eyra-logo-512.png
  core/priv/static/images/eyra-logo-apple.png
  core/priv/static/js/app.js
  core/priv/static/manifest.json
  core/priv/static/sw.js
  core/priv/static/uploads/.gitignore
  core/test/core/web_push_test.exs
  core/test/core_web/controllers/push_subscription_controller_test.exs
  core/test/support/helpers.ex
  core/test/test_helper.exs
Due: mix-test, mix-format, mix-compile, mix-credo

Used blur hash in dashboard and study public
  core/assets/js/app.js
  core/lib/core/image_catalog.ex
  core/lib/core/image_catalog/unsplash.ex
  core/lib/core/image_helpers.ex
  core/lib/core/studies/study_public.ex
  core/lib/core_web/live/study/public.ex
  core/lib/core_web/templates/layout/root.html.leex
  core/lib/core_web/view_model/card.ex
  core/priv/repo/seeds.exs
  frameworks/eyra_ui/lib/components/card/study.ex
  frameworks/eyra_ui/lib/components/form/input.ex
  frameworks/eyra_ui/lib/components/hero/hero_image.ex
  frameworks/eyra_ui/lib/components/image.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Fixes for Safari & Chrome
  native_demo/assets/js/app.js
  native_demo/lib/native_demo_web/live/screen_live/index.html.leex
  native_demo/priv/static/js/app.js
Due: none

Send screen id to aid stack management
  native_demo/assets/js/app.js
  native_demo/priv/static/js/app.js
Due: none

Allow native to switch screens
  native_demo/assets/js/app.js
  native_demo/priv/static/js/app.js
Due: none

Changed blurhash transition and fixed size
  .gitignore
  core/assets/package-lock.json
  core/assets/static/image_catalog/cyan_magenta_1920x1080.jpg
  core/assets/static/images/desktop.svg
  core/assets/static/images/illustration2.svg
  core/assets/static/images/label-arrow-primary.svg
  core/assets/static/images/label-arrow-secondary.svg
  core/assets/static/images/label-arrow-tertiary.svg
  core/assets/static/images/phone.svg
  core/assets/static/images/tablet.svg
  core/assets/static/images/uva.svg
  core/assets/static/images/vu.svg
  core/assets/tailwind.config.js
  core/assets/yarn.lock
  core/lib/core/image_helpers.ex
  core/priv/static/css/app.css
  frameworks/eyra_ui/lib/components/card/study.ex
  frameworks/eyra_ui/lib/components/hero/hero_image.ex
  frameworks/eyra_ui/lib/components/image.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Removed warnings
  core/lib/core/studies/study_edit.ex
  core/lib/core/studies/study_public.ex
  frameworks/eyra_ui/lib/components/hero/hero_image.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Added PWA support with push framework (#78)
  core/assets/js/app.js
  core/assets/js/sw.js
  core/assets/js/tools.js
  core/assets/package-lock.json
  core/assets/package.json
  core/assets/static/images/eyra-logo-192.png
  core/assets/static/images/eyra-logo-512.png
  core/assets/static/images/eyra-logo-apple.png
  core/assets/static/manifest.json
  core/assets/webpack.config.js
  core/config/config.exs
  core/lib/core/factories.ex
  core/lib/core/web_push.ex
  core/lib/core/web_push/backend.ex
  core/lib/core/web_push/push_subscription.ex
  core/lib/core_web/controllers/fallback_controller.ex
  core/lib/core_web/controllers/push_subscription_controller.ex
  core/lib/core_web/controllers/vapid_public_key.ex
  core/lib/core_web/endpoint.ex
  core/lib/core_web/router.ex
  core/lib/core_web/templates/layout/root.html.leex
  core/lib/core_web/views/changeset_view.ex
  core/lib/core_web/views/push_subscription_view.ex
  core/lib/web_push.ex
  core/mix.exs
  core/mix.lock
  core/package-lock.json
  core/priv/repo/migrations/20210521122136_create_web_push_subscriptions.exs
  core/priv/static/css/app.css
  core/priv/static/images/eyra-logo-192.png
  core/priv/static/images/eyra-logo-512.png
  core/priv/static/images/eyra-logo-apple.png
  core/priv/static/js/app.js
  core/priv/static/manifest.json
  core/priv/static/sw.js
  core/priv/static/uploads/.gitignore
  core/test/core/web_push_test.exs
  core/test/core_web/controllers/push_subscription_controller_test.exs
  core/test/support/helpers.ex
  core/test/test_helper.exs
Due: mix-test, mix-format, mix-compile, mix-credo

Added BlurHash support (#74)
  .gitignore
  core/.gitignore
  core/assets/js/app.js
  core/assets/package-lock.json
  core/assets/package.json
  core/assets/static/image_catalog/cyan_magenta_1920x1080.jpg
  core/assets/static/images/desktop.svg
  core/assets/static/images/illustration2.svg
  core/assets/static/images/label-arrow-primary.svg
  core/assets/static/images/label-arrow-secondary.svg
  core/assets/static/images/label-arrow-tertiary.svg
  core/assets/static/images/phone.svg
  core/assets/static/images/tablet.svg
  core/assets/static/images/uva.svg
  core/assets/static/images/vu.svg
  core/assets/tailwind.config.js
  core/assets/yarn.lock
  core/lib/core/image_catalog.ex
  core/lib/core/image_catalog/unsplash.ex
  core/lib/core/image_helpers.ex
  core/lib/core/studies/study_edit.ex
  core/lib/core/studies/study_public.ex
  core/lib/core_web/controllers/push_subscription_controller.ex
  core/lib/core_web/live/study/public.ex
  core/lib/core_web/templates/layout/root.html.leex
  core/lib/core_web/view_model/card.ex
  core/priv/repo/seeds.exs
  core/priv/static/css/app.css
  core/priv/static/js/app.js
  core/priv/static/sw.js
  frameworks/eyra_ui/lib/components/card/study.ex
  frameworks/eyra_ui/lib/components/form/input.ex
  frameworks/eyra_ui/lib/components/hero/hero_image.ex
  frameworks/eyra_ui/lib/components/image.ex
Due: mix-test, mix-format, mix-compile, mix-credo

WIP
  core/assets/js/app.js
  core/lib/core_web/templates/layout/root.html.leex
  frameworks/eyra_ui/lib/components/hero/hero_image.ex
  frameworks/eyra_ui/lib/components/hero/hero_large.ex
  frameworks/eyra_ui/lib/components/hero/hero_small.ex
  frameworks/eyra_ui/lib/components/old_skool.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Scroll tweak
  core/assets/js/app.js
Due: none

Fix
  core/assets/js/app.js
Due: none

Fix native screen loading
  core/assets/js/app.js
Due: none

Update scroll from native
  core/assets/js/app.js
Due: none

WIP
  core/lib/core/factories.ex
  core/lib/core/mailer/email_view.ex
  core/lib/core/mailer/signal_handlers.ex
  core/lib/core/mailer/templates/email/new_notification.html.eex
  core/lib/core/mailer/templates/email/new_notification.text.eex
  core/lib/core/notification_center.ex
  core/lib/core/notification_center/signal_handlers.ex
  core/lib/core/signals.ex
  core/lib/core/signals/handlers.ex
  core/lib/core/survey_tools.ex
  core/test/core/mailer/signal_handlers_test.exs
Due: mix-test, mix-format, mix-compile, mix-credo

Removed unneeded file
  core/lib/web_push.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Added web-push signal handlers
  core/lib/core/mailer/signal_handlers.ex
  core/lib/core/notification_center.ex
  core/lib/core/signals.ex
  core/lib/core/web_push/signal_handlers.ex
  core/test/core/web_push/signal_handlers_test.exs
  core/test/core/web_push_test.exs
Due: mix-test, mix-format, mix-compile, mix-credo

Added an enable web-push button to the user profile page
  core/assets/js/app.js
  core/assets/package-lock.json
  core/assets/package.json
  core/config/dev.exs
  core/lib/core_web/live/user/profile.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Added view for notifications
  core/lib/core/authorization.ex
  core/lib/core_web/live/notifications.ex
  core/lib/core_web/live/routes.ex
  core/test/core_web/live/notifications_test.exs
Due: mix-test, mix-format, mix-compile, mix-credo

Added web-push info to deployment config
  core/config/runtime.exs
  deployment/roles/bundle/templates/bundle.service
Due: mix-test, mix-format, mix-credo

Upgraded Erlang and Elixir
  .github/workflows/docs.yml
  .github/workflows/test.yml
  .tool-versions
Due: none
