Repository eyra/mono: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-test, mix-format, mix-compile, mix-credo

mix-test:
  name: 'elixir: mix test'
  entry: mix test
  language: system
  pass_filenames: false

mix-format:
  name: 'elixir: mix format'
  entry: mix format --check-formatted
  language: system

mix-compile:
  name: 'elixir: mix compile'
  entry: mix compile --force --warnings-as-errors
  language: system
  pass_filenames: false

mix-credo:
  name: 'elixir: mix credo'
  entry: mix credo
  language: system
  pass_filenames: false

Added admin login page (#119)
  core/bundles/link/config.exs
  core/bundles/link/seeds.exs
  core/config/dev.exs
  core/config/runtime.exs
  core/lib/core/admin.ex
  core/lib/core/authorization.ex
  core/lib/core/authorization/user.ex
  core/lib/core/feature_flags/test.ex
  core/lib/core_web/live/admin/login.ex
  core/lib/core_web/live/admin/routes.ex
  core/lib/core_web/templates/user_session/new.html.eex
  core/lib/google_sign_in.ex
  core/lib/google_sign_in/plug.ex
  core/priv/repo/seeds.exs
  core/test/core/authorization/user_test.exs
  core/test/core/feature_flags_test.exs
  core/test/google_sign_in/plug_test.exs
Due: mix-test, mix-format, mix-compile, mix-credo

Added deep linking to tabs
  core/bundles/link.ex
  core/bundles/link/lib/menu/items.ex
  core/bundles/link/lib/onboarding/wizard.ex
  core/bundles/link/lib/user/web/profile.ex
  core/lib/core/accounts/next_actions/promote_push_student.ex
  core/lib/core/accounts/next_actions/select_study_student.ex
  core/lib/core/accounts/signal_handlers.ex
  core/lib/core_web/live/user/profile.ex
  core/lib/core_web/live/user/routes.ex
  core/test/core/surfconext/plug_test.exs
  frameworks/eyra_ui/lib/components/navigation/tabbar_area.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Fixed language button
  frameworks/eyra_ui/lib/components/navigation/button/button.ex
  frameworks/eyra_ui/lib/components/navigation/button/dead_get.ex
  frameworks/eyra_ui/lib/components/navigation/button/dead_post.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Added empty states for researcher
  core/assets/static/images/illustrations/cards.svg
  core/assets/static/images/illustrations/items.svg
  core/bundles/link/lib/dashboard.ex
  core/bundles/link/lib/lab/overview.ex
  core/bundles/link/lib/marketplace.ex
  core/bundles/link/lib/onboarding/welcome.ex
  core/bundles/link/lib/survey/web/overview.ex
  core/lib/core_web.ex
  core/lib/core_web/live/empty.ex
  core/lib/core_web/live/menu/helpers.ex
  core/priv/gettext/en/LC_MESSAGES/eyra-account.po
  core/priv/gettext/en/LC_MESSAGES/eyra-dashboard.po
  core/priv/gettext/en/LC_MESSAGES/eyra-marketplace.po
  core/priv/gettext/en/LC_MESSAGES/eyra-study.po
  core/priv/gettext/en/LC_MESSAGES/eyra-ui.po
  core/priv/gettext/en/LC_MESSAGES/link-dashboard.po
  core/priv/gettext/en/LC_MESSAGES/link-labstudies.po
  core/priv/gettext/en/LC_MESSAGES/link-survey.po
  core/priv/gettext/en/LC_MESSAGES/link-ui.po
  core/priv/gettext/eyra-account.pot
  core/priv/gettext/eyra-dashboard.pot
  core/priv/gettext/eyra-marketplace.pot
  core/priv/gettext/eyra-study.pot
  core/priv/gettext/eyra-ui.pot
  core/priv/gettext/link-dashboard.pot
  core/priv/gettext/link-labstudies.pot
  core/priv/gettext/link-survey.pot
  core/priv/gettext/link-ui.pot
  core/priv/gettext/nl/LC_MESSAGES/eyra-account.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-dashboard.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-marketplace.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-study.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-ui.po
  core/priv/gettext/nl/LC_MESSAGES/link-dashboard.po
  core/priv/gettext/nl/LC_MESSAGES/link-labstudies.po
  core/priv/gettext/nl/LC_MESSAGES/link-survey.po
  core/priv/gettext/nl/LC_MESSAGES/link-ui.po
Due: mix-test, mix-format, mix-compile, mix-credo

Fixed SurfConext test
  core/test/core/surfconext/plug_test.exs
Due: mix-test, mix-format, mix-credo

Added empty states coordinator
  core/assets/static/images/illustrations/cards_mobile.svg
  core/assets/static/images/illustrations/items_mobile.svg
  core/assets/static/images/illustrations/members.svg
  core/assets/static/images/illustrations/members_mobile.svg
  core/bundles/link.ex
  core/bundles/link/lib/layouts/workspace/menu_builder.ex
  core/bundles/link/lib/menu/items.ex
  core/bundles/link/lib/onboarding/welcome.ex
  core/bundles/link/lib/student_pool.ex
  core/bundles/link/lib/student_pool/overview.ex
  core/bundles/link/lib/student_pool/students.ex
  core/bundles/link/lib/student_pool/studies.ex
  core/lib/core_web/live/empty.ex
  core/priv/gettext/en/LC_MESSAGES/link-studentpool.po
  core/priv/gettext/en/LC_MESSAGES/link-ui.po
  core/priv/gettext/link-studentpool.pot
  core/priv/gettext/link-ui.pot
  core/priv/gettext/nl/LC_MESSAGES/eyra-dashboard.po
  core/priv/gettext/nl/LC_MESSAGES/link-studentpool.po
  core/priv/gettext/nl/LC_MESSAGES/link-ui.po
Due: mix-test, mix-format, mix-compile, mix-credo

Changed config for link dev deployment (debug=true, google_sign_in=true)
  core/bundles/link/config/config.exs
Due: mix-test, mix-format, mix-credo

Allow enabling of feature using an environment variable
  core/config/runtime.exs
Due: mix-test, mix-format, mix-credo

Allow enabling of feature using an environment variable (#126)
  core/config/runtime.exs
Due: mix-test, mix-format, mix-credo

Added proper texts to welcome email
  core/assets/static/images/email-header-notification.png
  core/assets/static/images/email-header-notification@2x.png
  core/assets/static/images/email-header-notification@3x.png
  core/assets/static/images/email-header-overview.png
  core/assets/static/images/email-header-overview@2x.png
  core/assets/static/images/email-header-overview@3x.png
  core/assets/static/images/email-header-welcome.png
  core/assets/static/images/email-header-welcome@2x.png
  core/assets/static/images/email-header-welcome@3x.png
  core/config/dev.exs
  core/lib/core/accounts/email.ex
  core/lib/core/accounts/templates/email/account_created.html.eex
  core/lib/core/accounts/templates/email/account_created.text.eex
  core/lib/core/mailer.ex
  core/lib/core/mailer/email_layout_view.ex
  core/lib/core/mailer/templates/email_layout/email.html.eex
  core/test/core/accounts/email_test.exs
  core/test/core/accounts/signal_handlers_test.exs
Due: mix-test, mix-format, mix-compile, mix-credo

Added proper texts to welcome email (#127)
  core/assets/static/images/email-header-notification.png
  core/assets/static/images/email-header-notification@2x.png
  core/assets/static/images/email-header-notification@3x.png
  core/assets/static/images/email-header-overview.png
  core/assets/static/images/email-header-overview@2x.png
  core/assets/static/images/email-header-overview@3x.png
  core/assets/static/images/email-header-welcome.png
  core/assets/static/images/email-header-welcome@2x.png
  core/assets/static/images/email-header-welcome@3x.png
  core/config/dev.exs
  core/lib/core/accounts/email.ex
  core/lib/core/accounts/templates/email/account_created.html.eex
  core/lib/core/accounts/templates/email/account_created.text.eex
  core/lib/core/mailer.ex
  core/lib/core/mailer/email_layout_view.ex
  core/lib/core/mailer/templates/email_layout/email.html.eex
  core/test/core/accounts/email_test.exs
  core/test/core/accounts/signal_handlers_test.exs
Due: mix-test, mix-format, mix-compile, mix-credo

Fix image URLs in email
  core/lib/core/mailer/email_layout_view.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Fix image URLs in email (#128)
  core/lib/core/mailer/email_layout_view.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Allow bundles to override static resources
  core/lib/core_web/endpoint.ex
  core/priv/bundles/link/images/image-overrides-go-here.txt
  core/priv/bundles/link/images/profile_photo_default.svg
Due: mix-test, mix-format, mix-compile, mix-credo

Allow bundles to override static resources (#129)
  core/lib/core_web/endpoint.ex
  core/priv/bundles/link/images/image-overrides-go-here.txt
  core/priv/bundles/link/images/profile_photo_default.svg
Due: mix-test, mix-format, mix-compile, mix-credo

Removed empty profile image override
  core/priv/bundles/link/images/profile_photo_default.svg
Due: none

Fixed signout issue
  frameworks/eyra_ui/lib/components/navigation/button.ex
  frameworks/eyra_ui/lib/components/navigation/dead_delete.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Fixed signout issue (#130)
  frameworks/eyra_ui/lib/components/navigation/button.ex
  frameworks/eyra_ui/lib/components/navigation/dead_delete.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Fixed studentpool menu item
  core/bundles/link.ex
  core/bundles/link/lib/menu/items.ex
  core/bundles/link/lib/pool/form/students.ex
  core/bundles/link/lib/pool/form/studies.ex
  core/bundles/link/lib/pool/overview.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Revert obsolete config
  core/bundles/link/config/config.exs
Due: mix-test, mix-format, mix-credo

Fixed mobile menu (height, width, order)
  core/assets/js/100vh-fix.js
  core/assets/js/app.js
  core/assets/tailwind.config.js
  core/lib/core_web/endpoint.ex
  core/lib/core_web/live/admin/login.ex
  core/lib/core_web/live/layouts/stripped/component.ex
  core/lib/core_web/live/layouts/website/component.ex
  core/lib/core_web/live/layouts/website/menu_builder.ex
  core/lib/core_web/live/layouts/workspace/component.ex
  core/lib/core_web/templates/user_session/new.html.eex
Due: mix-test, mix-format, mix-compile, mix-credo

Removed console.log
  core/assets/js/100vh-fix.js
Due: none

Removed unneeded wrapper funcs
  core/assets/js/100vh-fix.js
Due: none

Minor style change
  core/assets/js/100vh-fix.js
Due: none

Fix mobile screen height (#133)
  core/assets/js/100vh-fix.js
  core/assets/js/app.js
  core/assets/tailwind.config.js
  core/lib/core_web/endpoint.ex
  core/lib/core_web/live/admin/login.ex
  core/lib/core_web/live/layouts/stripped/component.ex
  core/lib/core_web/live/layouts/website/component.ex
  core/lib/core_web/live/layouts/website/menu_builder.ex
  core/lib/core_web/live/layouts/workspace/component.ex
  core/lib/core_web/templates/user_session/new.html.eex
Due: mix-test, mix-format, mix-compile, mix-credo

Fixed error in case of missing dev.secret.exs
  core/config/dev.exs
Due: mix-test, mix-format, mix-credo

Fixed error in case of missing dev.secret.exs (#134)
  core/config/dev.exs
Due: mix-test, mix-format, mix-credo

Added minimal support system
  core/bundles/link/lib/layouts/workspace/menu_builder.ex
  core/lib/core/admin.ex
  core/lib/core/authorization.ex
  core/lib/core/factories.ex
  core/lib/core/helpdesk.ex
  core/lib/core/helpdesk/ticket.ex
  core/lib/core_web/live/admin/routes.ex
  core/lib/core_web/live/admin/support_tickets.ex
  core/lib/core_web/live/layouts/workspace/menu_builder.ex
  core/lib/core_web/live/menu/items.ex
  core/lib/core_web/live/routes.ex
  core/lib/core_web/live/support.ex
  core/priv/gettext/en/LC_MESSAGES/erya-support.po
  core/priv/gettext/en/LC_MESSAGES/eyra-account.po
  core/priv/gettext/en/LC_MESSAGES/eyra-support.po
  core/priv/gettext/en/LC_MESSAGES/eyra-ui.po
  core/priv/gettext/en/LC_MESSAGES/eyra-user.po
  core/priv/gettext/erya-support.pot
  core/priv/gettext/eyra-account.pot
  core/priv/gettext/eyra-support.pot
  core/priv/gettext/eyra-ui.pot
  core/priv/gettext/eyra-user.pot
  core/priv/gettext/nl/LC_MESSAGES/erya-support.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-account.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-support.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-ui.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-user.po
  core/priv/repo/migrations/20210816074801_create_helpdesk_tickets.exs
  core/test/core/helpdesk_test.exs
  core/test/core_web/live/support_test.exs
  core/test/support/helpers.ex
  core/test/test_helper.exs
Due: mix-test, mix-format, mix-compile, mix-credo

Path conditions:
  mix-test: any of: \.exs*$
  mix-format: any of: \.exs*$
  mix-compile: any of: \.ex$
  mix-credo: any of: \.exs*$
