Repository eyra/mono: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-test, mix-format, mix-compile, mix-credo

mix-test:
  name: 'elixir: mix test'
  entry: mix test
  language: system
  pass_filenames: false

mix-format:
  name: 'elixir: mix format'
  entry: mix format --check-formatted
  language: system

mix-compile:
  name: 'elixir: mix compile'
  entry: mix compile --force --warnings-as-errors
  language: system
  pass_filenames: false

mix-credo:
  name: 'elixir: mix credo'
  entry: mix credo
  language: system
  pass_filenames: false

Fix arithmetic error in progress bar: guard nil value
  banking_proxy/config/prod.exs
  core/lib/core_web/ui/progress_bar.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Copy changes
  core/priv/gettext/en/LC_MESSAGES/link-survey.po
  core/priv/gettext/nl/LC_MESSAGES/link-survey.po
Due: none

Temp remove banking setup
  .github/workflows/release.yml
Due: none

Added feature in CMS to test survey roundtrip
  core/bundles/link/lib/survey/web/form.ex
  core/lib/core/authorization.ex
  core/lib/core/authorization/role_assignment.ex
  core/lib/core/survey/tool.ex
  core/priv/gettext/en/LC_MESSAGES/eyra-account.po
  core/priv/gettext/en/LC_MESSAGES/eyra-admin.po
  core/priv/gettext/en/LC_MESSAGES/eyra-campaign.po
  core/priv/gettext/en/LC_MESSAGES/eyra-crew.po
  core/priv/gettext/en/LC_MESSAGES/eyra-marketplace.po
  core/priv/gettext/en/LC_MESSAGES/eyra-submission.po
  core/priv/gettext/en/LC_MESSAGES/eyra-ui.po
  core/priv/gettext/en/LC_MESSAGES/link-survey.po
  core/priv/gettext/en/LC_MESSAGES/link-ui.po
  core/priv/gettext/eyra-account.pot
  core/priv/gettext/eyra-campaign.pot
  core/priv/gettext/eyra-crew.pot
  core/priv/gettext/eyra-marketplace.pot
  core/priv/gettext/eyra-submission.pot
  core/priv/gettext/eyra-ui.pot
  core/priv/gettext/link-survey.pot
  core/priv/gettext/link-ui.pot
  core/priv/gettext/nl/LC_MESSAGES/eyra-account.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-admin.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-campaign.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-crew.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-marketplace.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-submission.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-ui.po
  core/priv/gettext/nl/LC_MESSAGES/link-survey.po
  core/priv/gettext/nl/LC_MESSAGES/link-ui.po
  core/systems/assignment/assignable.ex
  core/systems/assignment/callback_page.ex
  core/systems/assignment/context.ex
  core/systems/campaign/content_page.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Copy changes and campaign button in case of test flow
  core/bundles/link/lib/survey/web/form.ex
  core/priv/gettext/en/LC_MESSAGES/eyra-account.po
  core/priv/gettext/en/LC_MESSAGES/eyra-crew.po
  core/priv/gettext/en/LC_MESSAGES/eyra-marketplace.po
  core/priv/gettext/en/LC_MESSAGES/eyra-promotion.po
  core/priv/gettext/en/LC_MESSAGES/eyra-submission.po
  core/priv/gettext/en/LC_MESSAGES/eyra-ui.po
  core/priv/gettext/en/LC_MESSAGES/link-assignment.po
  core/priv/gettext/en/LC_MESSAGES/link-campaign.po
  core/priv/gettext/en/LC_MESSAGES/link-dashboard.po
  core/priv/gettext/en/LC_MESSAGES/link-survey.po
  core/priv/gettext/eyra-account.pot
  core/priv/gettext/eyra-crew.pot
  core/priv/gettext/eyra-marketplace.pot
  core/priv/gettext/eyra-promotion.pot
  core/priv/gettext/eyra-submission.pot
  core/priv/gettext/eyra-ui.pot
  core/priv/gettext/link-assignment.pot
  core/priv/gettext/link-campaign.pot
  core/priv/gettext/link-dashboard.pot
  core/priv/gettext/link-survey.pot
  core/priv/gettext/nl/LC_MESSAGES/eyra-account.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-crew.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-marketplace.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-promotion.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-submission.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-ui.po
  core/priv/gettext/nl/LC_MESSAGES/link-assignment.po
  core/priv/gettext/nl/LC_MESSAGES/link-campaign.po
  core/priv/gettext/nl/LC_MESSAGES/link-dashboard.po
  core/priv/gettext/nl/LC_MESSAGES/link-survey.po
  core/systems/assignment/callback_page.ex
  core/systems/assignment/model.ex
  core/systems/campaign/model.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Added start of banking proxy client
  banking_proxy/config/test.exs
  banking_proxy/lib/banking_proxy/backend.ex
  banking_proxy/lib/banking_proxy/protocol.ex
  banking_proxy/lib/banking_proxy/supervisor.ex
  banking_proxy/lib/bunq.ex
  banking_proxy/lib/bunq/api.ex
  banking_proxy/lib/bunq/setup_cli.ex
  banking_proxy/mix.exs
  banking_proxy/mix.lock
  banking_proxy/test/banking_proxy/protocol_test.exs
  banking_proxy/test/bunq/api_test.exs
  core/config/config.exs
  core/lib/banking_client.ex
  core/lib/banking_client/api.ex
  core/lib/banking_client/list_payments_response.ex
  core/lib/banking_client/payment.ex
  core/lib/banking_client/payment_alias.ex
  core/lib/banking_client/proxy_client.ex
  core/systems/banking/backend.ex
  core/systems/banking/dummy.ex
  core/test/banking_client_test.exs
  core/test/systems/banking/dummy_test.exs
  core/test/test_helper.exs
Due: mix-test, mix-format, mix-compile, mix-credo

Fix for not setting tester role
  core/assets/package-lock.json
  core/assets/yarn.lock
  core/bundles/link/lib/survey/web/form.ex
  core/priv/catalogue/catalogue.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Fixed unwanted deleting of tester role just after hitting test button
  core/bundles/link/lib/survey/web/form.ex
  core/systems/assignment/model.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Removed deleting of tester role completely, since it interferes with reloading of page
  core/systems/assignment/model.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Formatted code
  core/lib/core/factories.ex
  core/lib/core/migration_helper.exs
  core/lib/core/pools/submissions.ex
  core/lib/core_web/ui/dialog/selector_dialog.ex
  core/test/systems/campaign/assembly_test.exs
  core/test/systems/campaign/context_test.exs
  core/test/systems/campaign/monitor_view_test.exs
  core/test/systems/lab/context_test.exs
  core/test/systems/promotion/landing_page_test.exs
Due: mix-test, mix-format, mix-compile, mix-credo

Added start of banking proxy client (#236)
  banking_proxy/config/test.exs
  banking_proxy/lib/banking_proxy/backend.ex
  banking_proxy/lib/banking_proxy/protocol.ex
  banking_proxy/lib/banking_proxy/supervisor.ex
  banking_proxy/lib/bunq.ex
  banking_proxy/lib/bunq/api.ex
  banking_proxy/lib/bunq/setup_cli.ex
  banking_proxy/mix.exs
  banking_proxy/mix.lock
  banking_proxy/test/banking_proxy/protocol_test.exs
  banking_proxy/test/bunq/api_test.exs
  core/config/config.exs
  core/lib/banking_client.ex
  core/lib/banking_client/api.ex
  core/lib/banking_client/list_payments_response.ex
  core/lib/banking_client/payment.ex
  core/lib/banking_client/payment_alias.ex
  core/lib/banking_client/proxy_client.ex
  core/systems/banking/backend.ex
  core/systems/banking/dummy.ex
  core/test/banking_client_test.exs
  core/test/systems/banking/dummy_test.exs
  core/test/test_helper.exs
Due: mix-test, mix-format, mix-compile, mix-credo

Fix for not setting tester role (#237)
  core/assets/package-lock.json
  core/assets/yarn.lock
  core/bundles/link/lib/survey/web/form.ex
  core/priv/catalogue/catalogue.ex
Due: mix-test, mix-format, mix-compile, mix-credo

fixed unit tests and other warnings
  core/frameworks/pixel/components/form/checkbox.ex
  core/frameworks/utililty/list.ex
  core/systems/assignment/assignment_form.ex
  core/systems/assignment/ethical_form.ex
  core/systems/assignment/experiment_form.ex
  core/systems/campaign/overview_page.ex
  core/systems/lab/context.ex
  core/systems/lab/day_entry_list_item.ex
  core/systems/lab/day_view.ex
  core/systems/survey/context.ex
  core/test/systems/campaign/assembly_test.exs
  core/test/systems/lab/context_test.exs
Due: mix-test, mix-format, mix-compile, mix-credo

Added release workflow
  .github/workflows/release.yml
Due: none

Upgraded Erlang & Elixir
  .github/workflows/banking_proxy_release.yml
  .github/workflows/docs.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  .tool-versions
  banking_proxy/mix.exs
  banking_proxy/mix.lock
  core/bundles/link/config/config.exs
  core/bundles/link/config/dev.exs
  core/config/config.exs
  core/config/dev.exs
  core/config/prod.exs
  core/config/prod.secret.exs
  core/config/test.exs
  core/frameworks/green_light/permissions.ex
  core/lib/core/image_catalog/unsplash.ex
  core/lib/core/mailer/email_layout_view.ex
  core/lib/core_web/live/data_donation/content.ex
  core/lib/core_web/live/subroutes.ex
  core/mix.exs
  core/mix.lock
  core/systems/admin/context.ex
  core/systems/assignment/model.ex
  core/systems/campaign/model.ex
  core/systems/crew/context.ex
  core/systems/observatory/context.ex
  core/systems/promotion/model.ex
  core/systems/subroutes.ex
  core/systems/support/context.ex
  core/test/systems/campaign/assembly_test.exs
Due: mix-test, mix-format, mix-compile, mix-credo

Upgraded Erlang & Elixir (#238)
  .github/workflows/banking_proxy_release.yml
  .github/workflows/docs.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  .tool-versions
  banking_proxy/mix.exs
  banking_proxy/mix.lock
  core/bundles/link/config/config.exs
  core/bundles/link/config/dev.exs
  core/config/config.exs
  core/config/dev.exs
  core/config/prod.exs
  core/config/prod.secret.exs
  core/config/test.exs
  core/frameworks/green_light/permissions.ex
  core/lib/core/image_catalog/unsplash.ex
  core/lib/core/mailer/email_layout_view.ex
  core/lib/core_web/live/data_donation/content.ex
  core/lib/core_web/live/subroutes.ex
  core/mix.exs
  core/mix.lock
  core/systems/admin/context.ex
  core/systems/assignment/model.ex
  core/systems/campaign/model.ex
  core/systems/crew/context.ex
  core/systems/observatory/context.ex
  core/systems/promotion/model.ex
  core/systems/subroutes.ex
  core/systems/support/context.ex
  core/test/systems/campaign/assembly_test.exs
Due: mix-test, mix-format, mix-compile, mix-credo

Upgraded all the deps
  core/.formatter.exs
  core/mix.exs
  core/mix.lock
Due: mix-test, mix-format, mix-credo

Changed copy
  core/config/dev.secret.exs
  core/lib/core_web/live/data_donation/uploader.ex
  core/priv/gettext/en/LC_MESSAGES/eyra-survey.po
Due: mix-test, mix-format, mix-compile, mix-credo

Changed copy II
  core/lib/core_web/live/data_donation/uploader.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Changed href target to _blank
  core/lib/core_web/live/data_donation/uploader.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Remove keep-me-updated panel
  core/lib/core_web/live/promotion/public.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Minor cleanups (unused aliases, credo, warnings)
  core/bundles/link/lib/card.ex
  core/bundles/link/lib/index.ex
  core/bundles/link/lib/onboarding/wizard.ex
  core/frameworks/pixel/components/dynamic.ex
  core/lib/core_web/live/dashboard.ex
  core/lib/core_web/live/user/await_confirmation.ex
  core/lib/core_web/live/user/confirm_token.ex
  core/lib/core_web/live/user/reset_password_token.ex
  core/lib/core_web/ui/navigation/menu.ex
  core/lib/core_web/ui/navigation/navbar.ex
  core/systems/assignment/model.ex
  core/systems/campaign/content_page.ex
  core/systems/campaign/model.ex
  core/systems/promotion/index_page.ex
  core/systems/support/ticket_page.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Fixed dialyzer error (actually a bug)
  core/frameworks/pixel/components/card/dynamic_campaign.ex
  core/lib/core_web/live/layouts/stripped/component.ex
  core/lib/core_web/live/layouts/website/component.ex
  core/lib/core_web/live/layouts/workspace/component.ex
  core/lib/core_web/templates/error/403_page.html.eex
  core/lib/core_web/templates/error/404_page.html.eex
  core/lib/core_web/templates/error/500_page.html.eex
  core/lib/core_web/templates/error/503_page.html.eex
  core/lib/core_web/templates/layout/error.html.eex
  core/lib/core_web/templates/user_session/new.html.eex
  core/lib/core_web/ui/old_skool.ex
  core/systems/campaign/context.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Switch to HTTPS checkout for Surface
  core/mix.exs
  core/mix.lock
Due: mix-test, mix-format, mix-credo

Cherry pick: 982671b4 Formatted code
  core/assets/package-lock.json
  core/assets/yarn.lock
  core/test/systems/campaign/assembly_test.exs
Due: mix-test, mix-format, mix-credo

Cherry pick: c0cb918b fixed unit tests and other warnings
  core/test/systems/campaign/assembly_test.exs
Due: mix-test, mix-format, mix-credo

Cherry pick: ffbf1219 Finished day view
  core/assets/tailwind.config.js
  core/frameworks/pixel/components/form/input.ex
  core/lib/core_web/ui/component.ex
  core/priv/gettext/en/LC_MESSAGES/eyra-account.po
  core/priv/gettext/en/LC_MESSAGES/eyra-dashboard.po
  core/priv/gettext/en/LC_MESSAGES/eyra-ui.po
  core/priv/gettext/en/LC_MESSAGES/link-lab.po
  core/priv/gettext/en/LC_MESSAGES/link-survey.po
  core/priv/gettext/eyra-account.pot
  core/priv/gettext/eyra-dashboard.pot
  core/priv/gettext/eyra-ui.pot
  core/priv/gettext/link-lab.pot
  core/priv/gettext/link-survey.pot
  core/priv/gettext/nl/LC_MESSAGES/eyra-account.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-dashboard.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-ui.po
  core/priv/gettext/nl/LC_MESSAGES/link-lab.po
  core/priv/gettext/nl/LC_MESSAGES/link-survey.po
  core/systems/crew/reject_view.ex
  core/systems/lab/context.ex
  core/systems/lab/day_entry_break_item.ex
  core/systems/lab/day_entry_list_item.ex
  core/systems/lab/day_entry_time_slot_item.ex
  core/systems/lab/day_model.ex
  core/systems/lab/day_view.ex
  core/systems/lab/vu_day_schedule.ex
  core/test/systems/lab/context_test.exs
Due: mix-test, mix-format, mix-compile, mix-credo

Commit latest lab WIP
  core/assets/tailwind.config.js
  core/frameworks/pixel/components/share_view.ex
  core/lib/core_web.ex
  core/lib/core_web/ui/popup.ex
  core/lib/core_web/ui/timestamp.ex
  core/systems/assignment/assignment_form.ex
  core/systems/campaign/content_page.ex
  core/systems/campaign/monitor_view.ex
  core/systems/lab/context.ex
  core/systems/lab/day_view.ex
  core/systems/lab/time_slot_model.ex
  core/systems/lab/tool_form.ex
Due: mix-test, mix-format, mix-compile, mix-credo

fixes after version upgrades
  core/frameworks/pixel/component.ex
  core/frameworks/pixel/components/card/dynamic_campaign.ex
  core/frameworks/pixel/components/card/primary_campaign.ex
  core/frameworks/pixel/components/form/checkbox.ex
  core/frameworks/pixel/components/form/form.ex
  core/frameworks/pixel/components/form/input.ex
  core/frameworks/pixel/components/form/text_area.ex
  core/frameworks/pixel/form_helpers.ex
  core/lib/core_web.ex
  core/lib/core_web/live/user/confirm_token.ex
  core/lib/core_web/live_form.ex
  core/lib/core_web/ui/component.ex
  core/lib/core_web/ui/dialog/dialog.ex
  core/lib/core_web/ui/dialog/plain_dialog.ex
  core/lib/core_web/ui/dialog/selector_dialog.ex
  core/lib/core_web/ui/live_component.ex
  core/lib/core_web/ui/navigation/tabbar_content.ex
  core/lib/core_web/ui/popup.ex
  core/systems/assignment/assignment_form.ex
  core/systems/assignment/landing_page.ex
  core/systems/assignment/model.ex
  core/systems/campaign/content_page.ex
  core/systems/lab/context.ex
  core/systems/lab/day_entry_break_item.ex
  core/systems/lab/day_entry_list_item.ex
  core/systems/lab/day_entry_time_slot_item.ex
  core/systems/lab/day_view.ex
  core/systems/lab/tool_form.ex
  core/systems/lab/vu_day_schedule.ex
  core/systems/pool/overview_page.ex
  core/systems/pool/submission_page.ex
  core/systems/promotion/landing_page.ex
  core/test/systems/assignment/landing_page_test.exs
Due: mix-test, mix-format, mix-compile, mix-credo

Path conditions:
  mix-test: any of: \.exs*$
  mix-format: any of: \.exs*$
  mix-compile: any of: \.ex$
  mix-credo: any of: \.exs*$
