Repository eyra/mono: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-test, mix-format, mix-compile, mix-credo

mix-test:
  name: 'elixir: mix test'
  entry: mix test
  language: system
  pass_filenames: false

mix-format:
  name: 'elixir: mix format'
  entry: mix format --check-formatted
  language: system

mix-compile:
  name: 'elixir: mix compile'
  entry: mix compile --force --warnings-as-errors
  language: system
  pass_filenames: false

mix-credo:
  name: 'elixir: mix credo'
  entry: mix credo
  language: system
  pass_filenames: false

Copy changes
  core/bundles/link/lib/index.ex
  core/config/config.exs
  core/priv/gettext/en/LC_MESSAGES/eyra-account.po
  core/priv/gettext/en/LC_MESSAGES/eyra-link.po
  core/priv/gettext/en/LC_MESSAGES/eyra-marketplace.po
  core/priv/gettext/en/LC_MESSAGES/eyra-ui.po
  core/priv/gettext/en/LC_MESSAGES/link-studentpool.po
  core/priv/gettext/en/LC_MESSAGES/link-ui.po
  core/priv/gettext/eyra-link.pot
  core/priv/gettext/nl/LC_MESSAGES/eyra-account.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-link.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-marketplace.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-ui.po
  core/priv/gettext/nl/LC_MESSAGES/link-ui.po
Due: mix-test, mix-format, mix-compile, mix-credo

Copy changes (#136)
  core/bundles/link/lib/index.ex
  core/config/config.exs
  core/priv/gettext/en/LC_MESSAGES/eyra-account.po
  core/priv/gettext/en/LC_MESSAGES/eyra-link.po
  core/priv/gettext/en/LC_MESSAGES/eyra-marketplace.po
  core/priv/gettext/en/LC_MESSAGES/eyra-ui.po
  core/priv/gettext/en/LC_MESSAGES/link-studentpool.po
  core/priv/gettext/en/LC_MESSAGES/link-ui.po
  core/priv/gettext/eyra-link.pot
  core/priv/gettext/nl/LC_MESSAGES/eyra-account.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-link.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-marketplace.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-ui.po
  core/priv/gettext/nl/LC_MESSAGES/link-ui.po
Due: mix-test, mix-format, mix-compile, mix-credo

Improved image-catalog-picker on mobile
  core/assets/js/100vh-fix.js
  core/assets/js/app.js
  core/assets/js/viewport_resize.js
  core/assets/tailwind.config.js
  core/bundles/link/lib/survey/web/content.ex
  core/lib/core_web/image_catalog_picker.ex
  core/lib/core_web/live/promotion/form.ex
  core/lib/core_web/ui/viewport_helpers.ex
  core/priv/gettext/en/LC_MESSAGES/eyra-account.po
  core/priv/gettext/en/LC_MESSAGES/eyra-imagecatalog.po
  core/priv/gettext/en/LC_MESSAGES/eyra-promotion.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-account.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-imagecatalog.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-promotion.po
  frameworks/eyra_ui/lib/components/form/photo_input.ex
  frameworks/eyra_ui/lib/components/grid/image_grid.ex
  frameworks/eyra_ui/lib/components/image_preview.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Update 100vh-fix.js
  core/assets/js/100vh-fix.js
Due: none

Improved image-catalog-picker on mobile (#137)
  core/assets/js/app.js
  core/assets/js/viewport_resize.js
  core/assets/tailwind.config.js
  core/bundles/link/lib/survey/web/content.ex
  core/lib/core_web/image_catalog_picker.ex
  core/lib/core_web/live/promotion/form.ex
  core/lib/core_web/ui/viewport_helpers.ex
  core/priv/gettext/en/LC_MESSAGES/eyra-account.po
  core/priv/gettext/en/LC_MESSAGES/eyra-imagecatalog.po
  core/priv/gettext/en/LC_MESSAGES/eyra-promotion.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-account.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-imagecatalog.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-promotion.po
  frameworks/eyra_ui/lib/components/form/photo_input.ex
  frameworks/eyra_ui/lib/components/grid/image_grid.ex
  frameworks/eyra_ui/lib/components/image_preview.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Added minimal support system (#135)
  core/bundles/link/lib/layouts/workspace/menu_builder.ex
  core/config/dev.exs
  core/lib/core/admin.ex
  core/lib/core/authorization.ex
  core/lib/core/factories.ex
  core/lib/core/helpdesk.ex
  core/lib/core/helpdesk/ticket.ex
  core/lib/core_web/live/admin/routes.ex
  core/lib/core_web/live/admin/support_tickets.ex
  core/lib/core_web/live/layouts/workspace/menu_builder.ex
  core/lib/core_web/live/menu/items.ex
  core/lib/core_web/live/routes.ex
  core/lib/core_web/live/support.ex
  core/priv/gettext/en/LC_MESSAGES/erya-support.po
  core/priv/gettext/en/LC_MESSAGES/eyra-support.po
  core/priv/gettext/erya-support.pot
  core/priv/gettext/eyra-support.pot
  core/priv/gettext/nl/LC_MESSAGES/erya-support.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-support.po
  core/priv/repo/migrations/20210816074801_create_helpdesk_tickets.exs
  core/test/core/helpdesk_test.exs
  core/test/core_web/live/admin/support_tickets_test.exs
  core/test/core_web/live/support_test.exs
  core/test/support/helpers.ex
  core/test/test_helper.exs
Due: mix-test, mix-format, mix-compile, mix-credo

Use SSL certs when specified
  core/config/runtime.exs
  core/lib/core_web/endpoint.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Removed footer info
  core/lib/core/mailer/templates/email_layout/email.html.eex
Due: none

Removed footer info (#138)
  core/lib/core/mailer/templates/email_layout/email.html.eex
Due: none

Show message for Safari users that push will not work
  core/assets/js/app.js
  core/lib/core_web/live/user/settings.ex
  core/priv/gettext/en/LC_MESSAGES/eyra-account.po
  core/priv/gettext/en/LC_MESSAGES/eyra-imagecatalog.po
  core/priv/gettext/en/LC_MESSAGES/eyra-link.po
  core/priv/gettext/en/LC_MESSAGES/eyra-promotion.po
  core/priv/gettext/en/LC_MESSAGES/eyra-support.po
  core/priv/gettext/en/LC_MESSAGES/eyra-ui.po
  core/priv/gettext/en/LC_MESSAGES/link-survey.po
  core/priv/gettext/eyra-account.pot
  core/priv/gettext/eyra-imagecatalog.pot
  core/priv/gettext/eyra-promotion.pot
  core/priv/gettext/eyra-support.pot
  core/priv/gettext/eyra-ui.pot
  core/priv/gettext/link-survey.pot
  core/priv/gettext/nl/LC_MESSAGES/eyra-account.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-imagecatalog.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-link.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-promotion.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-support.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-ui.po
  core/priv/gettext/nl/LC_MESSAGES/link-survey.po
Due: mix-test, mix-format, mix-compile, mix-credo

Copy changes in researcher CMS
  core/lib/core_web/live/promotion/form.ex
  core/priv/gettext/en/LC_MESSAGES/eyra-account.po
  core/priv/gettext/en/LC_MESSAGES/eyra-link.po
  core/priv/gettext/en/LC_MESSAGES/eyra-promotion.po
  core/priv/gettext/en/LC_MESSAGES/eyra-support.po
  core/priv/gettext/en/LC_MESSAGES/link-survey.po
  core/priv/gettext/eyra-link.pot
  core/priv/gettext/eyra-promotion.pot
  core/priv/gettext/eyra-support.pot
  core/priv/gettext/nl/LC_MESSAGES/eyra-account.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-link.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-promotion.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-support.po
  core/priv/gettext/nl/LC_MESSAGES/link-survey.po
Due: mix-test, mix-format, mix-compile, mix-credo

Copy changes in researcher CMS (#141)
  core/lib/core_web/live/promotion/form.ex
  core/priv/gettext/en/LC_MESSAGES/eyra-account.po
  core/priv/gettext/en/LC_MESSAGES/eyra-link.po
  core/priv/gettext/en/LC_MESSAGES/eyra-promotion.po
  core/priv/gettext/en/LC_MESSAGES/eyra-support.po
  core/priv/gettext/en/LC_MESSAGES/link-survey.po
  core/priv/gettext/eyra-link.pot
  core/priv/gettext/eyra-promotion.pot
  core/priv/gettext/eyra-support.pot
  core/priv/gettext/nl/LC_MESSAGES/eyra-account.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-link.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-promotion.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-support.po
  core/priv/gettext/nl/LC_MESSAGES/link-survey.po
Due: mix-test, mix-format, mix-compile, mix-credo

Added health check endpoint
  core/lib/core_web/controllers/health_controller.ex
  core/lib/core_web/router.ex
  core/test/core_web/controllers/health_controller_test.exs
Due: mix-test, mix-format, mix-compile, mix-credo

Make "next" bundle work in dev mode
  core/bundles/link/lib/menu/items.ex
  core/bundles/link/lib/survey/web/content.ex
  core/bundles/link/lib/survey/web/overview.ex
  core/bundles/link/seeds.exs
  core/config/dev.exs
  core/lib/core/image_catalog.ex
  core/lib/core/image_catalog/local.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Added health check endpoint (#142)
  core/lib/core_web/controllers/health_controller.ex
  core/lib/core_web/router.ex
  core/test/core_web/controllers/health_controller_test.exs
Due: mix-test, mix-format, mix-compile, mix-credo

Used Toggle for displaying tabbar dropdown
  core/assets/js/toggle.js
  core/lib/core_web/ui/navigation/tabbar_dropdown.ex
  core/lib/core_web/ui/navigation/tabbar_narrow.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Removed console.log
  core/assets/js/toggle.js
Due: none

Survey params (#144)
  core/bundles/link/config/dev.exs
  core/bundles/link/lib/card.ex
  core/bundles/link/lib/dashboard.ex
  core/bundles/link/lib/survey/data/promotion_plugin.ex
  core/bundles/link/lib/survey/web/content.ex
  core/bundles/link/lib/survey/web/form.ex
  core/bundles/link/lib/survey/web/overview.ex
  core/bundles/link/seeds.exs
  core/config/config.exs
  core/config/dev.exs
  core/config/test.exs
  core/lib/core/factories.ex
  core/lib/core/image_catalog.ex
  core/lib/core/image_catalog/local.ex
  core/lib/core/promotions/promotion.ex
  core/lib/core/survey/participant.ex
  core/lib/core/survey/tool.ex
  core/lib/core/survey/tools.ex
  core/lib/core_web/live/devices.ex
  core/lib/core_web/live/promotion/public.ex
  core/mix.exs
  core/priv/gettext/en/LC_MESSAGES/eyra-link.po
  core/priv/gettext/en/LC_MESSAGES/eyra-promotion.po
  core/priv/gettext/en/LC_MESSAGES/eyra-support.po
  core/priv/gettext/en/LC_MESSAGES/link-survey.po
  core/priv/gettext/eyra-promotion.pot
  core/priv/gettext/eyra-support.pot
  core/priv/gettext/link-survey.pot
  core/priv/gettext/nl/LC_MESSAGES/eyra-link.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-promotion.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-support.po
  core/priv/gettext/nl/LC_MESSAGES/link-survey.po
  core/priv/repo/migrations/20210904134801_add_participant_id.exs
  core/test/core/image_catalog/local_test.exs
  core/test/core/survey/tool_test.exs
  core/test/core/survey/tools_test.exs
  frameworks/eyra_ui/lib/components/form/input.ex
  frameworks/eyra_ui/lib/components/form/url_input.ex
  frameworks/eyra_ui/lib/components/image.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Made tabbar without alpine in pure js
  core/assets/js/app.js
  core/assets/js/tabbar.js
  core/assets/js/toggle.js
  core/bundles/link/lib/onboarding/wizard.ex
  core/bundles/link/lib/pool/overview.ex
  core/bundles/link/lib/survey/web/content.ex
  core/lib/core_web/live/user/profile.ex
  core/lib/core_web/ui/navigation/tab.ex
  core/lib/core_web/ui/navigation/tabbar.ex
  core/lib/core_web/ui/navigation/tabbar_area.ex
  core/lib/core_web/ui/navigation/tabbar_content.ex
  core/lib/core_web/ui/navigation/tabbar_dropdown.ex
  core/lib/core_web/ui/navigation/tabbar_footer.ex
  core/lib/core_web/ui/navigation/tabbar_item.ex
  core/lib/core_web/ui/navigation/tabbar_narrow.ex
  core/lib/core_web/ui/navigation/tabbar_wide.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Implemented frictionless form validation
  core/assets/js/tabbar.js
  core/bundles/link/lib/survey/web/content.ex
  core/bundles/link/lib/survey/web/form.ex
  core/lib/core/content/node.ex
  core/lib/core/promotions/promotions.ex
  core/lib/core/survey/tools.ex
  core/lib/core_web/live/promotion/form.ex
  core/lib/core_web/live/user/forms/features.ex
  core/lib/core_web/ui/navigation/tabbar_item.ex
  core/lib/core_web/ui/navigation/tabbar_narrow.ex
  core/priv/gettext/nl/LC_MESSAGES/link-survey.po
  frameworks/eyra_ui/lib/components/text/title2.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Made the AWS SES backend available
  core/config/runtime.exs
  core/mix.exs
  core/mix.lock
Due: mix-test, mix-format, mix-credo

Form validation (#145)
  core/assets/js/app.js
  core/assets/js/tabbar.js
  core/assets/js/toggle.js
  core/bundles/link/lib/onboarding/wizard.ex
  core/bundles/link/lib/pool/overview.ex
  core/bundles/link/lib/survey/web/content.ex
  core/bundles/link/lib/survey/web/form.ex
  core/lib/core/content/node.ex
  core/lib/core/promotions/promotions.ex
  core/lib/core/survey/tools.ex
  core/lib/core_web/live/promotion/form.ex
  core/lib/core_web/live/user/forms/features.ex
  core/lib/core_web/live/user/profile.ex
  core/lib/core_web/ui/navigation/tab.ex
  core/lib/core_web/ui/navigation/tabbar.ex
  core/lib/core_web/ui/navigation/tabbar_area.ex
  core/lib/core_web/ui/navigation/tabbar_content.ex
  core/lib/core_web/ui/navigation/tabbar_dropdown.ex
  core/lib/core_web/ui/navigation/tabbar_footer.ex
  core/lib/core_web/ui/navigation/tabbar_item.ex
  core/lib/core_web/ui/navigation/tabbar_narrow.ex
  core/lib/core_web/ui/navigation/tabbar_wide.ex
  core/priv/gettext/en/LC_MESSAGES/eyra-promotion.po
  core/priv/gettext/en/LC_MESSAGES/link-survey.po
  core/priv/gettext/eyra-promotion.pot
  core/priv/gettext/link-survey.pot
  core/priv/gettext/nl/LC_MESSAGES/eyra-promotion.po
  core/priv/gettext/nl/LC_MESSAGES/link-survey.po
  frameworks/eyra_ui/lib/components/text/title2.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Made the AWS SES backend available (#146)
  core/config/runtime.exs
  core/mix.exs
  core/mix.lock
Due: mix-test, mix-format, mix-credo

Tweaked mail settings
  core/config/runtime.exs
Due: mix-test, mix-format, mix-credo

Tweaked mail settings (#148)
  core/config/runtime.exs
Due: mix-test, mix-format, mix-credo

Added mail debug form
  core/bundles/link/lib/debug.ex
  core/lib/core_web/live/mail_debug_form.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Added large logo for SURFconext
  core/assets/static/images/panl-wide.png
Due: none

Added mail debug form (#149)
  core/bundles/link/lib/debug.ex
  core/lib/core_web/live/mail_debug_form.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Added large logo for SURFconext (#150)
  core/assets/static/images/panl-wide.png
Due: none

Fix for mail debug
  core/config/runtime.exs
  core/lib/core_web/live/mail_debug_form.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Fix for mail debug (#151)
  core/config/runtime.exs
  core/lib/core_web/live/mail_debug_form.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Segmented control
  core/assets/js/tabbar.js
  core/bundles/link/lib/debug.ex
  core/bundles/link/lib/onboarding/wizard.ex
  core/bundles/link/lib/pool/overview.ex
  core/bundles/link/lib/survey/web/content.ex
  core/lib/core_web/live/mail_debug_form.ex
  core/lib/core_web/live/user/forms/debug.ex
  core/lib/core_web/live/user/profile.ex
  core/lib/core_web/ui/container/content_area.ex
  core/lib/core_web/ui/live_component.ex
  core/lib/core_web/ui/navigation/action_bar.ex
  core/lib/core_web/ui/navigation/tabbar.ex
  core/lib/core_web/ui/navigation/tabbar_item.ex
  core/lib/core_web/ui/navigation/tabbar_narrow.ex
  core/lib/core_web/ui/navigation/tabbar_wide.ex
  core/priv/gettext/nl/LC_MESSAGES/link-studentpool.po
  frameworks/eyra_ui/lib/components/button/face/icon.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Path conditions:
  mix-test: any of: \.exs*$
  mix-format: any of: \.exs*$
  mix-compile: any of: \.ex$
  mix-credo: any of: \.exs*$
