Repository eyra/mono: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-test, mix-format, mix-compile, mix-credo

mix-test:
  name: 'elixir: mix test'
  entry: mix test
  language: system
  pass_filenames: false

mix-format:
  name: 'elixir: mix format'
  entry: mix format --check-formatted
  language: system

mix-compile:
  name: 'elixir: mix compile'
  entry: mix compile --force --warnings-as-errors
  language: system
  pass_filenames: false

mix-credo:
  name: 'elixir: mix credo'
  entry: mix credo
  language: system
  pass_filenames: false

Renamed Core.SurveyTools(.*) to Core.Survey.{Tools, Tool, Task, Participant}
  core/bundles/link/dashboard.ex
  core/lib/core/authorization.ex
  core/lib/core/factories.ex
  core/lib/core/studies.ex
  core/lib/core/studies/study.ex
  core/lib/core/studies/study_edit.ex
  core/lib/core/studies/study_public.ex
  core/lib/core/survey/participant.ex
  core/lib/core/survey/task.ex
  core/lib/core/survey/tool.ex
  core/lib/core/survey/tools.ex
  core/lib/core_web/live/routes.ex
  core/lib/core_web/live/study/complete.ex
  core/lib/core_web/live/study/edit.ex
  core/lib/core_web/live/study/public.ex
  core/lib/core_web/live/survey/edit.ex
  core/lib/core_web/live/survey/form.ex
  core/lib/core_web/live/survey/index.ex
  core/lib/core_web/live/survey/new.ex
  core/lib/core_web/live/survey/routes.ex
  core/lib/core_web/live/survey_tool/routes.ex
  core/lib/core_web/loaders.ex
  core/lib/core_web/view_model/card.ex
  core/priv/repo/migrations/20201122134413_create_survey_tools.exs
  core/priv/repo/migrations/20210215212648_add_cascading_delete_to_survey_tools.exs
  core/test/core/survey_tools_test.exs
Due: mix-test, mix-format, mix-compile, mix-credo

Bumped to erlang 24.0.3 & elixir 1.12.2-otp-24
  .tool-versions
  core/assets/package-lock.json
  core/assets/yarn.lock
Due: none

Formatted code
  frameworks/eyra_ui/lib/timestamp.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Upgraded Erlang and Elixir (#80)
  .github/workflows/docs.yml
  .github/workflows/test.yml
  .tool-versions
  core/assets/package-lock.json
  core/lib/core/image_catalog/unsplash.ex
  frameworks/eyra_ui/lib/timestamp.ex
  frameworks/green_light/lib/plug.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Added email illustration asset
  core/assets/static/images/illustration-email.png
Due: none

Added more email images
  core/assets/static/images/email-footer-left.png
  core/assets/static/images/email-footer-left@2x.png
  core/assets/static/images/email-footer-left@3x.png
  core/assets/static/images/email-footer-right.png
  core/assets/static/images/email-footer-right@2x.png
  core/assets/static/images/email-footer-right@3x.png
  core/assets/static/images/email-illustration.png
  core/assets/static/images/email-illustration@2x.png
  core/assets/static/images/email-illustration@3x.png
  core/assets/static/images/email-logo.png
  core/assets/static/images/email-logo@2x.png
  core/assets/static/images/email-logo@3x.png
  core/assets/static/images/illustration-email.png
Due: none

Made HTML email template nicer
  core/lib/core/email_layout_view.ex
  core/lib/core/mailer.ex
  core/lib/core/mailer/email_layout_view.ex
  core/lib/core/mailer/templates/email_layout/email.html.eex
  core/lib/core/mailer/templates/email_layout/email.text.eex
  core/lib/core/templates/email_layout/email.html.eex
Due: mix-test, mix-format, mix-compile, mix-credo

Fixed automatic reload of translations
  core/mix.exs
Due: mix-test, mix-format, mix-credo

Fixed automatic reload of translations (#98)
  core/mix.exs
Due: mix-test, mix-format, mix-credo

Added Next Action system
  core/example.ex
  core/lib/core/accounts.ex
  core/lib/core/accounts/next_actions/complete_profile.ex
  core/lib/core/accounts/signal_handlers.ex
  core/lib/core/next_actions.ex
  core/lib/core/next_actions/live/next_action.ex
  core/lib/core/next_actions/live/next_action_highlight.ex
  core/lib/core/next_actions/next_action.ex
  core/lib/core/promotions/next_actions.ex
  core/lib/core/signals.ex
  core/lib/core_web/live/dashboard.ex
  core/priv/repo/migrations/20210711182414_create_next_actions.exs
  core/priv/repo/seeds.exs
  core/priv/repo/structure.sql
  core/test/core/next_actions_test.exs
Due: mix-test, mix-format, mix-compile, mix-credo

Cleaned the URL lookup system
  core/assets/static/images/checklist.svg
  core/example.ex
  core/lib/core/accounts/next_actions/complete_profile.ex
  core/lib/core/next_actions.ex
  core/lib/core/next_actions/live/next_action.ex
  core/lib/core/next_actions/view_model.ex
  core/lib/core_web.ex
  core/lib/core_web/live/dashboard.ex
  core/lib/core_web/url_resolver.ex
  core/test/core/next_actions_test.exs
Due: mix-test, mix-format, mix-compile, mix-credo

Made HTML email template nicer (#97)
  core/lib/core/email_layout_view.ex
  core/lib/core/mailer.ex
  core/lib/core/mailer/email_layout_view.ex
  core/lib/core/mailer/templates/email_layout/email.html.eex
  core/lib/core/mailer/templates/email_layout/email.text.eex
  core/lib/core/templates/email_layout/email.html.eex
Due: mix-test, mix-format, mix-compile, mix-credo

Renamed dashboard to marketplace
  core/lib/core/authorization.ex
  core/lib/core_web/controllers/user_auth.ex
  core/lib/core_web/live/data_donation/form.ex
  core/lib/core_web/live/data_donation/uploader.ex
  core/lib/core_web/live/index.ex
  core/lib/core_web/live/marketplace.ex
  core/lib/core_web/live/promotion/public.ex
  core/lib/core_web/live/routes.ex
  core/lib/core_web/templates/layout/root.html.leex
  core/priv/gettext/default.pot
  core/priv/gettext/en/LC_MESSAGES/default.po
  core/priv/gettext/en/LC_MESSAGES/eyra-dashboard.po
  core/priv/gettext/en/LC_MESSAGES/eyra-marketplace.po
  core/priv/gettext/en/LC_MESSAGES/eyra-promotion.po
  core/priv/gettext/eyra-marketplace.pot
  core/priv/gettext/eyra-promotion.pot
  core/priv/gettext/nl/LC_MESSAGES/default.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-dashboard.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-marketplace.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-promotion.po
  core/test/core_web/controllers/user_auth_test.exs
  core/test/core_web/controllers/user_session_controller_test.exs
  core/test/core_web/live/user/confirm_token_test.exs
Due: mix-test, mix-format, mix-compile, mix-credo

Added start of dashboard
  core/assets/js/app.js
  core/lib/core/authorization.ex
  core/lib/core/factories.ex
  core/lib/core_web/components/content_list_item.ex
  core/lib/core_web/live/dashboard.ex
  core/lib/core_web/live/routes.ex
  core/test/core_web/live/dashboard_test.exs
  frameworks/eyra_ui/lib/components/card/study.ex
  frameworks/eyra_ui/lib/components/image.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Added Next Action system (#99)
  core/assets/static/images/checklist.svg
  core/lib/core/accounts.ex
  core/lib/core/accounts/next_actions/complete_profile.ex
  core/lib/core/accounts/signal_handlers.ex
  core/lib/core/next_actions.ex
  core/lib/core/next_actions/live/next_action.ex
  core/lib/core/next_actions/live/next_action_highlight.ex
  core/lib/core/next_actions/next_action.ex
  core/lib/core/next_actions/view_model.ex
  core/lib/core/promotions/next_actions.ex
  core/lib/core/signals.ex
  core/lib/core_web.ex
  core/lib/core_web/live/dashboard.ex
  core/lib/core_web/url_resolver.ex
  core/priv/repo/migrations/20210711182414_create_next_actions.exs
  core/priv/repo/seeds.exs
  core/priv/repo/structure.sql
  core/test/core/next_actions_test.exs
Due: mix-test, mix-format, mix-compile, mix-credo

Fixed bug in method
  core/lib/core_web/live/menu/helpers.ex
Due: mix-test, mix-format, mix-compile, mix-credo

New view model strategy + moved layout code in 1 root folder
  core/assets/static/images/icons/signout_active.svg
  core/bundles/link/lib/dashboard/dashboard.ex
  core/bundles/link/lib/survey/web/content.ex
  core/lib/core_web/live/dashboard.ex
  core/lib/core_web/live/index.ex
  core/lib/core_web/live/layouts/website.ex
  core/lib/core_web/live/layouts/website/desktop_navbar_builder.ex
  core/lib/core_web/live/layouts/website/menu_helpers.ex
  core/lib/core_web/live/layouts/website/mobile_menu_builder.ex
  core/lib/core_web/live/layouts/website/mobile_navbar_builder.ex
  core/lib/core_web/live/layouts/workspace.ex
  core/lib/core_web/live/layouts/workspace/desktop_menu_builder.ex
  core/lib/core_web/live/layouts/workspace/helpers.ex
  core/lib/core_web/live/layouts/workspace/mobile_menu_builder.ex
  core/lib/core_web/live/layouts/workspace/mobile_navbar_builder.ex
  core/lib/core_web/live/menu/builder.ex
  core/lib/core_web/live/menu/helpers.ex
  core/lib/core_web/live/menu/website/desktop_navbar_builder.ex
  core/lib/core_web/live/menu/website/mobile_menu_builder.ex
  core/lib/core_web/live/menu/workspace/desktop_menu_builder.ex
  core/lib/core_web/live/menu/workspace/mobile_menu_builder.ex
  core/lib/core_web/live/user/profile.ex
  core/lib/core_web/live/user/settings.ex
  core/mix.lock
  frameworks/eyra_ui/.formatter.exs
  frameworks/eyra_ui/lib/components/navigation/button/button.ex
  frameworks/eyra_ui/lib/components/navigation/button/delete.ex
  frameworks/eyra_ui/lib/components/navigation/button/get.ex
  frameworks/eyra_ui/lib/components/navigation/button/get_dead.ex
  frameworks/eyra_ui/lib/components/navigation/menu.ex
  frameworks/eyra_ui/lib/components/navigation/menu_item.ex
  frameworks/eyra_ui/lib/components/navigation/navbar.ex
  frameworks/eyra_ui/lib/view_model.ex
  frameworks/eyra_ui/mix.exs
  frameworks/eyra_ui/mix.lock
Due: mix-test, mix-format, mix-compile, mix-credo

Made menu builder and items pluggable from config per bundle
  core/bundles/link/config.exs
  core/bundles/link/lib/dashboard/dashboard.ex
  core/bundles/link/lib/menu/items.ex
  core/bundles/link/lib/survey/web/content.ex
  core/config/config.exs
  core/lib/core_web/live/dashboard.ex
  core/lib/core_web/live/index.ex
  core/lib/core_web/live/layouts/website/component.ex
  core/lib/core_web/live/layouts/website/desktop_navbar_builder.ex
  core/lib/core_web/live/layouts/website/menu_builder.ex
  core/lib/core_web/live/layouts/website/menu_helpers.ex
  core/lib/core_web/live/layouts/website/mobile_menu_builder.ex
  core/lib/core_web/live/layouts/website/mobile_navbar_builder.ex
  core/lib/core_web/live/layouts/workspace/component.ex
  core/lib/core_web/live/layouts/workspace/desktop_menu_builder.ex
  core/lib/core_web/live/layouts/workspace/helpers.ex
  core/lib/core_web/live/layouts/workspace/menu_builder.ex
  core/lib/core_web/live/layouts/workspace/mobile_menu_builder.ex
  core/lib/core_web/live/layouts/workspace/mobile_navbar_builder.ex
  core/lib/core_web/live/menu/builder.ex
  core/lib/core_web/live/menu/helpers.ex
  core/lib/core_web/live/menu/items.ex
  core/lib/core_web/live/menu/items_provider.ex
  core/lib/core_web/live/user/profile.ex
  core/lib/core_web/live/user/settings.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Added Link dashboard
  core/bundles/link.ex
  core/bundles/link/lib/dashboard.ex
  core/bundles/link/lib/marketplace/card.ex
  core/bundles/link/lib/marketplace/marketplace.ex
  core/bundles/link/seeds.exs
  core/config/dev.exs
  core/lib/core/survey/tool.ex
  core/lib/core_web/components/content_list_item.ex
  core/lib/core_web/live/dashboard.ex
  core/mix.exs
  core/priv/gettext/default.pot
  core/priv/gettext/en/LC_MESSAGES/default.po
  core/priv/gettext/en/LC_MESSAGES/eyra-marketplace.po
  core/priv/gettext/en/LC_MESSAGES/eyra-study.po
  core/priv/gettext/en/LC_MESSAGES/link-dashboard.po
  core/priv/gettext/eyra-marketplace.pot
  core/priv/gettext/eyra-study.pot
  core/priv/gettext/link-dashboard.pot
  core/priv/gettext/nl/LC_MESSAGES/default.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-dashboard.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-marketplace.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-study.po
  core/priv/gettext/nl/LC_MESSAGES/link-dashboard.po
  core/priv/repo/migrations/20210728062650_add_survey_current_subject_count.exs
  core/priv/repo/structure.sql
Due: mix-test, mix-format, mix-compile, mix-credo

Added todo list implementation
  core/lib/core/next_actions/live/next_action.ex
  core/lib/core/next_actions/live/next_action_highlight.ex
  core/lib/core_web/live/todo.ex
  core/test/core_web/live/todo_test.exs
Due: mix-test, mix-format, mix-compile, mix-credo

Added student role & SurfConext login automatically assigns roles
  core/config/dev.exs
  core/lib/core/accounts/profile.ex
  core/lib/core/accounts/user.ex
  core/lib/core/surfconext.ex
  core/lib/core/surfconext/user.ex
  core/priv/repo/migrations/20210730102341_add_eduperson_affiliation_to_surfconext_user.exs
  core/priv/repo/migrations/20210730113503_add_student_role.exs
  core/test/core/surfconext_test.exs
Due: mix-test, mix-format, mix-compile, mix-credo

Added todo list implementation (#103)
  core/lib/core/next_actions/live/next_action.ex
  core/lib/core/next_actions/live/next_action_highlight.ex
  core/lib/core_web/live/todo.ex
  core/test/core_web/live/todo_test.exs
Due: mix-test, mix-format, mix-compile, mix-credo

Student role is now available
  core/lib/core/authorization.ex
  core/lib/core/authorization/user.ex
  core/test/core/authorization/user_test.exs
Due: mix-test, mix-format, mix-compile, mix-credo

Added student role & SurfConext login automatically assigns roles (#104)
  core/config/dev.exs
  core/lib/core/accounts/profile.ex
  core/lib/core/accounts/user.ex
  core/lib/core/authorization.ex
  core/lib/core/authorization/user.ex
  core/lib/core/surfconext.ex
  core/lib/core/surfconext/user.ex
  core/priv/repo/migrations/20210730102341_add_eduperson_affiliation_to_surfconext_user.exs
  core/priv/repo/migrations/20210730113503_add_student_role.exs
  core/test/core/authorization/user_test.exs
  core/test/core/surfconext_test.exs
Due: mix-test, mix-format, mix-compile, mix-credo

Removed grok
  core/config/dev.exs
Due: mix-test, mix-format, mix-credo

Fixed bug in MultiFormAutoSave
  core/bundles/link/lib/survey/web/content.ex
  core/lib/core_web/live/data_donation/content.ex
  core/lib/core_web/multi_form_auto_save.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Formatted code
  core/config/dev.exs
Due: mix-test, mix-format, mix-credo

Fixed bug in MultiFormAutoSave (#106)
  core/bundles/link/lib/survey/web/content.ex
  core/config/dev.exs
  core/lib/core_web/live/data_donation/content.ex
  core/lib/core_web/multi_form_auto_save.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Applied PR feedback from Jeroen
  core/bundles/link/lib/dashboard.ex
  core/bundles/link/lib/survey/web/content.ex
  core/lib/core/next_actions.ex
  core/lib/core_web/live/dashboard.ex
  core/lib/core_web/live/data_donation/content.ex
  core/test/core_web/live/todo_test.exs
Due: mix-test, mix-format, mix-compile, mix-credo

Path conditions:
  mix-test: any of: \.exs*$
  mix-format: any of: \.exs*$
  mix-compile: any of: \.ex$
  mix-credo: any of: \.exs*$
