Repository eyra/mono: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-test, mix-format, mix-compile, mix-credo

mix-test:
  name: 'elixir: mix test'
  entry: mix test
  language: system
  pass_filenames: false

mix-format:
  name: 'elixir: mix format'
  entry: mix format --check-formatted
  language: system

mix-compile:
  name: 'elixir: mix compile'
  entry: mix compile --force --warnings-as-errors
  language: system
  pass_filenames: false

mix-credo:
  name: 'elixir: mix credo'
  entry: mix credo
  language: system
  pass_filenames: false

Make use of OTP 24 compatible web_push_encryption lib
  core/mix.exs
  core/mix.lock
Due: mix-test, mix-format, mix-credo

Copy
  core/lib/core_web/live/user/settings.ex
  core/lib/core_web/templates/error/500_page.html.eex
  core/lib/core_web/templates/error/503_page.html.eex
  core/lib/core_web/templates/user_session/new.html.eex
  core/lib/core_web/templates/user_settings/edit.html.eex
  core/priv/gettext/en/LC_MESSAGES/eyra-account.po
  core/priv/gettext/en/LC_MESSAGES/eyra-enums.po
  core/priv/gettext/en/LC_MESSAGES/eyra-error.po
  core/priv/gettext/en/LC_MESSAGES/eyra-link.po
  core/priv/gettext/en/LC_MESSAGES/eyra-marketplace.po
  core/priv/gettext/en/LC_MESSAGES/eyra-nextaction.po
  core/priv/gettext/en/LC_MESSAGES/eyra-promotion.po
  core/priv/gettext/en/LC_MESSAGES/eyra-study.po
  core/priv/gettext/en/LC_MESSAGES/eyra-submission.po
  core/priv/gettext/en/LC_MESSAGES/eyra-support.po
  core/priv/gettext/en/LC_MESSAGES/eyra-ui.po
  core/priv/gettext/en/LC_MESSAGES/link-survey.po
  core/priv/gettext/en/LC_MESSAGES/link-ui.po
  core/priv/gettext/eyra-account.pot
  core/priv/gettext/eyra-error.pot
  core/priv/gettext/eyra-marketplace.pot
  core/priv/gettext/eyra-study.pot
  core/priv/gettext/eyra-submission.pot
  core/priv/gettext/eyra-ui.pot
  core/priv/gettext/link-survey.pot
  core/priv/gettext/link-ui.pot
  core/priv/gettext/nl/LC_MESSAGES/eyra-account.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-enums.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-error.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-link.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-marketplace.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-nextaction.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-study.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-submission.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-support.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-ui.po
  core/priv/gettext/nl/LC_MESSAGES/link-survey.po
  core/priv/gettext/nl/LC_MESSAGES/link-ui.po
Due: mix-test, mix-format, mix-compile, mix-credo

Updated privacy statement (#168)
  core/assets/static/privacy-statement.pdf
Due: none

Make use of OTP 24 compatible web_push_encryption lib (#170)
  core/mix.exs
  core/mix.lock
Due: mix-test, mix-format, mix-credo

Email header image copy
  core/assets/static/images/email-header-welcome.png
  core/assets/static/images/email-header-welcome@2x.png
  core/assets/static/images/email-header-welcome@3x.png
  core/priv/gettext/en/LC_MESSAGES/eyra-account.po
Due: none

Bumped web_push_encryption version
  core/mix.exs
  core/mix.lock
Due: mix-test, mix-format, mix-credo

Bumped web_push_encryption version (#175)
  core/mix.exs
  core/mix.lock
Due: mix-test, mix-format, mix-credo

Email header image copy (#172)
  core/assets/static/images/email-header-welcome.png
  core/assets/static/images/email-header-welcome@2x.png
  core/assets/static/images/email-header-welcome@3x.png
  core/priv/gettext/en/LC_MESSAGES/eyra-account.po
Due: none

Reverted 500 mailto 'improvement' aka security leak
  core/lib/core_web/templates/error/500_page.html.eex
  core/lib/core_web/views/error_view.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Img Alt
  core/bundles/link/lib/onboarding/welcome.ex
  core/lib/core_web/image_catalog_picker.ex
  core/lib/core_web/live/admin/login.ex
  core/lib/core_web/live/devices.ex
  core/lib/core_web/live/todo.ex
  core/lib/core_web/templates/error/403_page.html.eex
  core/lib/core_web/templates/error/404_page.html.eex
  core/lib/core_web/templates/error/500_page.html.eex
  core/lib/core_web/templates/error/503_page.html.eex
  core/lib/core_web/templates/layout/error.html.eex
  core/lib/core_web/templates/layout/root.html.leex
  core/lib/core_web/templates/user_session/new.html.eex
  core/lib/core_web/ui/content_list_item.ex
  core/lib/core_web/ui/empty.ex
  core/lib/core_web/ui/member.ex
  core/lib/core_web/ui/navigation/action_bar.ex
  core/lib/core_web/ui/navigation/menu_item.ex
  core/lib/core_web/ui/navigation/tabbar_narrow.ex
  frameworks/eyra_ui/lib/components/old_skool.ex
Due: mix-test, mix-format, mix-compile, mix-credo

W3C Validator improvements
  core/bundles/link/lib/layouts/stripped/menu_builder.ex
  core/bundles/link/lib/layouts/website/menu_builder.ex
  core/bundles/link/lib/layouts/workspace/menu_builder.ex
  core/bundles/link/lib/survey/web/content.ex
  core/lib/core_web/image_catalog_picker.ex
  core/lib/core_web/live/devices.ex
  core/lib/core_web/live/layouts/stripped/menu_builder.ex
  core/lib/core_web/live/layouts/website/menu_builder.ex
  core/lib/core_web/live/layouts/workspace/menu_builder.ex
  core/lib/core_web/live/menu/helpers.ex
  core/lib/core_web/templates/layout/app.html.eex
  core/lib/core_web/templates/layout/live.html.leex
  core/lib/core_web/ui/content_list_item.ex
  core/lib/core_web/ui/navigation/menu.ex
  core/lib/core_web/ui/navigation/menu_item.ex
  core/lib/core_web/ui/old_skool.ex
  frameworks/eyra_ui/lib/components/button/back_button.ex
  frameworks/eyra_ui/lib/components/button/face/forward.ex
  frameworks/eyra_ui/lib/components/button/face/icon.ex
  frameworks/eyra_ui/lib/components/button/face/label_icon.ex
  frameworks/eyra_ui/lib/components/button/face/primary_icon.ex
  frameworks/eyra_ui/lib/components/button/primary_icon_button.ex
  frameworks/eyra_ui/lib/components/card/button_card.ex
  frameworks/eyra_ui/lib/components/card/label.ex
  frameworks/eyra_ui/lib/components/grid/image_grid.ex
  frameworks/eyra_ui/lib/components/hero/hero_banner.ex
  frameworks/eyra_ui/lib/components/hero/hero_large.ex
  frameworks/eyra_ui/lib/components/hero/hero_small.ex
  frameworks/eyra_ui/lib/components/icon.ex
  frameworks/eyra_ui/lib/components/image.ex
  frameworks/eyra_ui/lib/components/image_preview.ex
  frameworks/eyra_ui/lib/components/old_skool.ex
  frameworks/eyra_ui/lib/components/selector/checkbox.ex
  frameworks/eyra_ui/lib/components/selector/radio.ex
  frameworks/eyra_ui/lib/components/text/bullet.ex
Due: mix-test, mix-format, mix-compile, mix-credo

W3C Validator improvements - part 2
  core/bundles/link/lib/layouts/workspace/menu_builder.ex
  core/lib/core_web/live/layouts/workspace/component.ex
  core/lib/core_web/live/layouts/workspace/menu_builder.ex
Due: mix-test, mix-format, mix-compile, mix-credo

update takeout.zip for google_search_history
  data_extractor/tests/data/takeout.zip
Due: none

Added observatory to clean up LiveView screens
  core/lib/core/accounts.ex
  core/lib/core/next_actions.ex
  core/lib/core/observatory.ex
  core/lib/core/observatory/switch.ex
  core/lib/core/signals.ex
  core/lib/core_web.ex
  core/lib/core_web/live/todo.ex
  core/test/core/accounts_test.exs
  core/test/core/observatory/switch_test.exs
  core/test/core/observatory_test.exs
  core/test/core_web/live/todo_test.exs
  core/test/core_web/live/user/profile_test.exs
Due: mix-test, mix-format, mix-compile, mix-credo

Added observatory to clean up LiveView screens (#179)
  core/lib/core/accounts.ex
  core/lib/core/next_actions.ex
  core/lib/core/observatory.ex
  core/lib/core/observatory/switch.ex
  core/lib/core/signals.ex
  core/lib/core_web.ex
  core/lib/core_web/live/todo.ex
  core/test/core/accounts_test.exs
  core/test/core/observatory/switch_test.exs
  core/test/core/observatory_test.exs
  core/test/core_web/live/todo_test.exs
  core/test/core_web/live/user/profile_test.exs
Due: mix-test, mix-format, mix-compile, mix-credo

Change time formats of printed dates
  data_extractor/google_search_history/__init__.py
Due: none

Implemented Campaign Preview in CMS
  core/assets/js/app.js
  core/bundles/link/lib/survey/web/content.ex
  core/lib/core/observatory/switch.ex
  core/lib/core/promotions/promotions.ex
  core/lib/core_web/live/promotion/form.ex
  core/lib/core_web/live/promotion/public.ex
  core/lib/core_web/live_form.ex
  core/lib/core_web/multi_form_auto_save.ex
  core/test/core/accounts_test.exs
  core/test/core_web/live/user/profile_test.exs
  frameworks/eyra_ui/lib/components/hero/hero_image.ex
  frameworks/eyra_ui/lib/components/image.ex
  frameworks/eyra_ui/lib/components/selector/selector.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Improved campaign submission form
  core/bundles/link/lib/pool/form/submission.ex
  core/lib/core/enums/study_program_codes.ex
  core/lib/core/enums/study_years.ex
  core/priv/gettext/default.pot
  core/priv/gettext/en/LC_MESSAGES/default.po
  core/priv/gettext/en/LC_MESSAGES/eyra-account.po
  core/priv/gettext/en/LC_MESSAGES/eyra-enums.po
  core/priv/gettext/en/LC_MESSAGES/eyra-promotion.po
  core/priv/gettext/en/LC_MESSAGES/eyra-submission.po
  core/priv/gettext/en/LC_MESSAGES/eyra-ui.po
  core/priv/gettext/en/LC_MESSAGES/link-survey.po
  core/priv/gettext/en/LC_MESSAGES/link-ui.po
  core/priv/gettext/eyra-account.pot
  core/priv/gettext/eyra-enums.pot
  core/priv/gettext/eyra-promotion.pot
  core/priv/gettext/eyra-submission.pot
  core/priv/gettext/eyra-ui.pot
  core/priv/gettext/link-survey.pot
  core/priv/gettext/link-ui.pot
  core/priv/gettext/nl/LC_MESSAGES/default.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-account.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-enums.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-promotion.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-submission.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-ui.po
  core/priv/gettext/nl/LC_MESSAGES/link-survey.po
  core/priv/gettext/nl/LC_MESSAGES/link-ui.po
  frameworks/eyra_ui/lib/components/selector/selector.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Created different page for link promotion public including new set of themes
  core/bundles/link.ex
  core/bundles/link/lib/enums/themes.ex
  core/bundles/link/lib/marketplace.ex
  core/bundles/link/lib/pool/form/submission.ex
  core/bundles/link/lib/promotions/public.ex
  core/bundles/link/lib/survey/data/promotion_plugin.ex
  core/bundles/link/lib/survey/web/content.ex
  core/lib/core/enums/base.ex
  core/lib/core/promotions/promotion.ex
  core/lib/core_web/live/data_donation/content.ex
  core/lib/core_web/live/promotion/form.ex
  core/lib/core_web/live_form.ex
  core/priv/gettext/en/LC_MESSAGES/eyra-account.po
  core/priv/gettext/en/LC_MESSAGES/eyra-enums.po
  core/priv/gettext/en/LC_MESSAGES/eyra-promotion.po
  core/priv/gettext/en/LC_MESSAGES/eyra-submission.po
  core/priv/gettext/en/LC_MESSAGES/eyra-ui.po
  core/priv/gettext/en/LC_MESSAGES/link-survey.po
  core/priv/gettext/en/LC_MESSAGES/link-ui.po
  core/priv/gettext/eyra-account.pot
  core/priv/gettext/eyra-enums.pot
  core/priv/gettext/eyra-promotion.pot
  core/priv/gettext/eyra-submission.pot
  core/priv/gettext/eyra-ui.pot
  core/priv/gettext/link-survey.pot
  core/priv/gettext/link-ui.pot
  core/priv/gettext/nl/LC_MESSAGES/eyra-account.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-enums.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-promotion.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-submission.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-ui.po
  core/priv/gettext/nl/LC_MESSAGES/link-survey.po
  core/priv/gettext/nl/LC_MESSAGES/link-ui.po
  frameworks/eyra_ui/lib/components/selector/selector.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Applied feedback from VU to the Campaign CMS Study Form
  core/assets/js/app.js
  core/assets/js/clipboard.js
  core/assets/static/images/icons/clipboard_tertiary.svg
  core/bundles/link/lib/enums/online_study_languages.ex
  core/bundles/link/lib/promotions/public.ex
  core/bundles/link/lib/survey/web/form.ex
  core/lib/core/survey/tool.ex
  core/lib/core_web/live/promotion/form.ex
  core/lib/core_web/live_form.ex
  core/lib/core_web/ui/step_indicator.ex
  core/priv/gettext/en/LC_MESSAGES/eyra-data-donation.po
  core/priv/gettext/en/LC_MESSAGES/eyra-enums.po
  core/priv/gettext/en/LC_MESSAGES/eyra-promotion.po
  core/priv/gettext/en/LC_MESSAGES/eyra-submission.po
  core/priv/gettext/en/LC_MESSAGES/eyra-ui.po
  core/priv/gettext/en/LC_MESSAGES/link-survey.po
  core/priv/gettext/en/LC_MESSAGES/link-ui.po
  core/priv/gettext/eyra-data-donation.pot
  core/priv/gettext/eyra-enums.pot
  core/priv/gettext/eyra-promotion.pot
  core/priv/gettext/eyra-submission.pot
  core/priv/gettext/eyra-ui.pot
  core/priv/gettext/link-survey.pot
  core/priv/gettext/link-ui.pot
  core/priv/gettext/nl/LC_MESSAGES/eyra-data-donation.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-enums.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-promotion.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-submission.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-ui.po
  core/priv/gettext/nl/LC_MESSAGES/link-survey.po
  core/priv/gettext/nl/LC_MESSAGES/link-ui.po
  core/priv/repo/migrations/20210928092900_update_survey_tools.exs
  frameworks/eyra_ui/lib/components/form/field.ex
  frameworks/eyra_ui/lib/components/panel/panel.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Improved copy and added checkbox for ethical review box
  core/assets/static/images/icons/check.svg
  core/assets/static/images/icons/check_active.svg
  core/assets/static/images/icons/check_dark.svg
  core/assets/static/images/icons/check_light.svg
  core/bundles/link/lib/survey/web/form.ex
  core/lib/core/content/node.ex
  core/lib/core/data_donation/tool.ex
  core/lib/core/enums/base.ex
  core/lib/core/lab/tool.ex
  core/lib/core/pools/submission.ex
  core/lib/core/promotions/promotion.ex
  core/lib/core/survey/tool.ex
  core/lib/core_web/live/user/forms/debug.ex
  core/priv/gettext/en/LC_MESSAGES/eyra-data-donation.po
  core/priv/gettext/en/LC_MESSAGES/eyra-enums.po
  core/priv/gettext/en/LC_MESSAGES/eyra-promotion.po
  core/priv/gettext/en/LC_MESSAGES/link-survey.po
  core/priv/gettext/eyra-promotion.pot
  core/priv/gettext/link-survey.pot
  core/priv/gettext/nl/LC_MESSAGES/eyra-promotion.po
  core/priv/gettext/nl/LC_MESSAGES/link-survey.po
  core/priv/repo/migrations/20210928092900_update_survey_tools.exs
  core/priv/repo/seeds.exs
  frameworks/eyra_ui/lib/components/form/checkbox.ex
  frameworks/eyra_ui/lib/components/form/label.ex
  frameworks/eyra_ui/lib/components/selector/checkbox.ex
  frameworks/eyra_ui/lib/components/selector/selector.ex
  frameworks/eyra_ui/lib/components/text/body.ex
  frameworks/eyra_ui/lib/form_helpers.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Improved copy
  core/lib/core_web/live/promotion/form.ex
  core/priv/gettext/en/LC_MESSAGES/eyra-account.po
  core/priv/gettext/en/LC_MESSAGES/eyra-dashboard.po
  core/priv/gettext/en/LC_MESSAGES/eyra-promotion.po
  core/priv/gettext/en/LC_MESSAGES/eyra-submission.po
  core/priv/gettext/en/LC_MESSAGES/eyra-ui.po
  core/priv/gettext/en/LC_MESSAGES/link-survey.po
  core/priv/gettext/eyra-promotion.pot
  core/priv/gettext/link-survey.pot
  core/priv/gettext/nl/LC_MESSAGES/eyra-account.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-dashboard.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-enums.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-promotion.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-submission.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-ui.po
  core/priv/gettext/nl/LC_MESSAGES/link-survey.po
Due: mix-test, mix-format, mix-compile, mix-credo

Disabled preview feature
  core/bundles/link/lib/survey/web/content.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Finetuning
  core/lib/core_web/live/user/forms/features.ex
  core/lib/core_web/live/user/forms/study.ex
  core/lib/core_web/ui/navigation/menu_item.ex
  core/priv/gettext/nl/LC_MESSAGES/eyra-promotion.po
Due: mix-test, mix-format, mix-compile, mix-credo

Finetuning (#181)
  core/lib/core_web/live/user/forms/features.ex
  core/lib/core_web/live/user/forms/study.ex
  core/lib/core_web/ui/navigation/menu_item.ex
  core/priv/gettext/nl/LC_MESSAGES/eyra-promotion.po
Due: mix-test, mix-format, mix-compile, mix-credo

Cleanup (#4)
  README.md
  data_extractor/README.md
  data_extractor/README.rst
  data_extractor/google_search_history/__init__.py
  data_extractor/google_search_history/simulation_gsh.py
  data_extractor/google_semantic_location_history/simulation_gslh.py
  data_extractor/tests/data/takeout.zip
  data_extractor/tests/test_simulation_gsh.py
  pyworker.js
Due: none

Update README.md
  data_extractor/README.md
Due: none

Removed demo notebook
  data_extractor/demo_google_search_history.ipynb
Due: none

More cleanup (#5)
  data_extractor/README.md
  data_extractor/google_search_history/main.py
  data_extractor/tests/data/hello/world.txt
Due: none

Fixed 2 issues with checkbox
  core/bundles/link/lib/survey/web/form.ex
  core/lib/core_web/live/user/forms/debug.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Added cascade to allow easier removal of users
  core/priv/repo/migrations/20211004181120_setup_cascade_delete_for_users.exs
Due: mix-test, mix-format, mix-credo

Fixed string to atom issue
  core/bundles/link/lib/survey/web/form.ex
  core/lib/core_web/live/user/forms/debug.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Fixed 2 issues with checkbox (#183)
  core/bundles/link/lib/survey/web/form.ex
  core/lib/core_web/live/user/forms/debug.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Path conditions:
  mix-test: any of: \.exs*$
  mix-format: any of: \.exs*$
  mix-compile: any of: \.ex$
  mix-credo: any of: \.exs*$
