Repository eyra/mono: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-test, mix-format, mix-compile, mix-credo

mix-test:
  name: 'elixir: mix test'
  entry: mix test
  language: system
  pass_filenames: false

mix-format:
  name: 'elixir: mix format'
  entry: mix format --check-formatted
  language: system

mix-compile:
  name: 'elixir: mix compile'
  entry: mix compile --force --warnings-as-errors
  language: system
  pass_filenames: false

mix-credo:
  name: 'elixir: mix credo'
  entry: mix credo
  language: system
  pass_filenames: false

Formatted code
  lib/eyra_ui/components/form/number_input.ex
  lib/eyra_ui/components/form/url_input.ex
  lib/link/survey_tools.ex
  lib/link/survey_tools/survey_tool.ex
  lib/link_web/live/study/new.ex
  lib/link_web/live/study/show.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Fix loading of study show
  lib/link/studies/study_show.ex
Due: mix-test, mix-format, mix-compile, mix-credo

WIP
  authorization_node.ex
  lib/green_light/live.ex
  lib/green_light/permission_map.ex
  lib/green_light/postgres/ltree.ex
  lib/link/authorization.ex
  lib/link/authorization/node.ex
  lib/link/authorization/role_assignment.ex
  lib/link/factories.ex
  lib/link/repo.ex
  lib/link/studies.ex
  lib/link/studies/study.ex
  lib/link_web.ex
  lib/link_web/live/study/new.ex
  lib/link_web/live/study/show.ex
  notes.md
  priv/repo/migrations/20210123220535_setup_tree_auth_model.exs
  priv/repo/migrations/20210205131330_add_auth_node_to_study.exs
  test/green_light/green_light_test.exs
  test/green_light/postgres/ltree_test.exs
  test/link/authorization_test.exs
  test/link_web/live/study/show_test.exs
  test/link_web/live/study_test.exs
Due: mix-test, mix-format, mix-compile, mix-credo

Removed unused controllers
  lib/link_web/controllers/page_controller.ex
  lib/link_web/controllers/study_controller.ex
  lib/link_web/templates/page/index.html.eex
  lib/link_web/templates/study/edit.html.eex
  lib/link_web/templates/study/new.html.eex
  lib/link_web/templates/study/show.html.eex
  lib/link_web/views/dashboard_view.ex
  lib/link_web/views/page_view.ex
  lib/link_web/views/study_view.ex
  test/link/studies_test.exs
  test/link_web/controllers/dashboard_controller_test.exs
  test/link_web/controllers/page_controller_test.exs
  test/link_web/controllers/study_controller_test.exs
Due: mix-test, mix-format, mix-compile, mix-credo

Fixed studies tests
  lib/link/authorization.ex
  lib/link/studies.ex
  test/link/studies_test.exs
Due: mix-test, mix-format, mix-compile, mix-credo

Removed broken tests & fixed warnings
  lib/link/authorization.ex
  lib/link_web/controllers/study/permissions_controller.ex
  lib/link_web/controllers/user_profile_controller.ex
  lib/link_web/templates/studies/permissions/show.html.eex
  lib/link_web/templates/survey_tool/edit.html.eex
  lib/link_web/templates/survey_tool/form.html.eex
  lib/link_web/templates/survey_tool/index.html.eex
  lib/link_web/templates/survey_tool/new.html.eex
  lib/link_web/templates/survey_tool/show.html.eex
  lib/link_web/templates/user_profile/edit.html.eex
  lib/link_web/views/studies/permissions_view.ex
  lib/link_web/views/user_profile_view.ex
  test/green_light/green_light_test.exs
  test/green_light/postgres/ltree_test.exs
  test/link/authorization_test.exs
  test/link_web/controllers/fake_survey_controller_test.exs
  test/link_web/controllers/participant_controller_test.exs
  test/link_web/controllers/studies/permissions_controller_test.exs
  test/link_web/controllers/survey_tool_controller_test.exs
  test/link_web/controllers/survey_tool_task_controller_test.exs
  test/link_web/controllers/user_profile_controller_test.exs
  test/link_web/live/study_test.exs
  test/link_web/live/user_profile_test.exs
Due: mix-test, mix-format, mix-compile, mix-credo

No more compiler warnings
  lib/eyra_ui/create.ex
  lib/link/authorization.ex
  lib/link_web/controllers/participant_controller.ex
  lib/link_web/controllers/survey_tool_controller.ex
  lib/link_web/controllers/survey_tool_task_controller.ex
  lib/link_web/live/study/new.ex
  lib/link_web/live/study/show.ex
  lib/link_web/live/survey_tool/edit.ex
  lib/link_web/live/survey_tool/new.ex
  lib/link_web/router.ex
  lib/link_web/templates/participant/index.html.eex
  lib/link_web/templates/participant/new.html.eex
Due: mix-test, mix-format, mix-compile, mix-credo

Added grant's to allow accessing live views
  lib/link/authorization.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Added seed script to setup the db after reset
  lib/link/authorization.ex
  priv/repo/migrations/20210203133519_adjust_survey_tool.exs
  priv/repo/seeds.exs
Due: mix-test, mix-format, mix-compile, mix-credo

Fixed tests
  lib/link/authorization.ex
  test/link/authorization_test.exs
Due: mix-test, mix-format, mix-compile, mix-credo

Fixed tests
  lib/green_light/postgres/ltree.ex
  lib/link/authorization/node.ex
  lib/link/authorization/role_assignment.ex
  lib/link_web/live_view_pow_helper.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Fixed credo issues
  lib/eyra_ui/components/button/submit_button_wide.ex
  lib/eyra_ui/components/form/checkbox.ex
  lib/eyra_ui/components/form/field.ex
  lib/eyra_ui/components/form/number_input.ex
  lib/eyra_ui/components/form/text_area.ex
  lib/eyra_ui/components/form/text_input.ex
  lib/eyra_ui/components/form/url_input.ex
  lib/eyra_ui/components/form/validation_errors.ex
  lib/eyra_ui/components/grid/absolute_grid.ex
  lib/eyra_ui/components/grid/dynamic_grid.ex
  lib/eyra_ui/components/text/body_large.ex
  lib/eyra_ui/components/text/intro.ex
  lib/eyra_ui/components/text/title1.ex
  lib/eyra_ui/components/text/title2.ex
  lib/eyra_ui/components/text/title3.ex
  lib/green_light/live.ex
  lib/link_web/live/survey_tool/new.ex
  test/link_web/live/study_test.exs
Due: mix-test, mix-format, mix-compile, mix-credo

Formatted code
  notes.md
Due: none

Refactored authorization system to use protocols
  lib/green_light.ex
  lib/green_light/authorization_node.ex
  lib/green_light/ecto/query.ex
  lib/green_light/ecto/role_assignment.ex
  lib/green_light/principal.ex
  lib/link/authorization.ex
  lib/link/authorization/node.ex
  lib/link/authorization/role_assignment.ex
  lib/link/authorization/user.ex
  lib/link/factories.ex
  lib/link/studies.ex
  lib/link/studies/study.ex
  lib/link/users/role_assignment.ex
  priv/repo/seeds.exs
  test/link/authorization_test.exs
  test/link/studies_test.exs
  test/link_web/live/study/show_test.exs
Due: mix-test, mix-format, mix-compile, mix-credo

Added tests
  test/link/studies/study_show_test.exs
  test/link_web/live/study/show_test.exs
  test/link_web/live/study_test.exs
  test/support/conn_case.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Added session based locale setting for LiveViews
  lib/link_web.ex
  lib/link_web/live_locale.ex
  lib/link_web/router.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Puntjes op de i voor study pages
  lib/eyra_ui/components/button/delete_button.ex
  lib/eyra_ui/components/button/secondary_live_view_button.ex
  lib/eyra_ui/components/text/sub_head.ex
  lib/link/authorization.ex
  lib/link/studies/study_edit.ex
  lib/link_web/live/study/edit.ex
  lib/link_web/live/study/public.ex
  lib/link_web/live/user_profile.ex
  lib/link_web/templates/layout/root.html.leex
  priv/gettext/default.pot
  priv/gettext/en/LC_MESSAGES/default.po
  priv/gettext/en/LC_MESSAGES/eyra-account.po
  priv/gettext/en/LC_MESSAGES/eyra-link.po
  priv/gettext/en/LC_MESSAGES/eyra-study.po
  priv/gettext/en/LC_MESSAGES/eyra-survey.po
  priv/gettext/en/LC_MESSAGES/eyra-ux.po
  priv/gettext/eyra-account.pot
  priv/gettext/eyra-link.pot
  priv/gettext/eyra-study.pot
  priv/gettext/eyra-survey.pot
  priv/gettext/eyra-ux.pot
  priv/gettext/nl/LC_MESSAGES/default.po
  priv/gettext/nl/LC_MESSAGES/eyra-account.po
  priv/gettext/nl/LC_MESSAGES/eyra-link.po
  priv/gettext/nl/LC_MESSAGES/eyra-study.po
  priv/gettext/nl/LC_MESSAGES/eyra-survey.po
  priv/gettext/nl/LC_MESSAGES/eyra-ux.po
Due: mix-test, mix-format, mix-compile, mix-credo

Moved participants to survey tool
  lib/green_light.ex
  lib/link/authorization.ex
  lib/link/factories.ex
  lib/link/studies.ex
  lib/link/survey_tools.ex
  lib/link/survey_tools/participant.ex
  lib/link/survey_tools/survey_tool.ex
  lib/link_web.ex
  lib/link_web/live/dashboard.ex
  lib/link_web/live/index.ex
  lib/link_web/live/study/new.ex
  lib/link_web/live/study/public.ex
  lib/link_web/live/study/show.ex
  lib/link_web/live/survey_tool/edit.ex
  lib/link_web/live/survey_tool/index.ex
  lib/link_web/live/survey_tool/new.ex
  lib/link_web/live/user_profile.ex
  lib/link_web/live_locale.ex
  lib/link_web/router.ex
  priv/repo/migrations/20210207104300_move_participants_to_survey_tool.exs
  priv/repo/migrations/20210212072604_add_auth_node_to_survey_tool.exs
  priv/repo/seeds.exs
  test/link/studies_test.exs
  test/link/survey_tools_test.exs
  test/link_web/live/study_test.exs
Due: mix-test, mix-format, mix-compile, mix-credo

Removed is_published field in favor of the published_at field
  lib/link/studies.ex
  lib/link/studies/study_edit.ex
  lib/link/studies/study_public.ex
  lib/link/survey_tools/survey_tool.ex
  lib/link_web/live/study/edit.ex
  lib/link_web/live/study/public.ex
  priv/repo/migrations/20210203133519_adjust_survey_tool.exs
  priv/repo/seeds.exs
  test/link/studies/study_edit_test.exs
Due: mix-test, mix-format, mix-compile, mix-credo

Set user not authenticated path
  lib/link_web/pow/routes.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Initial version
  .gitignore
  README.md
  data_extractor/README.rst
  data_extractor/data_extractor/__init__.py
  data_extractor/dist/data_extractor-0.1.0-py3-none-any.whl
  data_extractor/dist/data_extractor-0.1.0.tar.gz
  data_extractor/poetry.lock
  data_extractor/pyproject.toml
  data_extractor/tests/__init__.py
  data_extractor/tests/data/hello.zip
  data_extractor/tests/data/hello/world.txt
  data_extractor/tests/test_data_extractor.py
  index.html
  pyworker.js
Due: none

Remove CSP header (broke Safari & LiveView) also removed Sobelow since we are now disabling most of it's warnings.
  lib/link_web/router.ex
  mix.exs
  mix.lock
Due: mix-test, mix-format, mix-compile, mix-credo

Removed sobelow from pre-commit
  .pre-commit-config.yaml
Due: none

Changed some copy
  priv/gettext/en/LC_MESSAGES/eyra-link.po
  priv/gettext/en/LC_MESSAGES/eyra-study.po
  priv/gettext/nl/LC_MESSAGES/eyra-link.po
  priv/gettext/nl/LC_MESSAGES/eyra-study.po
  priv/gettext/nl/LC_MESSAGES/eyra-survey.po
Due: none

Changed some copy and colors
  lib/eyra_ui/components/card/primary_study.ex
  lib/link_web/live/dashboard.ex
  lib/link_web/live/fake_survey.ex
  lib/link_web/live/study/public.ex
  priv/gettext/en/LC_MESSAGES/eyra-study.po
  priv/gettext/en/LC_MESSAGES/eyra-survey.po
  priv/gettext/eyra-study.pot
  priv/gettext/eyra-survey.pot
  priv/gettext/nl/LC_MESSAGES/eyra-study.po
  priv/gettext/nl/LC_MESSAGES/eyra-survey.po
Due: mix-test, mix-format, mix-compile, mix-credo

Changed some colors
  lib/link_web/live/fake_survey.ex
  lib/link_web/live/study/public.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Added possibility to withdraw from study as participant
  lib/green_light.ex
  lib/link/survey_tools.ex
  lib/link_web/live/study/public.ex
  priv/gettext/en/LC_MESSAGES/eyra-study.po
  priv/gettext/en/LC_MESSAGES/eyra-survey.po
  priv/gettext/eyra-study.pot
  priv/gettext/eyra-survey.pot
  priv/gettext/nl/LC_MESSAGES/eyra-study.po
  priv/gettext/nl/LC_MESSAGES/eyra-survey.po
Due: mix-test, mix-format, mix-compile, mix-credo

Added possibility to withdraw from study as participant (#39)
  lib/green_light.ex
  lib/link/survey_tools.ex
  lib/link_web/live/study/public.ex
  priv/gettext/en/LC_MESSAGES/eyra-study.po
  priv/gettext/en/LC_MESSAGES/eyra-survey.po
  priv/gettext/eyra-study.pot
  priv/gettext/eyra-survey.pot
  priv/gettext/nl/LC_MESSAGES/eyra-study.po
  priv/gettext/nl/LC_MESSAGES/eyra-survey.po
Due: mix-test, mix-format, mix-compile, mix-credo

Call make deps in github action
  .github/workflows/test.yml
Due: none

Formatted code
  priv/repo/migrations/20201020183311_create_studies.exs
  priv/repo/migrations/20201028085310_create_user_identities.exs
  priv/repo/migrations/20201101134918_create_role_assignments.exs
  priv/repo/migrations/20201102192524_create_test_entities.exs
  priv/repo/migrations/20201122134413_create_survey_tools.exs
  priv/repo/migrations/20201206155650_create_user_profiles.exs
  priv/repo/migrations/20201212083922_create_participants.exs
  priv/repo/migrations/20201212084431_add_role_assignments_index.exs
  priv/repo/migrations/20201213065158_add_state_to_study_participants.exs
  priv/repo/migrations/20201213191000_drop_researcher_from_studies.exs
  priv/repo/migrations/20201219120744_add_displayname_user_profile.exs
  priv/repo/migrations/20201221095052_alter_study_description_and_title_to_text.exs
  priv/repo/migrations/20201221105503_add_cascading_delete_to_participations.exs
  priv/repo/migrations/20210103112001_create_survey_tool_tasks.exs
  priv/repo/migrations/20210103112648_add_survey_tool_flow_fields.exs
  priv/repo/migrations/20210205145655_add_author.exs
  priv/repo/migrations/20210215212648_add_cascading_delete_to_survey_tools.exs
  priv/repo/migrations/20210215213744_add_cascading_delete_to_authors.exs
Due: mix-test, mix-format, mix-credo

Fix in pre commit hooks
  .pre-commit-config.yaml
Due: none

Fix in root Makefile
  Makefile
Due: none

Path conditions:
  mix-test: any of: \.exs*$
  mix-format: any of: \.exs*$
  mix-compile: any of: \.ex$
  mix-credo: any of: \.exs*$
