Repository eyra/mono: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-test, mix-format, mix-compile, mix-credo

mix-test:
  name: 'elixir: mix test'
  entry: mix test
  language: system
  pass_filenames: false

mix-format:
  name: 'elixir: mix format'
  entry: mix format --check-formatted
  language: system

mix-compile:
  name: 'elixir: mix compile'
  entry: mix compile --force --warnings-as-errors
  language: system
  pass_filenames: false

mix-credo:
  name: 'elixir: mix credo'
  entry: mix credo
  language: system
  pass_filenames: false

Added display name to default reply address
  core/config/runtime.exs
Due: mix-test, mix-format, mix-credo

Changed default reply address format for SES
  core/config/runtime.exs
Due: mix-test, mix-format, mix-credo

Fixed typo
  core/config/runtime.exs
Due: mix-test, mix-format, mix-credo

Applied feedback on copy
  core/config/runtime.exs
  core/lib/core_web/live/user/await_confirmation.ex
  core/priv/gettext/en/LC_MESSAGES/eyra-account.po
  core/priv/gettext/en/LC_MESSAGES/eyra-benchmark.po
  core/priv/gettext/en/LC_MESSAGES/eyra-error.po
  core/priv/gettext/en/LC_MESSAGES/eyra-support.po
  core/priv/gettext/en/LC_MESSAGES/eyra-ui.po
  core/priv/gettext/eyra-account.pot
  core/priv/gettext/nl/LC_MESSAGES/eyra-account.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-benchmark.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-error.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-support.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-ui.po
  core/systems/email/email/account_confirmation_instructions.html.eex
  core/systems/email/email/account_confirmation_instructions.text.eex
  core/systems/email/email/reset_password_instructions.html.eex
  core/systems/email/email/reset_password_instructions.text.eex
  core/systems/email/factory.ex
  core/test/core/accounts/user_notifier_test.exs
  core/test/core_web/controllers/user_auth_test.exs
  core/test/systems/email/factory_test.exs
Due: mix-test, mix-format, mix-compile, mix-credo

Some more copy changes and email html fixes
  core/lib/core_web/controllers/user_settings_controller.ex
  core/lib/core_web/live/user/confirm_token.ex
  core/lib/core_web/live/user/reset_password_token.ex
  core/lib/core_web/live/user/signup.ex
  core/priv/gettext/en/LC_MESSAGES/eyra-user.po
  core/priv/gettext/eyra-user.pot
  core/priv/gettext/nl/LC_MESSAGES/eyra-user.po
  core/systems/email/email/account_confirmation_instructions.html.eex
  core/systems/email/email/reset_password_instructions.html.eex
  core/test/core_web/controllers/user_session_controller_test.exs
  core/test/core_web/controllers/user_settings_controller_test.exs
Due: mix-test, mix-format, mix-compile, mix-credo

Some more copy changes
  core/systems/email/email/account_confirmation_instructions.html.eex
Due: none

Some more copy changes
  core/lib/core_web/live/user/await_confirmation.ex
  core/priv/gettext/en/LC_MESSAGES/eyra-account.po
  core/test/systems/email/factory_test.exs
Due: mix-test, mix-format, mix-compile, mix-credo

Update account_confirmation_instructions.html.eex
  core/systems/email/email/account_confirmation_instructions.html.eex
Due: none

Update account_created.html.eex
  core/systems/email/email/account_created.html.eex
Due: none

Update account_confirmation_instructions.text.eex
  core/systems/email/email/account_confirmation_instructions.text.eex
Due: none

Update account_created.text.eex
  core/systems/email/email/account_created.text.eex
Due: none

Update factory.ex
  core/systems/email/factory.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Update reset_password_instructions.html.eex
  core/systems/email/email/reset_password_instructions.html.eex
Due: none

Update eyra-account.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-account.po
Due: none

Update eyra-account.po
  core/priv/gettext/en/LC_MESSAGES/eyra-account.po
Due: none

Update eyra-user.po
  core/priv/gettext/en/LC_MESSAGES/eyra-user.po
Due: none

Update eyra-user.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-user.po
Due: none

Update confirm_token.ex
  core/lib/core_web/live/user/confirm_token.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Some more copy changes
  core/priv/gettext/nl/LC_MESSAGES/eyra-project.po
Due: none

Fixed tests due email copy chnages
  core/test/core/accounts/signal_handlers_test.exs
  core/test/core_web/live/user/confirm_token_test.exs
  core/test/systems/email/factory_test.exs
Due: mix-test, mix-format, mix-credo

Removed 'Welcome to Panl' email header
  core/assets/static/images/email-header-welcome.png
  core/assets/static/images/email-header-welcome@2x.png
  core/assets/static/images/email-header-welcome@3x.png
  core/systems/email/factory.ex
  core/test/systems/email/factory_test.exs
Due: mix-test, mix-format, mix-compile, mix-credo

Replaced settings and added platfrom footer
  core/assets/tailwind.config.js
  core/bundles/link/lib/layouts/workspace/menu_builder.ex
  core/bundles/link/lib/menu/items.ex
  core/bundles/link/lib/user/session_html/new.html.heex
  core/bundles/next/lib/layouts/workspace/menu_builder.ex
  core/bundles/next/lib/menu/items.ex
  core/bundles/next/lib/user/session_html/new.html.heex
  core/bundles/port/lib/layouts/workspace/menu_builder.ex
  core/bundles/port/lib/menu/items.ex
  core/bundles/port/lib/user/session_html/new.html.heex
  core/frameworks/pixel/components/text.ex
  core/lib/core/accounts/next_actions/promote_push_student.ex
  core/lib/core_web/controllers/layouts/app/component.ex
  core/lib/core_web/controllers/layouts/error.html.eex
  core/lib/core_web/controllers/layouts/stripped/component.ex
  core/lib/core_web/controllers/layouts/website/component.ex
  core/lib/core_web/controllers/layouts/workspace/component.ex
  core/lib/core_web/live/user/forms/profile.ex
  core/lib/core_web/live/user/forms/settings.ex
  core/lib/core_web/live/user/profile.ex
  core/lib/core_web/live/user/routes.ex
  core/lib/core_web/ui/footer.ex
  core/lib/core_web/ui/navigation.ex
  core/lib/core_web/ui/old_skool.ex
  core/priv/gettext/en/LC_MESSAGES/eyra-ui.po
  core/priv/gettext/eyra-ui.pot
  core/priv/gettext/nl/LC_MESSAGES/eyra-ui.po
  core/test/core/accounts_test.exs
  core/test/core/surfconext_test.exs
Due: mix-test, mix-format, mix-compile, mix-credo

Added support for exporting benchmark submissions
  core/.dialyzer_ignore.exs
  core/lib/core/factories.ex
  core/systems/benchmark/_public.ex
  core/systems/benchmark/_routes.ex
  core/systems/benchmark/export_controller.ex
  core/systems/benchmark/leaderboard_overview.ex
  core/systems/project/content_page_builder/item_benchmark.ex
  core/systems/project/item_config_form.ex
  core/test/systems/benchmark/export_controller_test.exs
Due: mix-test, mix-format, mix-compile, mix-credo

Added support for importing leaderboard csv
  core/assets/tailwind.config.js
  core/bundles/next/lib/user/signin.ex
  core/config/dev.exs
  core/frameworks/pixel/components/text.ex
  core/priv/gettext/en/LC_MESSAGES/eyra-benchmark.po
  core/priv/gettext/eyra-benchmark.pot
  core/priv/gettext/nl/LC_MESSAGES/eyra-benchmark.po
  core/systems/benchmark/_public.ex
  core/systems/benchmark/import_form.ex
  core/systems/benchmark/leaderboard_model.ex
  core/systems/benchmark/leaderboard_overview.ex
  core/systems/benchmark/leaderboard_view.ex
  core/systems/benchmark/score_model.ex
  core/systems/benchmark/submission_overview.ex
  core/systems/benchmark/submission_view.ex
  core/systems/project/content_page_builder/item_benchmark.ex
  core/systems/project/item_content_page.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Added export icon
  core/assets/static/images/icons/export.svg
Due: none

Refactor leaderboard to segmented variant and used it on 3 pages
  core/bundles/link/lib/onboarding/wizard_page.ex
  core/bundles/next/lib/user/signin.ex
  core/frameworks/pixel/components/selector.ex
  core/lib/core/authorization.ex
  core/lib/core_web/controllers/layouts/stripped/component.ex
  core/lib/core_web/live/user/await_confirmation.ex
  core/lib/core_web/live/user/reset_password.ex
  core/lib/core_web/live/user/reset_password_token.ex
  core/lib/core_web/live/user/signup.ex
  core/priv/gettext/en/LC_MESSAGES/eyra-benchmark.po
  core/priv/gettext/eyra-benchmark.pot
  core/priv/gettext/nl/LC_MESSAGES/eyra-benchmark.po
  core/systems/admin/login_page.ex
  core/systems/benchmark/_public.ex
  core/systems/benchmark/_routes.ex
  core/systems/benchmark/leaderboard_category_view.ex
  core/systems/benchmark/leaderboard_overview.ex
  core/systems/benchmark/leaderboard_page.ex
  core/systems/benchmark/leaderboard_view.ex
  core/systems/benchmark/tool_page.ex
  core/systems/benchmark/tool_page_builder.ex
Due: mix-test, mix-format, mix-compile, mix-credo

First daft of Trix integration
  core/assets/css/app.css
  core/assets/js/app.js
  core/assets/package-lock.json
  core/assets/package.json
  core/assets/tailwind.config.js
  core/frameworks/pixel/components/form.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Fixed import error when score is 0
  core/systems/benchmark/_public.ex
  core/systems/benchmark/leaderboard_overview.ex
  core/test/systems/benchmark/_public_test.exs
Due: mix-test, mix-format, mix-compile, mix-credo

share WIP
  core/frameworks/pixel/components/search_bar.ex
  core/frameworks/pixel/components/share_view.ex
  core/priv/gettext/en/LC_MESSAGES/eyra-project.po
  core/priv/gettext/en/LC_MESSAGES/eyra-ui.po
  core/priv/gettext/eyra-ui.pot
  core/priv/gettext/nl/LC_MESSAGES/eyra-project.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-ui.po
Due: mix-test, mix-format, mix-compile, mix-credo

Improved side panel position
  core/assets/js/side_panel.js
  core/assets/js/tabbar.js
  core/frameworks/pixel/components/side_panel.ex
  core/systems/data_donation/task_builder_view.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Add platform dropwdown input on task form
  core/frameworks/pixel/components/form.ex
  core/priv/gettext/en/LC_MESSAGES/eyra-data-donation.po
  core/priv/gettext/eyra-data-donation.pot
  core/priv/gettext/nl/LC_MESSAGES/eyra-data-donation.po
  core/systems/budget/_presenter.ex
  core/systems/data_donation/task_form.ex
  core/systems/data_donation/task_model.ex
  core/systems/lab/experiment_task_view.ex
  core/systems/org/node_content_view.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Add document task form
  core/bundles/link/lib/console/page.ex
  core/priv/gettext/en/LC_MESSAGES/eyra-data-donation.po
  core/priv/gettext/eyra-data-donation.pot
  core/priv/gettext/nl/LC_MESSAGES/eyra-data-donation.po
  core/priv/repo/migrations/20230625132616_add_document_name.exs
  core/systems/data_donation/_public.ex
  core/systems/data_donation/document_task_form.ex
  core/systems/data_donation/document_task_model.ex
  core/systems/data_donation/document_task_view.ex
  core/systems/data_donation/task_builder_view.ex
  core/systems/data_donation/task_cell.ex
  core/systems/data_donation/task_form.ex
  core/systems/data_donation/task_model.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Fixed bottom margin side panel
  core/assets/js/side_panel.js
Due: none

Fixed credo warning
  core/frameworks/pixel/components/form.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Added temp delete project
  core/priv/gettext/en/LC_MESSAGES/eyra-project.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-project.po
  core/systems/project/_assembly.ex
  core/systems/project/overview_page.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Added temp delete item
  core/lib/core/factories.ex
  core/systems/project/_assembly.ex
  core/systems/project/_public.ex
  core/systems/project/item_model.ex
  core/systems/project/node_page.ex
  core/systems/project/node_page_builder.ex
  core/systems/project/overview_page.ex
  core/systems/project/tools.ex
  core/test/systems/project/assembly_test.exs
Due: mix-test, mix-format, mix-compile, mix-credo

Path conditions:
  mix-test: any of: \.exs*$
  mix-format: any of: \.exs*$
  mix-compile: any of: \.ex$
  mix-credo: any of: \.exs*$
