Repository eyra/mono: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-test, mix-format, mix-compile, mix-credo

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: no-commit-to-branch
        args: [-b, master]
  - repo: local
    hooks:
      - id: mix-test
        name: "elixir: mix test"
        entry: mix test
        language: system
        pass_filenames: false
        files: \.exs*$

      - id: mix-format
        name: "elixir: mix format"
        entry: mix format --check-formatted
        language: system
        files: \.exs*$

      - id: mix-compile
        name: "elixir: mix compile"
        entry: mix compile --force --warnings-as-errors
        language: system
        pass_filenames: false
        files: \.ex$

      - id: mix-credo
        name: "elixir: mix credo"
        entry: mix credo
        language: system
        pass_filenames: false
        files: \.exs*$

Restrict push registration on Chrome & Firefox
  core/lib/core_web/live/user/settings.ex
  core/priv/gettext/en/LC_MESSAGES/eyra-account.po
  core/priv/gettext/en/LC_MESSAGES/eyra-admin.po
  core/priv/gettext/en/LC_MESSAGES/link-ui.po
  core/priv/gettext/eyra-account.pot
  core/priv/gettext/eyra-admin.pot
  core/priv/gettext/link-ui.pot
  core/priv/gettext/nl/LC_MESSAGES/eyra-account.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-admin.po
  core/priv/gettext/nl/LC_MESSAGES/link-ui.po
  frameworks/eyra_ui/lib/components/old_skool.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Student pool tab-1: students
  core/assets/static/images/profile_photo_default_female.svg
  core/assets/static/images/profile_photo_default_male.svg
  core/bundles/link/lib/pool/form/students.ex
  core/lib/core/surfconext/accounts.ex
  core/priv/gettext/en/LC_MESSAGES/eyra-admin.po
  core/priv/gettext/en/LC_MESSAGES/eyra-ui.po
  core/priv/gettext/en/LC_MESSAGES/link-studentpool.po
  core/priv/gettext/en/LC_MESSAGES/link-ui.po
  core/priv/gettext/eyra-admin.pot
  core/priv/gettext/eyra-ui.pot
  core/priv/gettext/link-studentpool.pot
  core/priv/gettext/link-ui.pot
  core/priv/gettext/nl/LC_MESSAGES/eyra-admin.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-dashboard.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-ui.po
  core/priv/gettext/nl/LC_MESSAGES/link-studentpool.po
  core/priv/gettext/nl/LC_MESSAGES/link-ui.po
Due: mix-test, mix-format, mix-compile, mix-credo

New studentpool icons
  core/assets/static/images/icons/studentpool.svg
  core/assets/static/images/icons/studentpool_active.svg
Due: none

Restrict push registration on Chrome & Firefox (#154)
  core/lib/core_web/live/user/settings.ex
  core/priv/gettext/en/LC_MESSAGES/eyra-account.po
  core/priv/gettext/en/LC_MESSAGES/eyra-admin.po
  core/priv/gettext/en/LC_MESSAGES/link-ui.po
  core/priv/gettext/eyra-account.pot
  core/priv/gettext/eyra-admin.pot
  core/priv/gettext/link-ui.pot
  core/priv/gettext/nl/LC_MESSAGES/eyra-account.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-admin.po
  core/priv/gettext/nl/LC_MESSAGES/link-ui.po
  frameworks/eyra_ui/lib/components/old_skool.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Segmented control (#153)
  core/assets/js/tabbar.js
  core/bundles/link/lib/debug.ex
  core/bundles/link/lib/onboarding/wizard.ex
  core/bundles/link/lib/pool/overview.ex
  core/bundles/link/lib/survey/web/content.ex
  core/lib/core_web/live/mail_debug_form.ex
  core/lib/core_web/live/user/forms/debug.ex
  core/lib/core_web/live/user/profile.ex
  core/lib/core_web/ui/container/content_area.ex
  core/lib/core_web/ui/live_component.ex
  core/lib/core_web/ui/navigation/action_bar.ex
  core/lib/core_web/ui/navigation/tabbar.ex
  core/lib/core_web/ui/navigation/tabbar_item.ex
  core/lib/core_web/ui/navigation/tabbar_narrow.ex
  core/lib/core_web/ui/navigation/tabbar_wide.ex
  core/priv/gettext/nl/LC_MESSAGES/link-studentpool.po
  frameworks/eyra_ui/lib/components/button/face/icon.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Enable debug logging for SURFconext
  core/config/runtime.exs
  core/lib/core/surfconext/plug.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Restricted random campaign image to keyword: abstract
  core/bundles/link/lib/survey/web/form.ex
  core/bundles/link/lib/survey/web/overview.ex
  core/lib/core/image_catalog/unsplash.ex
  core/lib/core_web/live/admin/permissions.ex
  core/lib/mix/random_images.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Applied feedback from Jeroen
  core/bundles/link/lib/survey/web/form.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Applied feedback from Jeroen
  core/bundles/link/lib/pool/form/students.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Enable debug logging for SURFconext (#155)
  core/config/runtime.exs
  core/lib/core/surfconext/plug.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Admin login UI
  core/lib/core_web/live/admin/login.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Restricted random campaign image to keyword: abstract (#156)
  core/bundles/link/lib/survey/web/form.ex
  core/bundles/link/lib/survey/web/overview.ex
  core/lib/core/image_catalog/unsplash.ex
  core/lib/mix/random_images.ex
Due: mix-test, mix-format, mix-compile, mix-credo

VU login UI
  core/assets/static/images/surfconext.svg
  core/bundles/link/config/dev.exs
  core/lib/core_web/templates/user_session/new.html.eex
  core/priv/gettext/en/LC_MESSAGES/eyra-account.po
  core/priv/gettext/en/LC_MESSAGES/eyra-ui.po
  core/priv/gettext/en/LC_MESSAGES/link-studentpool.po
  core/priv/gettext/en/LC_MESSAGES/link-survey.po
  core/priv/gettext/eyra-account.pot
  core/priv/gettext/eyra-ui.pot
  core/priv/gettext/link-studentpool.pot
  core/priv/gettext/link-survey.pot
  core/priv/gettext/nl/LC_MESSAGES/eyra-account.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-ui.po
  core/priv/gettext/nl/LC_MESSAGES/link-studentpool.po
  core/priv/gettext/nl/LC_MESSAGES/link-survey.po
  core/priv/static/images/surfconext.svg
Due: mix-test, mix-format, mix-credo

VU login UI (#158)
  core/assets/static/images/surfconext.svg
  core/bundles/link/config/dev.exs
  core/lib/core_web/templates/user_session/new.html.eex
  core/priv/gettext/en/LC_MESSAGES/eyra-account.po
  core/priv/gettext/en/LC_MESSAGES/eyra-ui.po
  core/priv/gettext/en/LC_MESSAGES/link-studentpool.po
  core/priv/gettext/en/LC_MESSAGES/link-survey.po
  core/priv/gettext/eyra-account.pot
  core/priv/gettext/eyra-ui.pot
  core/priv/gettext/link-studentpool.pot
  core/priv/gettext/link-survey.pot
  core/priv/gettext/nl/LC_MESSAGES/eyra-account.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-ui.po
  core/priv/gettext/nl/LC_MESSAGES/link-studentpool.po
  core/priv/gettext/nl/LC_MESSAGES/link-survey.po
  core/priv/static/images/surfconext.svg
Due: mix-test, mix-format, mix-credo

Admin login UI (#157)
  core/lib/core_web/live/admin/login.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Added privacy statement
  core/assets/static/privacy-statement.pdf
  core/lib/core_web/endpoint.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Disable notification mails for now
  core/bundles/link/config/config.exs
  core/lib/core/mailer/signal_handlers.ex
Due: mix-test, mix-format, mix-compile, mix-credo

add data simulator (#3)
  data_extractor/.coveragerc
  data_extractor/.pylintrc
  data_extractor/README.rst
  data_extractor/google_search_history/__init__.py
  data_extractor/google_search_history/simulation_gsh.py
  data_extractor/google_semantic_location_history/__init__.py
  data_extractor/google_semantic_location_history/get_faker_schema.py
  data_extractor/google_semantic_location_history/main.py
  data_extractor/google_semantic_location_history/simulation_gslh.py
  data_extractor/poetry.lock
  data_extractor/pyproject.toml
  data_extractor/tests/data/2021_JANUARY.json
  data_extractor/tests/test_get_faker_schema.py
  data_extractor/tests/test_google_search_history.py
  data_extractor/tests/test_google_semantic_location_history.py
  data_extractor/tests/test_simulation_gsh.py
  data_extractor/tests/test_simulation_gslh.py
Due: none

Added privacy statement (#159)
  core/assets/static/privacy-statement.pdf
  core/lib/core_web/endpoint.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Custom error pages
  core/assets/static/images/icons/link.svg
  core/assets/static/images/illustrations/403.svg
  core/assets/static/images/illustrations/404.svg
  core/assets/static/images/illustrations/500.svg
  core/assets/static/images/illustrations/503.svg
  core/bundles/link.ex
  core/bundles/link/config/config.exs
  core/bundles/link/lib/survey/web/content.ex
  core/config/dev.exs
  core/lib/core/accounts/email.ex
  core/lib/core/accounts/templates/email/account_created.html.eex
  core/lib/core/accounts/templates/email/account_created.text.eex
  core/lib/core_web.ex
  core/lib/core_web/meta.ex
  core/lib/core_web/templates/error/403_page.html.eex
  core/lib/core_web/templates/error/404_page.html.eex
  core/lib/core_web/templates/error/500_page.html.eex
  core/lib/core_web/templates/error/503_page.html.eex
  core/lib/core_web/templates/layout/error.html.eex
  core/lib/core_web/templates/user_session/new.html.eex
  core/lib/core_web/views/error_view.ex
  core/priv/gettext/en/LC_MESSAGES/eyra-account.po
  core/priv/gettext/en/LC_MESSAGES/eyra-error.po
  core/priv/gettext/en/LC_MESSAGES/eyra-link.po
  core/priv/gettext/en/LC_MESSAGES/link-survey.po
  core/priv/gettext/eyra-error.pot
  core/priv/gettext/nl/LC_MESSAGES/eyra-error.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-link.po
  core/priv/gettext/nl/LC_MESSAGES/link-survey.po
  core/test/core/accounts/signal_handlers_test.exs
  core/test/core_web/live/admin/support_test.exs
  core/test/core_web/live/admin/ticket_test.exs
  core/test/core_web/views/error_view_test.exs
  frameworks/eyra_ui/lib/components/old_skool.ex
  frameworks/green_light/lib/access_denied_error.ex
  frameworks/green_light/lib/live.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Marketplace feature flag
  core/bundles/link/config/config.exs
  core/bundles/link/config/dev.exs
  core/bundles/link/lib/marketplace.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Disable notification mails for now (#160)
  core/bundles/link/config/config.exs
  core/lib/core/mailer/signal_handlers.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Removed IO.inspect
  core/bundles/link/lib/survey/web/content.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Onboarding finished flag
  core/bundles/link/config/config.exs
  core/bundles/link/lib/onboarding/wizard.ex
  core/lib/core_web/controllers/user_auth.ex
  core/test/core_web/controllers/user_auth_test.exs
Due: mix-test, mix-format, mix-compile, mix-credo

Custom error pages (#161)
  core/assets/static/images/icons/link.svg
  core/assets/static/images/illustrations/403.svg
  core/assets/static/images/illustrations/404.svg
  core/assets/static/images/illustrations/500.svg
  core/assets/static/images/illustrations/503.svg
  core/bundles/link.ex
  core/bundles/link/config/config.exs
  core/bundles/link/lib/survey/web/content.ex
  core/config/dev.exs
  core/lib/core/accounts/email.ex
  core/lib/core/accounts/templates/email/account_created.html.eex
  core/lib/core/accounts/templates/email/account_created.text.eex
  core/lib/core_web.ex
  core/lib/core_web/meta.ex
  core/lib/core_web/templates/error/403_page.html.eex
  core/lib/core_web/templates/error/404_page.html.eex
  core/lib/core_web/templates/error/500_page.html.eex
  core/lib/core_web/templates/error/503_page.html.eex
  core/lib/core_web/templates/layout/error.html.eex
  core/lib/core_web/templates/user_session/new.html.eex
  core/lib/core_web/views/error_view.ex
  core/priv/gettext/en/LC_MESSAGES/eyra-account.po
  core/priv/gettext/en/LC_MESSAGES/eyra-error.po
  core/priv/gettext/en/LC_MESSAGES/eyra-link.po
  core/priv/gettext/en/LC_MESSAGES/link-survey.po
  core/priv/gettext/eyra-error.pot
  core/priv/gettext/nl/LC_MESSAGES/eyra-error.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-link.po
  core/priv/gettext/nl/LC_MESSAGES/link-survey.po
  core/test/core/accounts/signal_handlers_test.exs
  core/test/core_web/live/admin/support_test.exs
  core/test/core_web/live/admin/ticket_test.exs
  core/test/core_web/views/error_view_test.exs
  frameworks/eyra_ui/lib/components/old_skool.ex
  frameworks/green_light/lib/access_denied_error.ex
  frameworks/green_light/lib/live.ex
Due: mix-test, mix-format, mix-compile, mix-credo

VU login links
  core/lib/core_web/templates/user_session/new.html.eex
Due: none

Tabbar UI improvement
  core/bundles/link/lib/onboarding/wizard.ex
  core/lib/core_web/ui/navigation/tab.ex
  core/lib/core_web/ui/navigation/tabbar_footer.ex
Due: mix-test, mix-format, mix-compile, mix-credo

More debug SURFconext info
  core/lib/core/surfconext/plug.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Onboarding finished flag (#163)
  core/bundles/link/config/config.exs
  core/bundles/link/lib/onboarding/wizard.ex
  core/lib/core_web/controllers/user_auth.ex
  core/test/core_web/controllers/user_auth_test.exs
Due: mix-test, mix-format, mix-compile, mix-credo

Tabbar UI improvement (#165)
  core/bundles/link/lib/onboarding/wizard.ex
  core/lib/core_web/ui/navigation/tab.ex
  core/lib/core_web/ui/navigation/tabbar_footer.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Stripped layout fix
  core/lib/core_web/live/layouts/stripped/component.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Marketplace feature flag (#162)
  core/bundles/link/config/config.exs
  core/bundles/link/config/dev.exs
  core/bundles/link/lib/marketplace.ex
Due: mix-test, mix-format, mix-compile, mix-credo

VU login links (#164)
  core/lib/core_web/templates/user_session/new.html.eex
Due: none

Tweaks for SURFconext
  core/bundles/link/config/config.exs
  core/test/core/surfconext/plug_test.exs
Due: mix-test, mix-format, mix-credo

Tweaks for SURFconext (#167)
  core/bundles/link/config/config.exs
  core/test/core/surfconext/plug_test.exs
Due: mix-test, mix-format, mix-credo

Stripped layout fix (#166)
  core/lib/core_web/live/layouts/stripped/component.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Updated privacy statement
  core/assets/static/privacy-statement.pdf
Due: none

Disable google-sig-in on VU login on prod
  core/bundles/link/config/config.exs
Due: mix-test, mix-format, mix-credo

Remove debug feature and attach it to admin role
  core/bundles/link/lib/debug.ex
  core/bundles/link/lib/layouts/workspace/menu_builder.ex
  core/config/config.exs
  core/config/dev.exs
Due: mix-test, mix-format, mix-compile, mix-credo
