Repository eyra/mono: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-test, mix-format, mix-compile, mix-credo

mix-test:
  name: 'elixir: mix test'
  entry: mix test
  language: system
  pass_filenames: false

mix-format:
  name: 'elixir: mix format'
  entry: mix format --check-formatted
  language: system

mix-compile:
  name: 'elixir: mix compile'
  entry: mix compile --force --warnings-as-errors
  language: system
  pass_filenames: false

mix-credo:
  name: 'elixir: mix credo'
  entry: mix credo
  language: system
  pass_filenames: false

Added study participation listing controller (#23)
  lib/green_light.ex
  lib/green_light/ecto/query.ex
  lib/link/authorization.ex
  lib/link/studies.ex
  lib/link/users.ex
  lib/link_web/controllers/dashboard_controller.ex
  lib/link_web/plug/HideAccountMenu.ex
  lib/link_web/router.ex
  lib/link_web/templates/dashboard/index.html.eex
  lib/link_web/templates/layout/app.html.eex
  lib/link_web/views/dashboard_view.ex
  test/link/studies_test.exs
  test/link_web/controllers/dashboard_controller_test.exs
  test/support/factories.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Fix docs target
  .github/workflows/docs.yml
Due: none

Fix docs target (#25)
  .github/workflows/docs.yml
Due: none

Started with study overview and completed user profile page
  assets/static/.DS_Store
  assets/static/images/en.svg
  assets/static/images/nl.svg
  lib/link/users/profile.ex
  lib/link_web/components/component_helpers.ex
  lib/link_web/components/custom_button/templates/language.html.eex
  lib/link_web/components/custom_button/templates/link.html.eex
  lib/link_web/components/custom_button/templates/menu.html.eex
  lib/link_web/components/form_field/templates/checkbox.html.eex
  lib/link_web/components/form_field/templates/input.html.eex
  lib/link_web/components/form_field/templates/text.html.eex
  lib/link_web/components/hero/hero.ex
  lib/link_web/components/hero/templates/illustration.html.eex
  lib/link_web/plug/HideAccountMenu.ex
  lib/link_web/router.ex
  lib/link_web/templates/layout/app.html.eex
  lib/link_web/templates/page/index.html.eex
  lib/link_web/templates/study/index.html.eex
  lib/link_web/templates/user_profile/edit.html.eex
  lib/link_web/templates/user_profile/form.html.eex
  priv/gettext/default.pot
  priv/gettext/en/LC_MESSAGES/default.po
  priv/gettext/en/LC_MESSAGES/eyra-account.po
  priv/gettext/en/LC_MESSAGES/eyra-link.po
  priv/gettext/en/LC_MESSAGES/eyra-study.po
  priv/gettext/en/LC_MESSAGES/eyra-ux.po
  priv/gettext/eyra-account.pot
  priv/gettext/eyra-link.pot
  priv/gettext/eyra-study.pot
  priv/gettext/nl/LC_MESSAGES/default.po
  priv/gettext/nl/LC_MESSAGES/eyra-account.po
  priv/gettext/nl/LC_MESSAGES/eyra-link.po
  priv/gettext/nl/LC_MESSAGES/eyra-study.po
  priv/gettext/nl/LC_MESSAGES/eyra-ux.po
  priv/repo/migrations/20201219120744_add_displayname_user_profile.exs
  test/link/users_test.exs
  test/link_web/controllers/study_controller_test.exs
  test/link_web/controllers/user_profile_controller_test.exs
  test/support/factories.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Reorganized fonts
  assets/css/app.css
  assets/static/.DS_Store
  assets/static/fonts/Finador-Black.woff
  assets/static/fonts/Finador-Black.woff2
  assets/static/fonts/Finador-BlackOblique.woff
  assets/static/fonts/Finador-BlackOblique.woff2
  assets/static/fonts/Finador-Bold.woff
  assets/static/fonts/Finador-Bold.woff2
  assets/static/fonts/Finador-BoldOblique.woff
  assets/static/fonts/Finador-BoldOblique.woff2
  assets/static/fonts/Finador-ExtraLight.woff
  assets/static/fonts/Finador-ExtraLight.woff2
  assets/static/fonts/Finador-ExtraLightOblique.woff
  assets/static/fonts/Finador-ExtraLightOblique.woff2
  assets/static/fonts/Finador-Heavy.woff
  assets/static/fonts/Finador-Heavy.woff2
  assets/static/fonts/Finador-HeavyOblique.woff
  assets/static/fonts/Finador-HeavyOblique.woff2
  assets/static/fonts/Finador-Light.woff
  assets/static/fonts/Finador-Light.woff2
  assets/static/fonts/Finador-LightOblique.woff
  assets/static/fonts/Finador-LightObliquewoff2
  assets/static/fonts/Finador-Medium.woff
  assets/static/fonts/Finador-Medium.woff2
  assets/static/fonts/Finador-MediumOblique.woff
  assets/static/fonts/Finador-MediumOblique.woff2
  assets/static/fonts/Finador-Regular.woff
  assets/static/fonts/Finador-Regular.woff2
  assets/static/fonts/Finador-RegularOblique.woff
  assets/static/fonts/Finador-RegularOblique.woff2
  assets/static/fonts/Finador-Thin.woff
  assets/static/fonts/Finador-Thin.woff2
  assets/static/fonts/Finador-ThinOblique.woff
  assets/static/fonts/Finador-ThinOblique.woff2
  lib/link_web/components/card/templates/study.html.eex
Due: none

Delete fonts
  assets/.DS_Store
  assets/css/app.css
  assets/static/.DS_Store
  assets/static/fonts/Finador-Black.woff
  assets/static/fonts/Finador-Black.woff2
  assets/static/fonts/Finador-BlackOblique.woff
  assets/static/fonts/Finador-BlackOblique.woff2
  assets/static/fonts/Finador-Bold.woff
  assets/static/fonts/Finador-Bold.woff2
  assets/static/fonts/Finador-BoldOblique.woff
  assets/static/fonts/Finador-BoldOblique.woff2
  assets/static/fonts/Finador-ExtraLight.woff
  assets/static/fonts/Finador-ExtraLight.woff2
  assets/static/fonts/Finador-ExtraLightOblique.woff
  assets/static/fonts/Finador-ExtraLightOblique.woff2
  assets/static/fonts/Finador-Heavy.woff
  assets/static/fonts/Finador-Heavy.woff2
  assets/static/fonts/Finador-HeavyOblique.woff
  assets/static/fonts/Finador-HeavyOblique.woff2
  assets/static/fonts/Finador-Light.woff
  assets/static/fonts/Finador-Light.woff2
  assets/static/fonts/Finador-LightOblique.woff
  assets/static/fonts/Finador-LightObliquewoff2
  assets/static/fonts/Finador-Medium.woff
  assets/static/fonts/Finador-Medium.woff2
  assets/static/fonts/Finador-MediumOblique.woff
  assets/static/fonts/Finador-MediumOblique.woff2
  assets/static/fonts/Finador-Regular.woff
  assets/static/fonts/Finador-Regular.woff2
  assets/static/fonts/Finador-RegularOblique.woff
  assets/static/fonts/Finador-RegularOblique.woff2
  assets/static/fonts/Finador-Thin.woff
  assets/static/fonts/Finador-Thin.woff2
  assets/static/fonts/Finador-ThinOblique.woff
  assets/static/fonts/Finador-ThinOblique.woff2
Due: none

Added fonts
  assets/static/fonts/Finador-Black.woff
  assets/static/fonts/Finador-Black.woff2
  assets/static/fonts/Finador-BlackOblique.woff
  assets/static/fonts/Finador-BlackOblique.woff2
  assets/static/fonts/Finador-Bold.woff
  assets/static/fonts/Finador-Bold.woff2
  assets/static/fonts/Finador-BoldOblique.woff
  assets/static/fonts/Finador-BoldOblique.woff2
  assets/static/fonts/Finador-ExtraLight.woff
  assets/static/fonts/Finador-ExtraLight.woff2
  assets/static/fonts/Finador-ExtraLightOblique.woff
  assets/static/fonts/Finador-ExtraLightOblique.woff2
  assets/static/fonts/Finador-Heavy.woff
  assets/static/fonts/Finador-Heavy.woff2
  assets/static/fonts/Finador-HeavyOblique.woff
  assets/static/fonts/Finador-HeavyOblique.woff2
  assets/static/fonts/Finador-Light.woff
  assets/static/fonts/Finador-Light.woff2
  assets/static/fonts/Finador-LightOblique.woff
  assets/static/fonts/Finador-LightObliquewoff2
  assets/static/fonts/Finador-Medium.woff
  assets/static/fonts/Finador-Medium.woff2
  assets/static/fonts/Finador-MediumOblique.woff
  assets/static/fonts/Finador-MediumOblique.woff2
  assets/static/fonts/Finador-Regular.woff
  assets/static/fonts/Finador-Regular.woff2
  assets/static/fonts/Finador-RegularOblique.woff
  assets/static/fonts/Finador-RegularOblique.woff2
  assets/static/fonts/Finador-Thin.woff
  assets/static/fonts/Finador-Thin.woff2
  assets/static/fonts/Finador-ThinOblique.woff
  assets/static/fonts/Finador-ThinOblique.woff2
Due: none

Delete some fonts
  assets/static/fonts/Finador-Bold.woff
  assets/static/fonts/Finador-BoldOblique.woff
  assets/static/fonts/Finador-HeavyOblique.woff
  assets/static/fonts/Finador-Light.woff
Due: none

Readded fonts
  assets/static/fonts/Finador-Bold.woff
  assets/static/fonts/Finador-BoldOblique.woff
  assets/static/fonts/Finador-HeavyOblique.woff
  assets/static/fonts/Finador-Light.woff
  assets/static/fonts/Finador-LightOblique.woff2
Due: none

Finished (sort of) study overview page
  assets/css/app.css
  assets/tailwind.config.js
  lib/link_web/components/bullit/templates/primary.html.eex
  lib/link_web/components/card/templates/cta.html.eex
  lib/link_web/components/card/templates/study.html.eex
  lib/link_web/components/component_helpers.ex
  lib/link_web/components/custom_button/templates/link.html.eex
  lib/link_web/components/custom_button/templates/menu.html.eex
  lib/link_web/components/custom_button/templates/primary.html.eex
  lib/link_web/components/custom_button/templates/primary_icon.html.eex
  lib/link_web/components/custom_button/templates/submit.html.eex
  lib/link_web/components/form_field/templates/checkbox.html.eex
  lib/link_web/components/form_field/templates/input.html.eex
  lib/link_web/components/form_field/templates/text.html.eex
  lib/link_web/components/hero/templates/illustration.html.eex
  lib/link_web/components/message/templates/warning.html.eex
  lib/link_web/controllers/dashboard_controller.ex
  lib/link_web/controllers/page_controller.ex
  lib/link_web/pow/routes.ex
  lib/link_web/templates/dashboard/index.html.eex
  lib/link_web/templates/layout/app.html.eex
  lib/link_web/templates/page/index.html.eex
  lib/link_web/templates/pow/registration/edit.html.eex
  lib/link_web/templates/pow/registration/new.html.eex
  lib/link_web/templates/pow/session/new.html.eex
  lib/link_web/templates/study/edit.html.eex
  lib/link_web/templates/study/index.html.eex
  lib/link_web/templates/study/new.html.eex
  lib/link_web/templates/study/show.html.eex
  lib/link_web/templates/user_profile/edit.html.eex
  lib/link_web/views/page_view.ex
  priv/gettext/en/LC_MESSAGES/eyra-account.po
  priv/gettext/en/LC_MESSAGES/eyra-link.po
  priv/gettext/en/LC_MESSAGES/eyra-study.po
  priv/gettext/eyra-account.pot
  priv/gettext/eyra-link.pot
  priv/gettext/eyra-study.pot
  priv/gettext/nl/LC_MESSAGES/eyra-account.po
  priv/gettext/nl/LC_MESSAGES/eyra-link.po
  priv/gettext/nl/LC_MESSAGES/eyra-study.po
Due: mix-test, mix-format, mix-compile, mix-credo

Removed warnings
  lib/link_web/router.ex
  lib/link_web/views/page_view.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Added study ownership management controller
  lib/green_light.ex
  lib/green_light/ecto/query.ex
  lib/green_light/loaders.ex
  lib/green_light/plug.ex
  lib/link/authorization.ex
  lib/link/studies.ex
  lib/link_web/controllers/study/permissions_controller.ex
  lib/link_web/router.ex
  lib/link_web/templates/studies/permissions/show.html.eex
  lib/link_web/views/studies/permissions_view.ex
  test/link/studies_test.exs
  test/link_web/controllers/studies/permissions_controller_test.exs
Due: mix-test, mix-format, mix-compile, mix-credo

Studye Edit page
  assets/tailwind.config.js
  lib/link_web/components/component_helpers.ex
  lib/link_web/components/custom_button/templates/submit.html.eex
  lib/link_web/components/form_field/templates/textarea.html.eex
  lib/link_web/components/hero/templates/illustration.html.eex
  lib/link_web/components/hero/templates/large.html.eex
  lib/link_web/components/hero/templates/small.html.eex
  lib/link_web/templates/dashboard/index.html.eex
  lib/link_web/templates/page/index.html.eex
  lib/link_web/templates/pow/registration/edit.html.eex
  lib/link_web/templates/pow/registration/new.html.eex
  lib/link_web/templates/pow/session/new.html.eex
  lib/link_web/templates/study/edit.html.eex
  lib/link_web/templates/study/index.html.eex
  lib/link_web/templates/study/show.html.eex
  lib/link_web/templates/user_profile/edit.html.eex
  priv/gettext/en/LC_MESSAGES/eyra-study.po
  priv/gettext/en/LC_MESSAGES/eyra-ux.po
  priv/gettext/eyra-study.pot
  priv/gettext/eyra-ux.pot
  priv/gettext/nl/LC_MESSAGES/eyra-study.po
  priv/gettext/nl/LC_MESSAGES/eyra-ux.po
Due: mix-test, mix-format, mix-compile, mix-credo

Fixed merge issues
  lib/link_web/components/hero/templates/illustration.html.eex
  lib/link_web/views/page_view.ex
Due: mix-test, mix-format, mix-compile, mix-credo

First styling of study detail page, needs work on Author and Buttons
  assets/tailwind.config.js
  lib/link/studies.ex
  lib/link_web/components/custom_button/templates/primary.html.eex
  lib/link_web/controllers/study_controller.ex
  lib/link_web/templates/dashboard/index.html.eex
  lib/link_web/templates/pow/registration/new.html.eex
  lib/link_web/templates/study/edit.html.eex
  lib/link_web/templates/study/index.html.eex
  lib/link_web/templates/study/show.html.eex
  priv/gettext/en/LC_MESSAGES/eyra-link.po
  priv/gettext/en/LC_MESSAGES/eyra-study.po
  priv/gettext/en/LC_MESSAGES/eyra-ux.po
  priv/gettext/eyra-link.pot
  priv/gettext/eyra-study.pot
  priv/gettext/eyra-ux.pot
  priv/gettext/nl/LC_MESSAGES/eyra-link.po
  priv/gettext/nl/LC_MESSAGES/eyra-study.po
  priv/gettext/nl/LC_MESSAGES/eyra-ux.po
Due: mix-test, mix-format, mix-compile, mix-credo

Fixed unit tests
  test/link_web/controllers/study_controller_test.exs
Due: mix-test, mix-format, mix-credo

Added delete button
  lib/link_web/components/custom_button/templates/primary.html.eex
  lib/link_web/templates/study/edit.html.eex
Due: none

Apply directly to a study
  lib/link_web/templates/study/show.html.eex
Due: none

Added study ownership management controller (#27)
  lib/green_light.ex
  lib/green_light/ecto/query.ex
  lib/green_light/loaders.ex
  lib/green_light/plug.ex
  lib/link/authorization.ex
  lib/link/studies.ex
  lib/link_web/controllers/study/permissions_controller.ex
  lib/link_web/router.ex
  lib/link_web/templates/studies/permissions/show.html.eex
  lib/link_web/views/studies/permissions_view.ex
  test/link/studies_test.exs
  test/link_web/controllers/studies/permissions_controller_test.exs
Due: mix-test, mix-format, mix-compile, mix-credo

Allow deletion of studies with participants
  priv/repo/migrations/20201221105503_add_cascading_delete_to_participations.exs
  test/link/studies_test.exs
Due: mix-test, mix-format, mix-credo

Use text fields for study title and description
  lib/link_web/router.ex
  lib/link_web/views/page_view.ex
  priv/repo/migrations/20201221095052_alter_study_description_and_title_to_text.exs
  test/support/factories.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Fixed landingpage
  lib/link_web/components/card/templates/usp.html.eex
  lib/link_web/components/component_helpers.ex
  lib/link_web/templates/page/index.html.eex
  priv/gettext/en/LC_MESSAGES/eyra-account.po
  priv/gettext/en/LC_MESSAGES/eyra-link.po
  priv/gettext/en/LC_MESSAGES/eyra-study.po
  priv/gettext/eyra-account.pot
  priv/gettext/eyra-link.pot
  priv/gettext/nl/LC_MESSAGES/eyra-account.po
  priv/gettext/nl/LC_MESSAGES/eyra-link.po
  priv/gettext/nl/LC_MESSAGES/eyra-study.po
Due: mix-test, mix-format, mix-compile, mix-credo

Implemented direct application to study
  lib/link_web/templates/study/show.html.eex
Due: none

Make cards equal in height in grid
  lib/link_web/components/card/templates/study.html.eex
Due: none

Fixed registration link
  lib/link_web/components/component_helpers.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Hide new study button for participants
  lib/link_web/templates/layout/app.html.eex
Due: none

Use text fields for study title and description (#30)
  lib/link_web/router.ex
  lib/link_web/views/page_view.ex
  priv/repo/migrations/20201221095052_alter_study_description_and_title_to_text.exs
  test/support/factories.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Study edit (#28)
  assets/tailwind.config.js
  lib/link_web/components/component_helpers.ex
  lib/link_web/components/custom_button/templates/primary.html.eex
  lib/link_web/components/custom_button/templates/submit.html.eex
  lib/link_web/components/form_field/templates/textarea.html.eex
  lib/link_web/components/hero/templates/illustration.html.eex
  lib/link_web/components/hero/templates/large.html.eex
  lib/link_web/components/hero/templates/small.html.eex
  lib/link_web/templates/dashboard/index.html.eex
  lib/link_web/templates/page/index.html.eex
  lib/link_web/templates/pow/registration/edit.html.eex
  lib/link_web/templates/pow/registration/new.html.eex
  lib/link_web/templates/pow/session/new.html.eex
  lib/link_web/templates/study/edit.html.eex
  lib/link_web/templates/study/index.html.eex
  lib/link_web/templates/study/show.html.eex
  lib/link_web/templates/user_profile/edit.html.eex
  priv/gettext/en/LC_MESSAGES/eyra-study.po
  priv/gettext/en/LC_MESSAGES/eyra-ux.po
  priv/gettext/eyra-study.pot
  priv/gettext/eyra-ux.pot
  priv/gettext/nl/LC_MESSAGES/eyra-study.po
  priv/gettext/nl/LC_MESSAGES/eyra-ux.po
  priv/repo/migrations/20201221105503_add_cascading_delete_to_participations.exs
  test/link/studies_test.exs
  test/link_web/controllers/study_controller_test.exs
Due: mix-test, mix-format, mix-compile, mix-credo

Revert back tracking on primary button
  lib/link_web/components/custom_button/templates/primary.html.eex
Due: none

Study detail (#29)
  assets/tailwind.config.js
  lib/link/studies.ex
  lib/link_web/components/custom_button/templates/primary.html.eex
  lib/link_web/controllers/study_controller.ex
  lib/link_web/templates/dashboard/index.html.eex
  lib/link_web/templates/pow/registration/new.html.eex
  lib/link_web/templates/study/index.html.eex
  lib/link_web/templates/study/show.html.eex
  priv/gettext/en/LC_MESSAGES/eyra-link.po
  priv/gettext/en/LC_MESSAGES/eyra-study.po
  priv/gettext/en/LC_MESSAGES/eyra-ux.po
  priv/gettext/eyra-link.pot
  priv/gettext/eyra-study.pot
  priv/gettext/eyra-ux.pot
  priv/gettext/nl/LC_MESSAGES/eyra-link.po
  priv/gettext/nl/LC_MESSAGES/eyra-study.po
  priv/gettext/nl/LC_MESSAGES/eyra-ux.po
Due: mix-test, mix-format, mix-compile, mix-credo

Restructured navbar
  lib/link_web/templates/layout/app.html.eex
Due: none

Apply max lines 3 on study description
  assets/css/app.css
  lib/link_web/components/card/templates/study.html.eex
Due: none

New study page
  lib/link_web/components/form_field/templates/textarea.html.eex
  lib/link_web/templates/study/form.html.eex
  lib/link_web/templates/study/index.html.eex
  lib/link_web/templates/study/new.html.eex
  priv/gettext/default.pot
  priv/gettext/en/LC_MESSAGES/default.po
  priv/gettext/en/LC_MESSAGES/eyra-account.po
  priv/gettext/en/LC_MESSAGES/eyra-link.po
  priv/gettext/en/LC_MESSAGES/eyra-study.po
  priv/gettext/en/LC_MESSAGES/eyra-ux.po
  priv/gettext/eyra-account.pot
  priv/gettext/eyra-link.pot
  priv/gettext/eyra-study.pot
  priv/gettext/eyra-ux.pot
  priv/gettext/nl/LC_MESSAGES/default.po
  priv/gettext/nl/LC_MESSAGES/eyra-account.po
  priv/gettext/nl/LC_MESSAGES/eyra-link.po
  priv/gettext/nl/LC_MESSAGES/eyra-study.po
  priv/gettext/nl/LC_MESSAGES/eyra-ux.po
Due: none

Added google auth url back
  lib/link_web/templates/pow/session/new.html.eex
Due: none

Changed some links and texts
  lib/link_web/controllers/study_controller.ex
  lib/link_web/templates/page/index.html.eex
  lib/link_web/templates/pow/registration/new.html.eex
  lib/link_web/templates/pow/session/new.html.eex
  priv/gettext/en/LC_MESSAGES/eyra-account.po
  priv/gettext/en/LC_MESSAGES/eyra-study.po
  priv/gettext/eyra-account.pot
  priv/gettext/eyra-study.pot
  priv/gettext/nl/LC_MESSAGES/eyra-account.po
  priv/gettext/nl/LC_MESSAGES/eyra-study.po
Due: mix-test, mix-format, mix-compile, mix-credo

Changed bg of menu item to solid color
  assets/tailwind.config.js
  lib/link_web/components/custom_button/templates/menu.html.eex
Due: none

Improved gb color of menu item hover/active
  assets/tailwind.config.js
Due: none

Fix Google login
  docker-compose.yml
Due: none

Path conditions:
  mix-test: any of: \.exs*$
  mix-format: any of: \.exs*$
  mix-compile: any of: \.ex$
  mix-credo: any of: \.exs*$
