Repository eyra/mono: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-test, mix-format, mix-compile, mix-credo

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: no-commit-to-branch
        args: [-b, master]
  - repo: local
    hooks:
      - id: mix-test
        name: "elixir: mix test"
        entry: mix test
        language: system
        pass_filenames: false
        files: \.exs*$

      - id: mix-format
        name: "elixir: mix format"
        entry: mix format --check-formatted
        language: system
        files: \.exs*$

      - id: mix-compile
        name: "elixir: mix compile"
        entry: mix compile --force --warnings-as-errors
        language: system
        pass_filenames: false
        files: \.ex$

      - id: mix-credo
        name: "elixir: mix credo"
        entry: mix credo
        language: system
        pass_filenames: false
        files: \.exs*$

Fix build-frontend
  core/scripts/build-frontend
Due: none

Pinned Node version in release script
  .github/workflows/release.yml
Due: none

Added campaign list in funding details
  core/assets/js/tabbar.js
  core/priv/gettext/en/LC_MESSAGES/eyra-campaign.po
  core/priv/gettext/eyra-campaign.pot
  core/priv/gettext/nl/LC_MESSAGES/eyra-campaign.po
  core/systems/budget/funding_page.ex
  core/systems/campaign/_public.ex
  core/systems/campaign/builders/campaign_content_page.ex
  core/systems/campaign/model.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Fixed bug when creating campaign
  core/frameworks/utililty/guards.ex
  core/systems/budget/model.ex
  core/systems/campaign/model.ex
  core/systems/citizen/_director.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Fixed 500 when rendering user profile page with student tab
  core/systems/org/_public.ex
Due: mix-test, mix-format, mix-compile, mix-credo

First round of feedback by Adrienne
  core/frameworks/pixel/components/card/campaign.ex
  core/frameworks/pixel/components/card/dynamic_campaign.ex
  core/frameworks/pixel/components/text/title5.ex
  core/priv/gettext/en/LC_MESSAGES/eyra-assignment.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-assignment.po
  core/systems/assignment/_switch.ex
  core/systems/assignment/ethical_form.ex
  core/systems/budget/currency_model.ex
  core/systems/budget/funding_page.ex
  core/systems/budget/wallet_list_item.ex
  core/systems/budget/wallet_view_builder.ex
  core/systems/campaign/_switch.ex
  core/systems/campaign/create_form.ex
  core/systems/citizen/pool/overview_plugin.ex
  core/systems/pool/model.ex
  core/systems/pool/pages/overview_page.ex
  core/systems/student/pool/overview_plugin.ex
  core/systems/survey/tool_form.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Feedback Adrienne round 2
  core/frameworks/pixel/components/form/checkbox.ex
  core/frameworks/pixel/components/selector/selector.ex
  core/systems/assignment/_switch.ex
  core/systems/assignment/callback_page.ex
  core/systems/assignment/experiment_form.ex
  core/systems/campaign/builders/assignment_callback_page.ex
  core/systems/campaign/content_page.ex
  core/systems/campaign/monitor_view.ex
  core/systems/email/workers/dispatcher.ex
  core/systems/promotion/form_view.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Fixed feedback Adrienne round 3
  core/config/dev.exs
  core/frameworks/pixel/components/selector/selector.ex
  core/frameworks/utililty/ecto_helper.ex
  core/lib/core_web/image_catalog_picker.ex
  core/systems/assignment/_public.ex
  core/systems/campaign/_public.ex
  core/systems/campaign/content_page.ex
  core/systems/campaign/model.ex
  core/systems/crew/reject_view.ex
  core/systems/lab/tool_model.ex
  core/systems/pool/submission_model.ex
  core/systems/promotion/form_view.ex
  core/test/systems/campaign/model_test.exs
Due: mix-test, mix-format, mix-compile, mix-credo

Merge of LISS whatsapp data donation
  core/.dialyzer_ignore.exs
  core/assets/js/file_input.js
  core/lib/core/authorization.ex
  core/priv/gettext/en/LC_MESSAGES/eyra-data-donation.po
  core/priv/gettext/eyra-data-donation.pot
  core/priv/gettext/nl/LC_MESSAGES/eyra-data-donation.po
  core/priv/repo/generator_test.py
  core/priv/repo/whatsapp_account.py
  core/priv/repo/whatsapp_chat.py
  core/systems/data_donation/_routes.ex
  core/systems/data_donation/centerdata_controller.ex
  core/systems/data_donation/default_controller.ex
  core/systems/data_donation/donate_page.ex
  core/systems/data_donation/download_controller.ex
  core/systems/data_donation/download_view.ex
  core/systems/data_donation/flow_page.ex
  core/systems/data_donation/model_data.ex
  core/systems/data_donation/thanks_page.ex
  core/systems/data_donation/thanks_whatsapp_account_page.ex
  core/systems/data_donation/thanks_whatsapp_page.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Fixed loading of Worker file
  core/assets/js/data_donation_assembly.js
  core/assets/js/processing_engine.js
  core/systems/data_donation/flow_page.ex
  core/systems/data_donation/s3_storage_backend.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Update website
  .pre-commit-config.yaml
  core/assets/package-lock.json
  core/assets/static/landing_page/img/naiyara.png
  core/assets/static/landing_page/img/pien.png
  core/assets/static/landing_page/img/rowdy.png
  core/assets/static/landing_page/img/stan-bw.png
  core/assets/static/landing_page/img/stephen.png
  core/assets/static/landing_page/img/tjerk.png
  core/assets/static/landing_page/img/uu.png
  core/assets/static/landing_page/img/uu.svg
  core/lib/core_web/templates/home/landing_page/show.html.eex
Due: none

Updated assent dep
  core/mix.exs
  core/mix.lock
Due: mix-test, mix-format, mix-credo

Added Observer as extra application
  core/mix.exs
Due: mix-test, mix-format, mix-credo

Changed github actions to Node.js 16
  .github/workflows/release.yml
Due: none

Added dependency to tagged version of Port app
  core/assets/package-lock.json
  core/assets/package.json
Due: none

Installed pre-commit hooks
  core/.dialyzer_ignore.exs
  core/assets/js/live_view.js
  core/mix.exs
Due: mix-test, mix-format, mix-credo

Formatted code
  core/frameworks/pixel/components/button.ex
  core/frameworks/pixel/components/square_container.ex
  core/lib/core_web/live/menu/builder.ex
  core/lib/core_web/live/user/reset_password_token.ex
  core/systems/assignment/_public.ex
  core/systems/student/filters.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Refactor client UI state
  core/assets/js/app.js
  core/assets/js/live_content.js
  core/assets/js/live_view.js
  core/assets/package-lock.json
  core/bundles/next/config/config.exs
  core/bundles/port/config/config.exs
  core/frameworks/pixel/components/form.ex
  core/lib/core_web/controllers/user_auth.ex
  core/lib/core_web/ui/tabbar.ex
  core/systems/assignment/assignment_form.ex
  core/systems/assignment/ethical_form.ex
  core/systems/assignment/experiment_form.ex
  core/systems/campaign/builders/campaign_content_page.ex
  core/systems/campaign/content_page.ex
  core/systems/campaign/funding_view.ex
  core/systems/data_donation/content_page.ex
  core/systems/data_donation/overview_page.ex
  core/systems/data_donation/tool_form.ex
  core/systems/pool/views/submission_view.ex
  core/systems/promotion/form_view.ex
  core/systems/survey/tool_form.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Removed :wx and :observer
  core/mix.exs
Due: mix-test, mix-format, mix-credo

Added signout to profile page
  core/lib/core_web/live/user/profile.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Fixed alpine flickering and user session routing
  core/assets/css/app.css
  core/bundles/link/bundle.ex
  core/bundles/link/lib/menu/items.ex
  core/bundles/link/lib/user/session_controller.ex
  core/bundles/link/lib/user/session_html/new.html.heex
  core/bundles/next/bundle.ex
  core/bundles/next/lib/layouts/_user_menu.html.eex
  core/bundles/next/lib/layouts/app.html.eex
  core/bundles/next/lib/layouts/error.html.eex
  core/bundles/next/lib/layouts/live.html.leex
  core/bundles/next/lib/layouts/root.html.leex
  core/bundles/next/lib/menu/items.ex
  core/bundles/port/bundle.ex
  core/bundles/port/lib/layouts/_user_menu.html.eex
  core/bundles/port/lib/layouts/app.html.eex
  core/bundles/port/lib/layouts/error.html.eex
  core/bundles/port/lib/layouts/live.html.leex
  core/bundles/port/lib/layouts/root.html.leex
  core/bundles/port/lib/menu/items.ex
  core/bundles/port/lib/user/session_html/new.html.heex
  core/lib/core_web/controllers/layouts/_user_menu.html.eex
  core/lib/core_web/controllers/layouts/live.html.leex
  core/lib/core_web/controllers/layouts/root.html.leex
  core/lib/core_web/controllers/layouts/website/component.ex
  core/lib/core_web/controllers/layouts/workspace/component.ex
  core/lib/core_web/live/user/form.ex
  core/lib/core_web/live/user/forms/profile.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Fixed reply email
  core/config/runtime.exs
Due: mix-test, mix-format, mix-credo

Fixed f=singin fail follow-up
  core/bundles/next/lib/user/session_controller.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Fixed email title when no username is available
  core/systems/email/email/account_confirmation_instructions.html.eex
  core/systems/email/email/account_confirmation_instructions.text.eex
Due: none

Added scheme to endpoint config to fix image loading in mail
  core/config/runtime.exs
Due: mix-test, mix-format, mix-credo

Fixed siginn fail follow-up
  core/bundles/next/lib/user/session_controller.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Added github example repo on toolpage
  core/priv/repo/migrations/20230614120603_add_github_template_repo_url.exs
  core/systems/benchmark/tool_form.ex
  core/systems/benchmark/tool_model.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Improved Team section on benchmark tool page
  core/frameworks/pixel/components/button_face.ex
  core/priv/gettext/en/LC_MESSAGES/eyra-account.po
  core/priv/gettext/en/LC_MESSAGES/eyra-bechmark.po
  core/priv/gettext/en/LC_MESSAGES/eyra-benchmark.po
  core/priv/gettext/en/LC_MESSAGES/link-survey.po
  core/priv/gettext/eyra-account.pot
  core/priv/gettext/eyra-bechmark.pot
  core/priv/gettext/eyra-benchmark.pot
  core/priv/gettext/link-survey.pot
  core/priv/gettext/nl/LC_MESSAGES/eyra-account.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-bechmark.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-benchmark.po
  core/priv/gettext/nl/LC_MESSAGES/link-survey.po
  core/systems/benchmark/spot_form.ex
  core/systems/benchmark/tool_page.ex
  core/systems/benchmark/tool_page_builder.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Fixed flash messages (error and info)
  core/lib/core_web/controllers/layouts/live.html.leex
  core/lib/core_web/controllers/layouts/root.html.leex
Due: none

Copy change
  core/priv/gettext/nl/LC_MESSAGES/eyra-benchmark.po
Due: none

Added support for presigned S3 urls
  core/systems/benchmark/tool_page_builder.ex
  core/test/core_web/controllers/user_session_controller_test.exs
  core/test/core_web/live/user/confirm_token_test.exs
  core/test/core_web/live/user/reset_password_test.exs
  core/test/systems/email/factory_test.exs
Due: mix-test, mix-format, mix-compile, mix-credo

Fixed system wide S3 bucket propagation
  core/config/config.exs
  core/config/dev.exs
  core/config/runtime.exs
  core/systems/benchmark/tool_page_builder.ex
  core/systems/data_donation/s3_storage_backend.ex
Due: mix-test, mix-format, mix-compile, mix-credo
