Repository eyra/mono: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-test, mix-format, mix-compile, mix-credo

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: no-commit-to-branch
        args: [-b, master]
  - repo: local
    hooks:
      - id: mix-test
        name: "elixir: mix test"
        entry: mix test
        language: system
        pass_filenames: false
        files: \.exs*$

      - id: mix-format
        name: "elixir: mix format"
        entry: mix format --check-formatted
        language: system
        files: \.exs*$

      - id: mix-compile
        name: "elixir: mix compile"
        entry: mix compile --force --warnings-as-errors
        language: system
        pass_filenames: false
        files: \.ex$

      - id: mix-credo
        name: "elixir: mix credo"
        entry: mix credo
        language: system
        pass_filenames: false
        files: \.exs*$

Lab WIP
  core/assets/package-lock.json
  core/assets/yarn.lock
  core/lib/core_web/router.ex
  core/mix.exs
  core/mix.lock
  core/priv/catalogue/catalogue.ex
  core/systems/campaign/content_page.ex
  core/systems/lab/day_entry_list_item.ex
  core/systems/lab/day_entry_time_slot_item.ex
  core/systems/lab/day_view.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Formatted code
  core/systems/lab/day_view.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Added extra survey tool data migration
  core/priv/repo/migrations/20220125195324_migrate_survey_tool.exs
Due: mix-test, mix-format, mix-credo

Fixed extra survey tool data migration
  core/priv/repo/migrations/20220125195324_migrate_survey_tool.exs
Due: mix-test, mix-format, mix-credo

Fixed extra survey tool data migration - part II
  core/priv/repo/migrations/20220125195324_migrate_survey_tool.exs
Due: mix-test, mix-format, mix-credo

Fixed some lab tool translations
  core/priv/gettext/en/LC_MESSAGES/link-lab.po
  core/priv/gettext/link-lab.pot
  core/priv/gettext/nl/LC_MESSAGES/link-lab.po
  core/systems/lab/day_list_item.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Fixed some lab tool translations - part II
  core/priv/gettext/en/LC_MESSAGES/link-lab.po
Due: none

Fixed crash for secondary campaing card
  core/bundles/link/lib/marketplace.ex
  core/frameworks/pixel/components/card/secondary_campaign.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Changed progress labels on monitor view
  core/priv/gettext/en/LC_MESSAGES/link-lab.po
  core/priv/gettext/en/LC_MESSAGES/link-survey.po
  core/priv/gettext/link-lab.pot
  core/priv/gettext/link-survey.pot
  core/priv/gettext/nl/LC_MESSAGES/link-lab.po
  core/priv/gettext/nl/LC_MESSAGES/link-survey.po
  core/systems/assignment/context.ex
  core/systems/campaign/content_page.ex
  core/systems/campaign/monitor_view.ex
  core/systems/crew/context.ex
  core/test/systems/campaign/monitor_view_test.exs
Due: mix-test, mix-format, mix-compile, mix-credo

Improved lab tool signal handling
  core/systems/assignment/context.ex
  core/systems/assignment/switch.ex
  core/systems/campaign/builders/assignment_callback_page.ex
  core/systems/campaign/builders/assignment_landing_page.ex
  core/systems/crew/context.ex
  core/systems/crew/member_model.ex
  core/systems/crew/task_model.ex
  core/systems/lab/context.ex
  core/test/systems/assignment/landing_page_test.exs
  core/test/systems/campaign/monitor_view_test.exs
  core/test/systems/campaign/view_model_builder.exs
  core/test/systems/crew/context_test.exs
Due: mix-test, mix-format, mix-compile, mix-credo

Added lab sign up form in CMS
  core/frameworks/pixel/components/form/input.ex
  core/frameworks/pixel/components/form/number_input.ex
  core/priv/gettext/en/LC_MESSAGES/link-lab.po
  core/priv/gettext/link-lab.pot
  core/priv/gettext/nl/LC_MESSAGES/link-lab.po
  core/systems/assignment/context.ex
  core/systems/campaign/context.ex
  core/systems/crew/context.ex
  core/systems/director.ex
  core/systems/lab/day_view.ex
  core/systems/lab/search_subject_model.ex
  core/systems/lab/search_subject_view.ex
  core/systems/lab/tool_form.ex
  core/systems/observatory/context.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Moved lab sign up panel to monitor view
  core/assets/static/images/icons/add_tertiary.svg
  core/assets/static/images/icons/delete_white.svg
  core/frameworks/pixel/components/button/face/icon.ex
  core/systems/campaign/monitor_view.ex
  core/systems/lab/search_subject_view.ex
  core/systems/lab/tool_form.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Copy changes and some code cleanup
  core/priv/gettext/en/LC_MESSAGES/link-lab.po
  core/priv/gettext/en/LC_MESSAGES/link-monitor.po
  core/priv/gettext/nl/LC_MESSAGES/link-lab.po
  core/priv/gettext/nl/LC_MESSAGES/link-monitor.po
  core/systems/campaign/monitor_view.ex
  core/systems/lab/search_subject_view.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Fixed delete/duplicate campaigns
  core/systems/assignment/context.ex
  core/systems/campaign/assembly.ex
  core/systems/campaign/overview_page.ex
  core/systems/lab/context.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Updated Pyodide to the latest version
  core/assets/js/python_uploader.js
  core/assets/js/pyworker.js
  core/assets/webpack.config.js
  core/priv/repo/script.py
Due: none

Use Python script from code instead of via database
  core/assets/css/app.css
  core/assets/js/python_uploader.js
  core/assets/js/pyworker.js
  core/priv/repo/script.py
  core/systems/data_donation/file_selection_form.ex
  core/systems/data_donation/routes.ex
  core/systems/data_donation/s3_storage_backend.ex
  core/systems/data_donation/storage_backend.ex
  core/systems/data_donation/tool_model.ex
  core/systems/data_donation/upload_page.ex
  core/test/core/data_donation/tool_test.exs
  core/test/systems/data_donation/s3_storage_backend_test.exs
  core/test/systems/data_donation/upload_page_test.exs
Due: mix-test, mix-format, mix-compile, mix-credo

Allow the Python code to return a title per table
  core/assets/js/pyworker.js
  core/priv/repo/script.py
Due: none

Lab WIP
  core/assets/package-lock.json
  core/assets/yarn.lock
  core/systems/lab/day_view.ex
Due: mix-test, mix-format, mix-compile, mix-credo

WIP
  core/.vscode/tasks.json
  core/assets/js/app.js
  core/assets/js/python_uploader.js
  core/assets/js/pyworker.js
  core/assets/js/tabbar.js
  core/config/config.exs
  core/config/dev.exs
  core/config/test.exs
  core/lib/core/authorization.ex
  core/mix.exs
  core/mix.lock
  core/priv/gettext/en/LC_MESSAGES/eyra-data-donation.po
  core/priv/gettext/eyra-data-donation.pot
  core/priv/gettext/nl/LC_MESSAGES/eyra-data-donation.po
  core/priv/repo/seeds.exs
  core/scripts/minio
  core/systems/data_donation/data_extraction_form.ex
  core/systems/data_donation/file_selection_form.ex
  core/systems/data_donation/routes.ex
  core/systems/data_donation/s3_storage_backend.ex
  core/systems/data_donation/storage_backend.ex
  core/systems/data_donation/submit_data_form.ex
  core/systems/data_donation/thanks_page.ex
  core/systems/data_donation/tool_model.ex
  core/systems/data_donation/upload_page.ex
  core/test/systems/data_donation/s3_storage_backend_test.exs
  core/test/systems/data_donation/upload_page_test.exs
  core/test/test_helper.exs
  guides/development_setup.md
Due: mix-test, mix-format, mix-compile, mix-credo

Changed user flow of data donation
  core/assets/js/python_uploader.js
  core/systems/data_donation/data_extraction_form.ex
  core/systems/data_donation/file_selection_form.ex
  core/systems/data_donation/routes.ex
  core/systems/data_donation/s3_storage_backend.ex
  core/systems/data_donation/storage_backend.ex
  core/systems/data_donation/upload_page.ex
  core/systems/data_donation/welcome_form.ex
  core/test/systems/data_donation/s3_storage_backend_test.exs
  core/test/systems/data_donation/upload_page_test.exs
Due: mix-test, mix-format, mix-compile, mix-credo

Minimized diff with target branch
  core/assets/css/app.css
  core/systems/data_donation/upload_page.ex
  core/systems/lab/day_view.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Removed console.log from Python worker
  core/assets/js/pyworker.js
  core/priv/repo/script.py
Due: none

Only allow ZIP files as data donation input
  core/systems/data_donation/file_selection_form.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Fixed buttons in assingment landing page
  core/frameworks/utililty/live_command.ex
  core/systems/assignment/switch.ex
  core/systems/campaign/builders/assignment_landing_page.ex
  core/systems/campaign/context.ex
  core/systems/campaign/monitor_view.ex
  core/systems/lab/check_in_model.ex
  core/systems/lab/check_in_view.ex
  core/systems/lab/experiment_task_view.ex
  core/systems/survey/experiment_task_view.ex
  core/test/systems/assignment/landing_page_test.exs
Due: mix-test, mix-format, mix-compile, mix-credo

Improved copy
  core/lib/core_web/ui/dialog/selector_dialog.ex
  core/priv/gettext/en/LC_MESSAGES/eyra-ui.po
  core/priv/gettext/en/LC_MESSAGES/link-campaign.po
  core/priv/gettext/en/LC_MESSAGES/link-dashboard.po
  core/priv/gettext/en/LC_MESSAGES/link-lab.po
  core/priv/gettext/en/LC_MESSAGES/link-survey.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-ui.po
  core/priv/gettext/nl/LC_MESSAGES/link-campaign.po
  core/priv/gettext/nl/LC_MESSAGES/link-dashboard.po
  core/priv/gettext/nl/LC_MESSAGES/link-lab.po
  core/priv/gettext/nl/LC_MESSAGES/link-survey.po
  core/priv/gettext/nl/LC_MESSAGES/link-ui.po
Due: mix-test, mix-format, mix-compile, mix-credo

Improved copy, improved duplicate campaign feature, improved booked session info on assignment page
  core/lib/core/pools/submissions.ex
  core/priv/gettext/en/LC_MESSAGES/eyra-ui.po
  core/priv/gettext/en/LC_MESSAGES/link-dashboard.po
  core/priv/gettext/en/LC_MESSAGES/link-lab.po
  core/priv/gettext/link-lab.pot
  core/priv/gettext/nl/LC_MESSAGES/eyra-ui.po
  core/priv/gettext/nl/LC_MESSAGES/link-dashboard.po
  core/priv/gettext/nl/LC_MESSAGES/link-lab.po
  core/systems/campaign/builders/assignment_landing_page.ex
  core/systems/campaign/overview_page.ex
  core/systems/lab/experiment_task_view.ex
  core/test/systems/campaign/assembly_test.exs
Due: mix-test, mix-format, mix-compile, mix-credo

Added first draft implementation of student pool dashboard
  core/lib/core/pools/submissions.ex
  core/mix.exs
  core/mix.lock
  core/priv/gettext/en/LC_MESSAGES/link-studentpool.po
  core/priv/gettext/link-studentpool.pot
  core/priv/gettext/nl/LC_MESSAGES/link-studentpool.po
  core/systems/campaign/context.ex
  core/systems/pool/overview_page.ex
  core/systems/pool/views/dashboard_view.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Improved student pool dashboard
  core/systems/pool/views/dashboard_view.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Disabled inactive users query
  core/systems/pool/views/dashboard_view.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Disabled student pool dashboard
  core/systems/pool/overview_page.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Changed file open to onclick instead of label to fix issue
  core/assets/js/python_uploader.js
  core/assets/js/pyworker.js
  core/systems/data_donation/file_selection_form.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Improved styling of data donation flow
  core/assets/css/app.css
  core/assets/js/python_uploader.js
  core/assets/js/pyworker.js
  core/assets/package-lock.json
  core/assets/static/gebruikersvoorwaarden-port.pdf
  core/assets/static/images/icons/eyra_wide.svg
  core/assets/static/images/uu_card.svg
  core/assets/yarn.lock
  core/frameworks/pixel/components/button/face/icon.ex
  core/lib/core_web/endpoint.ex
  core/lib/core_web/live/menu/items.ex
  core/lib/core_web/ui/navigation/tabbar_footer.ex
  core/mix.lock
  core/priv/gettext/en/LC_MESSAGES/eyra-data-donation.po
  core/priv/gettext/en/LC_MESSAGES/eyra-ui.po
  core/priv/gettext/en/LC_MESSAGES/eyra.ui.po
  core/priv/gettext/eyra-data-donation.pot
  core/priv/gettext/eyra-ui.pot
  core/priv/gettext/eyra.ui.pot
  core/priv/gettext/nl/LC_MESSAGES/eyra-data-donation.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-ui.po
  core/priv/gettext/nl/LC_MESSAGES/eyra.ui.po
  core/systems/data_donation/file_selection_form.ex
  core/systems/data_donation/submit_data_form.ex
  core/systems/data_donation/upload_page.ex
  core/systems/data_donation/welcome_form.ex
  core/test/core/data_donation/tool_test.exs
  core/test/systems/data_donation/s3_storage_backend_test.exs
  core/test/systems/data_donation/upload_page_test.exs
Due: mix-test, mix-format, mix-compile, mix-credo

Fixed minio on macOS
  core/scripts/minio
Due: none

Automatically create minio dir
  core/scripts/minio
Due: none

Fix Node build on M1
  .tool-versions
Due: none

Use tasks on macOS
  core/.vscode/tasks.json
Due: none
