Repository eyra/mono: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-test, mix-format, mix-compile, mix-credo

mix-test:
  name: 'elixir: mix test'
  entry: mix test
  language: system
  pass_filenames: false

mix-format:
  name: 'elixir: mix format'
  entry: mix format --check-formatted
  language: system

mix-compile:
  name: 'elixir: mix compile'
  entry: mix compile --force --warnings-as-errors
  language: system
  pass_filenames: false

mix-credo:
  name: 'elixir: mix credo'
  entry: mix credo
  language: system
  pass_filenames: false

changed website icons, added thanks page to donation flow
  core/assets/package-lock.json
  core/assets/static/apple-touch-icon-120x120.png
  core/assets/static/apple-touch-icon-152x152.png
  core/assets/static/apple-touch-icon-167x167.png
  core/assets/static/apple-touch-icon-180x180.png
  core/assets/static/apple-touch-icon.png
  core/assets/static/favicon.ico
  core/assets/static/icon-192x192.png
  core/assets/static/icon-512x512.png
  core/assets/yarn.lock
  core/lib/core_web/endpoint.ex
  core/priv/bundles/link/apple-touch-icon-120x120.png
  core/priv/bundles/link/apple-touch-icon-152x152.png
  core/priv/bundles/link/apple-touch-icon-167x167.png
  core/priv/bundles/link/apple-touch-icon-180x180.png
  core/priv/bundles/link/favicon.ico
  core/priv/bundles/link/icon-192x192.png
  core/priv/bundles/link/icon-512x512.png
  core/priv/bundles/link/manifest.json
  core/priv/static/favicon.ico
  core/scripts/minio
  core/systems/data_donation/pilot_model.ex
  core/systems/data_donation/routes.ex
  core/systems/data_donation/submit_data_form.ex
  core/systems/data_donation/thanks_page.ex
  core/systems/data_donation/upload_page.ex
  core/systems/data_donation/welcome_form.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Changed website title of next bundle
  core/lib/core_web/meta.ex
  core/test/core_web/controllers/user_session_controller_test.exs
Due: mix-test, mix-format, mix-compile, mix-credo

Downgrade previous deps updates to check deploy
  .tool-versions
  core/mix.lock
Due: none

Added runtime AWS config for S3
  core/config/runtime.exs
Due: mix-test, mix-format, mix-credo

Try to fix dialyzer error on github actions
  core/assets/package-lock.json
  core/assets/yarn.lock
  core/mix.lock
Due: none

Improved port pilot flow copy
  core/lib/core_web/live/layouts/workspace/menu_builder.ex
  core/lib/core_web/live/menu/items.ex
  core/priv/gettext/en/LC_MESSAGES/eyra-data-donation.po
  core/priv/gettext/en/LC_MESSAGES/eyra-home.po
  core/priv/gettext/en/LC_MESSAGES/eyra-ui.po
  core/priv/gettext/eyra-data-donation.pot
  core/priv/gettext/eyra-home.pot
  core/priv/gettext/eyra-ui.pot
  core/priv/gettext/nl/LC_MESSAGES/eyra-data-donation.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-home.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-ui.po
  core/systems/data_donation/file_selection_form.ex
  core/systems/data_donation/pilot_model.ex
  core/systems/data_donation/routes.ex
  core/systems/data_donation/submit_data_form.ex
  core/systems/data_donation/thanks_page.ex
  core/systems/data_donation/upload_page.ex
  core/systems/data_donation/welcome_form.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Improved port pilot flow copy
  core/priv/gettext/en/LC_MESSAGES/eyra-data-donation.po
  core/priv/gettext/eyra-data-donation.pot
  core/priv/gettext/nl/LC_MESSAGES/eyra-data-donation.po
  core/systems/data_donation/thanks_page.ex
  core/systems/data_donation/welcome_form.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Added script from the Port science team with some tweaks
  core/priv/repo/script.py
Due: none

Improved port pilot script en copy
  core/assets/js/pyworker.js
  core/priv/gettext/en/LC_MESSAGES/eyra-data-donation.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-data-donation.po
  core/priv/repo/script.py
  core/systems/data_donation/submit_data_form.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Added more error logging
  core/priv/repo/script.py
Due: none

Draft version of exclude feature
  core/assets/tailwind.config.js
  core/bundles/link/lib/marketplace.ex
  core/frameworks/pixel/components/selector/checkbox.ex
  core/frameworks/pixel/components/selector/selector.ex
  core/frameworks/pixel/components/text/title6.ex
  core/lib/core/factories.ex
  core/lib/core/pools/pools.ex
  core/lib/core_web/multi_form_auto_save.ex
  core/priv/gettext/en/LC_MESSAGES/eyra-account.po
  core/priv/gettext/en/LC_MESSAGES/eyra-data-donation.po
  core/priv/gettext/en/LC_MESSAGES/eyra-ui.po
  core/priv/gettext/en/LC_MESSAGES/link-assignment.po
  core/priv/gettext/en/LC_MESSAGES/link-campaign.po
  core/priv/gettext/eyra-account.pot
  core/priv/gettext/eyra-data-donation.pot
  core/priv/gettext/eyra-ui.pot
  core/priv/gettext/link-assignment.pot
  core/priv/gettext/link-campaign.pot
  core/priv/gettext/nl/LC_MESSAGES/eyra-account.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-data-donation.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-ui.po
  core/priv/gettext/nl/LC_MESSAGES/link-assignment.po
  core/priv/gettext/nl/LC_MESSAGES/link-campaign.po
  core/priv/repo/migrations/20220224192939_add_assignment_exclude.exs
  core/systems/assignment/context.ex
  core/systems/assignment/exclude_model.ex
  core/systems/assignment/model.ex
  core/systems/campaign/builders/promotion_landing_page.ex
  core/systems/campaign/content_page.ex
  core/systems/campaign/context.ex
  core/systems/pool/views/campaign_submission_view.ex
  core/test/systems/assignment/context_test.exs
Due: mix-test, mix-format, mix-compile, mix-credo

Fixed pool size error
  core/systems/pool/views/campaign_submission_view.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Improved layout of checkbox selector
  core/frameworks/pixel/components/selector/checkbox.ex
  core/frameworks/pixel/components/selector/selector.ex
  core/lib/core_web/live/user/forms/study.ex
  core/systems/pool/views/campaign_submission_view.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Added test roundtrip button back in the CMS
  core/config/dev.exs
  core/frameworks/pixel/components/form/validation_errors.ex
  core/lib/core/authorization.ex
  core/lib/core/image_catalog/local.ex
  core/priv/gettext/en/LC_MESSAGES/eyra-crew.po
  core/priv/gettext/en/LC_MESSAGES/link-survey.po
  core/priv/gettext/link-survey.pot
  core/priv/gettext/nl/LC_MESSAGES/eyra-crew.po
  core/priv/gettext/nl/LC_MESSAGES/link-survey.po
  core/systems/assignment/assignment_form.ex
  core/systems/assignment/context.ex
  core/systems/assignment/experiment_model.ex
  core/systems/campaign/builders/assignment_landing_page.ex
  core/systems/campaign/content_page.ex
  core/systems/campaign/context.ex
  core/systems/survey/tool_form.ex
  core/systems/survey/tool_model.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Fixed criteria count errors
  core/lib/core/pools/pools.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Extended ssl domains with www domain
  core/config/runtime.exs
Due: mix-test, mix-format, mix-credo

Improved ssl domains in runtime config
  core/config/runtime.exs
Due: mix-test, mix-format, mix-credo

Improved copy
  core/priv/gettext/en/LC_MESSAGES/eyra-account.po
  core/priv/gettext/en/LC_MESSAGES/link-campaign.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-account.po
  core/priv/gettext/nl/LC_MESSAGES/link-campaign.po
Due: none

Made the Google location more robust and tweaked the data donation setup a bit
  core/assets/js/pyworker.js
  core/priv/repo/script.py
  core/systems/data_donation/upload_page.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Formatted code
  core/systems/data_donation/upload_page.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Split data frames per activity type
  .tool-versions
  core/assets/js/pyworker.js
  core/priv/repo/script.py
Due: none

Re-added the year filter
  core/priv/repo/script.py
Due: none

Repositioned extraction log
  core/priv/repo/script.py
Due: none

Made sure there is always an activity title
  core/priv/repo/script.py
Due: none

Change SURF conext logging to INFO
  .tool-versions
  core/lib/core/surfconext/plug.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Fixed some small issues
  core/config/dev.exs
  core/frameworks/pixel/components/campaign_banner.ex
  core/systems/campaign/presenter.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Added update of surfconext user information
  core/lib/core/surfconext.ex
  core/lib/core/surfconext/plug.ex
  core/lib/core/surfconext/user.ex
  core/priv/repo/migrations/20220316194056_add_student_id.exs
  core/test/core/surfconext/plug_test.exs
  core/test/core/surfconext/user_test.exs
  core/test/core/surfconext_test.exs
Due: mix-test, mix-format, mix-compile, mix-credo

Fixed not repsoning checkbox on lab day entry
  core/systems/lab/day_view.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Renamed book to account
  core/lib/core/factories.ex
  core/lib/core/image_catalog/local.ex
  core/lib/core/pools/pools.ex
  core/priv/repo/migrations/20220321151337_rename_student_pool.exs
  core/systems/bookkeeping/account_model.ex
  core/systems/bookkeeping/context.ex
  core/systems/bookkeeping/line_model.ex
  core/systems/campaign/assembly.ex
  core/systems/lab/tool_form.ex
  core/systems/money_manager/context.ex
  core/systems/survey/tool_form.ex
  core/test/systems/bookkeeping/context_test.exs
  core/test/systems/money_manager/context_test.exs
Due: mix-test, mix-format, mix-compile, mix-credo

Fix for crashing promotion page when website is not filled in
  core/frameworks/pixel/components/campaign_banner.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Added [sync student credits] button to debug page
  core/bundles/link/lib/debug.ex
  core/config/dev.exs
  core/lib/core/pools/pools.ex
  core/systems/bookkeeping/context.ex
  core/systems/campaign/context.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Added rewarding of student after acceptance of task
  core/systems/assignment/switch.ex
  core/systems/bookkeeping/context.ex
  core/systems/campaign/context.ex
  core/systems/campaign/monitor_view.ex
  core/systems/campaign/switch.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Added draft pool dashboard
  core/mix.exs
  core/mix.lock
  core/priv/gettext/en/LC_MESSAGES/link-studentpool.po
  core/priv/gettext/link-studentpool.pot
  core/priv/gettext/nl/LC_MESSAGES/link-studentpool.po
  core/systems/bookkeeping/context.ex
  core/systems/pool/overview_page.ex
  core/systems/pool/views/dashboard_view.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Added draft value distribution to the pool dashboard
  core/assets/tailwind.config.js
  core/frameworks/pixel/components/widget/metric.ex
  core/frameworks/pixel/components/widget/value_distribution.ex
  core/lib/core/pools/pools.ex
  core/priv/gettext/en/LC_MESSAGES/link-studentpool.po
  core/priv/gettext/link-studentpool.pot
  core/priv/gettext/nl/LC_MESSAGES/link-studentpool.po
  core/systems/campaign/context.ex
  core/systems/campaign/switch.ex
  core/systems/pool/views/dashboard_view.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Improved value distribution widget
  core/frameworks/pixel/components/widget/value_distribution.ex
  core/systems/pool/views/dashboard_view.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Improved value distribution widget II
  core/frameworks/pixel/components/widget/value_distribution.ex
  core/systems/pool/views/dashboard_view.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Finished mvp version of student pool dashboard
  core/systems/assignment/switch.ex
  core/systems/campaign/context.ex
  core/systems/campaign/switch.ex
  core/test/systems/campaign/context_test.exs
Due: mix-test, mix-format, mix-compile, mix-credo

Finetuning for student value distribution widget
  core/frameworks/pixel/components/widget/value_distribution.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Redirecting calls to www-domain to bare-domain.
  core/lib/core_web/endpoint.ex
  core/lib/core_web/www_redirect.ex
  core/test/core/surfconext/plug_test.exs
  core/test/core_web/controllers/user_settings_controller_test.exs
  core/test/core_web/image_catalog_picker_test.exs
  core/test/core_web/www_redirect_test.exs
  core/test/support/conn_case.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Path conditions:
  mix-test: any of: \.exs*$
  mix-format: any of: \.exs*$
  mix-compile: any of: \.ex$
  mix-credo: any of: \.exs*$
