Repository eyra/mono: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-test, mix-format, mix-compile, mix-credo

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: no-commit-to-branch
        args: [-b, master]
  - repo: local
    hooks:
      - id: mix-test
        name: "elixir: mix test"
        entry: mix test
        language: system
        pass_filenames: false
        files: \.exs*$

      - id: mix-format
        name: "elixir: mix format"
        entry: mix format --check-formatted
        language: system
        files: \.exs*$

      - id: mix-compile
        name: "elixir: mix compile"
        entry: mix compile --force --warnings-as-errors
        language: system
        pass_filenames: false
        files: \.ex$

      - id: mix-credo
        name: "elixir: mix credo"
        entry: mix credo
        language: system
        pass_filenames: false
        files: \.exs*$

Fix overiew page: current_user_profile is not used anymore (#51)
  apps/core/lib/core/accounts.ex
  apps/core/lib/core_web.ex
  apps/core/lib/core_web/live/dashboard.ex
  apps/core/lib/core_web/live/index.ex
  apps/core/lib/core_web/live/study/complete.ex
  apps/core/lib/core_web/live/study/public.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Reload/recompile core and frameworks in dev (#52)
  apps/bundles/link/config/dev.exs
  apps/bundles/link/mix.exs
  apps/bundles/link/mix.lock
Due: mix-test, mix-format, mix-credo

Mailgun (#53)
  apps/bundles/link/config/config.exs
  apps/bundles/link/lib/link_web/router.ex
  apps/bundles/link/mix.lock
  apps/core/.projections.json
  apps/core/config/config.exs
  apps/core/config/dev.exs
  apps/core/config/test.exs
  apps/core/lib/core/accounts/email.ex
  apps/core/lib/core/accounts/email_view.ex
  apps/core/lib/core/accounts/templates/email/account_confirmation_instructions.html.eex
  apps/core/lib/core/accounts/templates/email/account_confirmation_instructions.text.eex
  apps/core/lib/core/accounts/templates/email/already_activated_notification.html.eex
  apps/core/lib/core/accounts/templates/email/already_activated_notification.text.eex
  apps/core/lib/core/accounts/templates/email/reset_password_instructions.html.eex
  apps/core/lib/core/accounts/templates/email/reset_password_instructions.text.eex
  apps/core/lib/core/accounts/templates/email/update_email_instructions.html.eex
  apps/core/lib/core/accounts/templates/email/update_email_instructions.text.eex
  apps/core/lib/core/accounts/user_notifier.ex
  apps/core/lib/core/email_layout_view.ex
  apps/core/lib/core/mailer.ex
  apps/core/lib/core/templates/email_layout/email.html.eex
  apps/core/lib/core/templates/email_layout/email.text.eex
  apps/core/mix.exs
  apps/core/mix.lock
  apps/core/test/core/accounts/email_test.exs
  apps/core/test/core/accounts/user_notifier_test.exs
  apps/core/test/support/helpers.ex
  mix_home/dialyxir_erlang-23.2_elixir-1.11.3.plt
Due: mix-test, mix-format, mix-compile, mix-credo

Update README.md
  README.md
Due: none

fix profile edit
  Makefile
  apps/core/lib/core/accounts.ex
  apps/core/lib/core/accounts/user.ex
  apps/core/lib/core/accounts/user_profile_edit.ex
  apps/core/lib/core_web/live/user/profile.ex
  apps/core/test/core_web/live/user_profile_test.exs
Due: mix-test, mix-format, mix-compile, mix-credo

Fix profile edit (#54)
  Makefile
  apps/core/lib/core/accounts.ex
  apps/core/lib/core/accounts/user.ex
  apps/core/lib/core/accounts/user_profile_edit.ex
  apps/core/lib/core_web/live/user/profile.ex
  apps/core/test/core_web/live/user_profile_test.exs
Due: mix-test, mix-format, mix-compile, mix-credo

Added Google Sign In
  apps/bundles/link/config/config.exs
  apps/bundles/link/lib/link_web/router.ex
  apps/core/lib/core_web/templates/user_session/new.html.eex
  apps/core/lib/google_sign_in.ex
  apps/core/lib/google_sign_in/plug.ex
  apps/core/lib/google_sign_in/user.ex
  apps/core/mix.exs
  apps/core/priv/repo/migrations/20210319073253_google_sign_in.exs
  apps/core/test/google_sign_in/plug_test.exs
  apps/core/test/google_sign_in_test.exs
Due: mix-test, mix-format, mix-compile, mix-credo

Added Google Sign In (#55)
  apps/bundles/link/config/config.exs
  apps/bundles/link/lib/link_web/router.ex
  apps/core/lib/core_web/templates/user_session/new.html.eex
  apps/core/lib/google_sign_in.ex
  apps/core/lib/google_sign_in/plug.ex
  apps/core/lib/google_sign_in/user.ex
  apps/core/mix.exs
  apps/core/priv/repo/migrations/20210319073253_google_sign_in.exs
  apps/core/test/google_sign_in/plug_test.exs
  apps/core/test/google_sign_in_test.exs
Due: mix-test, mix-format, mix-compile, mix-credo

Added image catalog system with Unsplash support
  apps/bundles/link/lib/link_web/router.ex
  apps/core/config/config.exs
  apps/core/lib/core/image_catalog.ex
  apps/core/lib/core/image_catalog/local.ex
  apps/core/lib/core/image_catalog/unsplash.ex
  apps/core/lib/core_web/image_catalog_picker.ex
  apps/core/lib/core_web/local_image_catalog_plug.ex
  apps/core/mix.exs
  apps/core/mix.lock
  apps/core/priv/static/images/cyan_magenta_1920x1080.jpg
  apps/core/test/core/image_catalog/local_test.exs
  apps/core/test/core/image_catalog/unsplash_test.exs
  apps/core/test/core_web/image_catalog_picker_test.exs
  apps/core/test/core_web/local_image_catalog_plug_test.exs
Due: mix-test, mix-format, mix-compile, mix-credo

Added image catalog system with Unsplash support (#57)
  apps/bundles/link/lib/link_web/router.ex
  apps/core/config/config.exs
  apps/core/lib/core/image_catalog.ex
  apps/core/lib/core/image_catalog/local.ex
  apps/core/lib/core/image_catalog/unsplash.ex
  apps/core/lib/core_web/image_catalog_picker.ex
  apps/core/lib/core_web/local_image_catalog_plug.ex
  apps/core/mix.exs
  apps/core/mix.lock
  apps/core/priv/static/images/cyan_magenta_1920x1080.jpg
  apps/core/test/core/image_catalog/local_test.exs
  apps/core/test/core/image_catalog/unsplash_test.exs
  apps/core/test/core_web/image_catalog_picker_test.exs
  apps/core/test/core_web/local_image_catalog_plug_test.exs
Due: mix-test, mix-format, mix-compile, mix-credo

Fixed SURFconext login
  apps/bundles/link/config/config.exs
  apps/bundles/link/config/dev.exs
  apps/bundles/link/config/test.exs
  apps/core/config/config.exs
  apps/core/lib/core/surfconext/plug.ex
  apps/core/lib/core_web/live/proxies/endpoint_proxy.ex
  apps/core/lib/core_web/templates/layout/root.html.leex
  apps/core/lib/core_web/templates/user_session/new.html.eex
  apps/core/lib/core_web/view_model/card.ex
  apps/core/lib/sign_in_with_apple/helpers.ex
  apps/core/test/core_web/controllers/user_session_controller_test.exs
  assets/tailwind.config.js
Due: mix-test, mix-format, mix-compile, mix-credo

Fixed Sign In with Apple and added setup doc
  apps/bundles/link/lib/link_web/router.ex
  apps/core/lib/core_web/controllers/user_session_controller.ex
  apps/core/lib/core_web/templates/user_session/new.html.eex
  apps/core/lib/core_web/views/user_session_view.ex
  apps/core/lib/sign_in_with_apple/helpers.ex
  apps/core/lib/sign_in_with_apple/plug.ex
  apps/core/test/sign_in_with_apple/helpers_test.exs
  apps/core/test/sign_in_with_apple/plug_test.exs
  guides/sign-in-with-apple.md
Due: mix-test, mix-format, mix-compile, mix-credo

Added pagination to image picker
  apps/core/lib/core_web/image_catalog_picker.ex
  apps/core/lib/core_web/templates/user_session/new.html.eex
Due: mix-test, mix-format, mix-compile, mix-credo

Some final changes. Some tests are not working
  apps/bundles/link/config/test.exs
  apps/core/lib/core_web/controllers/user_auth.ex
  apps/core/lib/core_web/dependencies.ex
  apps/core/lib/core_web/image_catalog_picker.ex
  apps/core/lib/core_web/live/proxies/endpoint_proxy.ex
  apps/core/lib/core_web/templates/user_session/new.html.eex
  apps/core/lib/sign_in_with_apple/helpers.ex
  apps/core/priv/gettext/nl/LC_MESSAGES/eyra-survey.po
  apps/core/test/core_web/controllers/user_auth_test.exs
  apps/core/test/core_web/controllers/user_session_controller_test.exs
  apps/core/test/support/phoenix/router.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Changed button mouse down appearance
  apps/core/lib/core_web/live/study/edit.ex
  apps/core/lib/core_web/templates/user_session/new.html.eex
  apps/frameworks/eyra_ui/lib/components/button/delete_button.ex
  apps/frameworks/eyra_ui/lib/components/button/primary_alpine_button.ex
  apps/frameworks/eyra_ui/lib/components/button/primary_button.ex
  apps/frameworks/eyra_ui/lib/components/button/primary_icon_button.ex
  apps/frameworks/eyra_ui/lib/components/button/primary_live_view_button.ex
  apps/frameworks/eyra_ui/lib/components/button/primary_wide_button.ex
  apps/frameworks/eyra_ui/lib/components/button/secondary_alpine_button.ex
  apps/frameworks/eyra_ui/lib/components/button/secondary_live_view_button.ex
  apps/frameworks/eyra_ui/lib/components/button/submit_button.ex
  apps/frameworks/eyra_ui/lib/components/button/submit_wide_button.ex
  assets/tailwind.config.js
Due: mix-test, mix-format, mix-compile, mix-credo

Changed button mouse down appearance (#62)
  apps/core/lib/core_web/live/study/edit.ex
  apps/core/lib/core_web/templates/user_session/new.html.eex
  apps/frameworks/eyra_ui/lib/components/button/delete_button.ex
  apps/frameworks/eyra_ui/lib/components/button/primary_alpine_button.ex
  apps/frameworks/eyra_ui/lib/components/button/primary_button.ex
  apps/frameworks/eyra_ui/lib/components/button/primary_icon_button.ex
  apps/frameworks/eyra_ui/lib/components/button/primary_live_view_button.ex
  apps/frameworks/eyra_ui/lib/components/button/primary_wide_button.ex
  apps/frameworks/eyra_ui/lib/components/button/secondary_alpine_button.ex
  apps/frameworks/eyra_ui/lib/components/button/secondary_live_view_button.ex
  apps/frameworks/eyra_ui/lib/components/button/submit_button.ex
  apps/frameworks/eyra_ui/lib/components/button/submit_wide_button.ex
  assets/tailwind.config.js
Due: mix-test, mix-format, mix-compile, mix-credo

Fixed tests
  apps/bundles/link/config/config.exs
  apps/core/lib/core/surfconext.ex
  apps/core/lib/core/surfconext/plug.ex
  apps/core/lib/google_sign_in/plug.ex
  apps/core/lib/sign_in_with_apple/plug.ex
  apps/core/test/core/surfconext/plug_test.exs
  apps/core/test/core_web/live/user/confirm_token_test.exs
  apps/core/test/google_sign_in/plug_test.exs
  apps/core/test/sign_in_with_apple/plug_test.exs
Due: mix-test, mix-format, mix-compile, mix-credo

Enable deployment using releases and built-in SSL
  apps/bundles/link/.gitignore
  apps/bundles/link/config/config.exs
  apps/bundles/link/config/prod.exs
  apps/bundles/link/config/prod.secret.exs
  apps/bundles/link/config/runtime.exs
  apps/bundles/link/lib/link/release.ex
  apps/bundles/link/lib/link_web/endpoint.ex
  apps/bundles/link/lib/link_web/router.ex
  apps/bundles/link/mix.exs
  apps/bundles/link/mix.lock
  apps/core/lib/core/surfconext.ex
  apps/core/lib/core/surfconext/plug.ex
  apps/core/lib/core_web/controllers/user_session_controller.ex
  apps/core/lib/google_sign_in.ex
  apps/core/lib/google_sign_in/plug.ex
  apps/core/lib/sign_in_with_apple.ex
  apps/core/lib/sign_in_with_apple/plug.ex
  apps/core/mix.exs
  apps/core/mix.lock
  apps/core/test/core/surfconext/plug_test.exs
  apps/core/test/google_sign_in/plug_test.exs
  apps/core/test/sign_in_with_apple/plug_test.exs
  apps/core/test/support/phoenix/router.ex
  assets/package-lock.json
  assets/package.json
Due: mix-test, mix-format, mix-compile, mix-credo

Added deployment tooling (Ansbile)
  deployment/.gitignore
  deployment/README.md
  deployment/Vagrantfile
  deployment/deploy.yml
  deployment/linode.md
  deployment/roles/bundle/handlers/main.yml
  deployment/roles/bundle/meta/main.yml
  deployment/roles/bundle/tasks/elixir.yml
  deployment/roles/bundle/tasks/general.yml
  deployment/roles/bundle/tasks/main.yml
  deployment/roles/bundle/tasks/nodejs.yml
  deployment/roles/bundle/templates/bundle.service
  deployment/roles/bundle/templates/sshd_config
  deployment/roles/bundle/templates/unattended-upgrades.conf
  deployment/roles/bundle/vars/main.yml
  deployment/site.yml
  deployment/system.yml
  deployment/tasks/postgresql.yml
Due: none

Enable deployment using releases and built-in SSL (#63)
  apps/bundles/link/.gitignore
  apps/bundles/link/config/config.exs
  apps/bundles/link/config/prod.exs
  apps/bundles/link/config/prod.secret.exs
  apps/bundles/link/config/runtime.exs
  apps/bundles/link/lib/link/release.ex
  apps/bundles/link/lib/link_web/endpoint.ex
  apps/bundles/link/lib/link_web/router.ex
  apps/bundles/link/mix.exs
  apps/bundles/link/mix.lock
  apps/core/lib/core/surfconext.ex
  apps/core/lib/core/surfconext/plug.ex
  apps/core/lib/core_web/controllers/user_session_controller.ex
  apps/core/lib/google_sign_in.ex
  apps/core/lib/google_sign_in/plug.ex
  apps/core/lib/sign_in_with_apple.ex
  apps/core/lib/sign_in_with_apple/plug.ex
  apps/core/mix.exs
  apps/core/mix.lock
  apps/core/test/core/surfconext/plug_test.exs
  apps/core/test/google_sign_in/plug_test.exs
  apps/core/test/sign_in_with_apple/plug_test.exs
  apps/core/test/support/phoenix/router.ex
  assets/package-lock.json
  assets/package.json
Due: mix-test, mix-format, mix-compile, mix-credo

Added deployment tooling (Ansbile) (#64)
  deployment/.gitignore
  deployment/README.md
  deployment/Vagrantfile
  deployment/deploy.yml
  deployment/linode.md
  deployment/roles/bundle/handlers/main.yml
  deployment/roles/bundle/meta/main.yml
  deployment/roles/bundle/tasks/elixir.yml
  deployment/roles/bundle/tasks/general.yml
  deployment/roles/bundle/tasks/main.yml
  deployment/roles/bundle/tasks/nodejs.yml
  deployment/roles/bundle/templates/bundle.service
  deployment/roles/bundle/templates/sshd_config
  deployment/roles/bundle/templates/unattended-upgrades.conf
  deployment/roles/bundle/vars/main.yml
  deployment/site.yml
  deployment/system.yml
  deployment/tasks/postgresql.yml
Due: none

Set default from email for Link
  apps/bundles/link/config/runtime.exs
  apps/core/config/test.exs
  apps/core/lib/core/mailer.ex
  deployment/README.md
  deployment/deploy.yml
Due: mix-test, mix-format, mix-compile, mix-credo

Set default from email for Link (#65)
  apps/bundles/link/config/runtime.exs
  apps/core/config/test.exs
  apps/core/lib/core/mailer.ex
  deployment/README.md
  deployment/deploy.yml
Due: mix-test, mix-format, mix-compile, mix-credo

Added data uploader
  apps/core/lib/core/data_uploader.ex
  apps/core/lib/core/data_uploader/client_script.ex
  apps/core/lib/core/factories.ex
  apps/core/lib/core_web/controllers/data_loader_controller.ex
  apps/core/lib/core_web/live/data_uploader/routes.ex
  apps/core/lib/core_web/live/routes.ex
  apps/core/lib/core_web/templates/data_loader/index.html.eex
  apps/core/lib/core_web/views/data_loader.ex
  apps/core/priv/repo/migrations/20210417094346_create_data_uploader_client_scripts.exs
  apps/core/priv/repo/seeds.exs
  assets/js/python_data_loader.js
  assets/js/pyworker.js
Due: mix-test, mix-format, mix-compile, mix-credo

Added Slack notifications and tuned unattended upgrades
  deployment/roles/bundle/tasks/general.yml
  deployment/roles/bundle/templates/apt-daily.timer.override.conf
  deployment/roles/bundle/templates/notify_slack_on_shutdown.service
  deployment/roles/bundle/templates/notify_slack_on_shutdown.sh
  deployment/roles/bundle/templates/pam_slack.sh
Due: none

Added Slack notifications and tuned unattended upgrades (#67)
  deployment/roles/bundle/tasks/general.yml
  deployment/roles/bundle/templates/apt-daily.timer.override.conf
  deployment/roles/bundle/templates/notify_slack_on_shutdown.service
  deployment/roles/bundle/templates/notify_slack_on_shutdown.sh
  deployment/roles/bundle/templates/pam_slack.sh
Due: none

Added data uploader (#66)
  apps/core/lib/core/data_uploader.ex
  apps/core/lib/core/data_uploader/client_script.ex
  apps/core/lib/core/factories.ex
  apps/core/lib/core_web/controllers/data_loader_controller.ex
  apps/core/lib/core_web/live/data_uploader/routes.ex
  apps/core/lib/core_web/live/routes.ex
  apps/core/lib/core_web/templates/data_loader/index.html.eex
  apps/core/lib/core_web/views/data_loader.ex
  apps/core/priv/repo/migrations/20210417094346_create_data_uploader_client_scripts.exs
  apps/core/priv/repo/seeds.exs
  assets/js/python_data_loader.js
  assets/js/pyworker.js
Due: mix-test, mix-format, mix-compile, mix-credo

Updated profile form
  apps/core/lib/core_web/live/user/profile.ex
Due: mix-test, mix-format, mix-compile, mix-credo

added some missing icons
  core/priv/static/images/label-arrow-primary.svg
  core/priv/static/images/label-arrow-secondary.svg
  core/priv/static/images/label-arrow-tertiary.svg
  core/priv/static/images/uva.svg
  core/priv/static/images/vu.svg
Due: none
