Repository eyra/mono: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-test, mix-format, mix-compile, mix-credo

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: no-commit-to-branch
        args: [-b, master]
  - repo: local
    hooks:
      - id: mix-test
        name: "elixir: mix test"
        entry: mix test
        language: system
        pass_filenames: false
        files: \.exs*$

      - id: mix-format
        name: "elixir: mix format"
        entry: mix format --check-formatted
        language: system
        files: \.exs*$

      - id: mix-compile
        name: "elixir: mix compile"
        entry: mix compile --force --warnings-as-errors
        language: system
        pass_filenames: false
        files: \.ex$

      - id: mix-credo
        name: "elixir: mix credo"
        entry: mix credo
        language: system
        pass_filenames: false
        files: \.exs*$

Update to latest pyodide version
  core/assets/js/pyworker.js
  core/assets/package-lock.json
  core/assets/package.json
  core/assets/yarn.lock
  core/lib/core_web/templates/data_donation/index.html.eex
  core/package-lock.json
Due: none

Applied fixes from Emiels patch
  Dockerfile.dev
  core/assets/css/_components.css
  core/assets/package-lock.json
  core/assets/yarn.lock
  core/bundles/next/config/config.exs
  core/config/config.exs
  core/config/dev.exs
  core/frameworks/pixel/components/button/primary_button.ex
  core/frameworks/pixel/components/container/bar.ex
  core/frameworks/pixel/components/form/checkbox.ex
  core/frameworks/pixel/components/form/input.ex
  core/frameworks/pixel/components/form/radio_button_group.ex
  core/frameworks/pixel/components/form/text_area.ex
  core/lib/core/config.ex
  core/lib/core/feature_flags/test.ex
  core/lib/core_web/endpoint.ex
  core/lib/core_web/live/layouts/stripped/component.ex
  core/lib/core_web/live/layouts/website/component.ex
  core/lib/core_web/live/layouts/workspace/component.ex
  core/lib/core_web/ui/dialog/plain_dialog.ex
  core/lib/core_web/ui/navigation/tabbar_area.ex
  core/lib/core_web/ui/navigation/tabbar_content.ex
  core/lib/core_web/ui/navigation/tabbar_dropdown.ex
  core/lib/core_web/ui/navigation/tabbar_footer.ex
  core/lib/core_web/ui/navigation/tabbar_narrow.ex
  core/lib/core_web/ui/navigation/tabbar_wide.ex
  core/lib/core_web/ui/progress_bar.ex
  core/mix.exs
  core/systems/assignment/ethical_form.ex
  core/systems/assignment/experiment_form.ex
  core/systems/scholar/context.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Formatted code
  banking_proxy/config/prod.exs
Due: mix-test, mix-format, mix-credo

Added error in case of missing SurfConext email in user info
  core/lib/core/surfconext.ex
  core/lib/core/surfconext/user.ex
  core/test/core/surfconext/user_test.exs
  core/test/core/surfconext_test.exs
Due: mix-test, mix-format, mix-compile, mix-credo

Made Docker build for Core
  .github/workflows/release.yml
  Dockerfile.dev
  banking_proxy/config/config.exs
  banking_proxy/mix.exs
  core/.dockerignore
  core/Dockerfile
  core/assets/js/tabbar.js
  core/assets/package-lock.json
  core/assets/tailwind.config.js
  core/assets/yarn.lock
  core/bundles/link/config/config.exs
  core/config/config.exs
  core/config/runtime.exs
  core/guides/docker.md
  core/lib/core/application.ex
  core/lib/core_web/endpoint.ex
  core/mix.exs
  core/mix.lock
  core/scripts/build-frontend
  core/scripts/build-release
Due: mix-test, mix-format, mix-compile, mix-credo

Formatted code
  core/config/runtime.exs
  core/lib/core/application.ex
  core/lib/core_web/endpoint.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Added support for dynamic prompts controlled from port scripts
  core/assets/js/app.js
  core/assets/js/file_input.js
  core/assets/js/gettext.js
  core/assets/js/processing_engine.js
  core/assets/js/processing_worker.js
  core/assets/js/python_uploader.js
  core/assets/js/pyworker.js
  core/assets/js/radio_input.js
  core/assets/js/visualisation_engine.js
  core/assets/js/visualisation_engine_hook.js
  core/assets/js/visualisation_factory.js
  core/assets/static/images/icons/spinner.svg
  core/assets/webpack.config.js
  core/lib/core/authorization.ex
  core/priv/repo/generator_test.py
  core/systems/data_donation/centerdata_controller.ex
  core/systems/data_donation/default_controller.ex
  core/systems/data_donation/donate_page.ex
  core/systems/data_donation/execute_sheet.ex
  core/systems/data_donation/flow_page.ex
  core/systems/data_donation/model_data.ex
  core/systems/data_donation/routes.ex
  core/test/systems/data_donation/upload_page_test.exs
Due: mix-test, mix-format, mix-compile, mix-credo

Fixed development server
  core/config/config.exs
  core/lib/core/application.ex
  core/mix.lock
Due: mix-test, mix-format, mix-compile, mix-credo

Formatted code
  core/lib/core/application.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Applied PR feedback
  core/assets/js/file_input.js
  core/assets/js/gettext.js
  core/assets/js/radio_input.js
  core/assets/js/visualisation_engine.js
  core/assets/package-lock.json
  core/assets/package.json
Due: none

Refactor from js Modules to Classes
  core/assets/js/app.js
  core/assets/js/data_donation_assembly.js
  core/assets/js/data_donation_hook.js
  core/assets/js/element_ref.js
  core/assets/js/file_input.js
  core/assets/js/gettext.js
  core/assets/js/processing_engine.js
  core/assets/js/processing_worker.js
  core/assets/js/radio_input.js
  core/assets/js/visualisation_engine.js
  core/assets/js/visualisation_engine_hook.js
  core/assets/js/visualisation_factory.js
  core/systems/data_donation/flow_page.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Added prettier
  core/.prettierignore
  core/.prettierrc.json
  core/assets/js/100vh-fix.js
  core/assets/js/apns.js
  core/assets/js/clipboard.js
  core/assets/js/python_uploader.js
  core/assets/js/pyworker.js
  core/assets/js/socket.js
  core/assets/js/sw.js
  core/assets/js/tabbar.js
  core/assets/js/toggle.js
  core/assets/js/tools.js
  core/assets/js/viewport_resize.js
  core/package-lock.json
  core/package.json
Due: none

Added prettier
  .pre-commit-config.yaml
  Makefile
  core/.prettierignore
  core/assets/package-lock.json
  core/assets/package.json
  core/assets/yarn.lock
  core/mix.exs
  core/package-lock.json
  core/package.json
Due: mix-test, mix-format, mix-credo

Update browserslist
  core/assets/package-lock.json
  core/assets/yarn.lock
Due: none

Fixes
  core/assets/js/app.js
  core/assets/js/data_donation_assembly.js
  core/assets/js/data_donation_hook.js
  core/assets/js/file_input.js
  core/assets/js/processing_engine.js
  core/assets/js/radio_input.js
  core/assets/js/visualisation_engine.js
  core/assets/js/visualisation_factory.js
Due: none

Fixed Makefile
  Makefile
Due: none

Really fix local dev server
  core/lib/core/application.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Removed obsolete loading of :core app before migrating repos
  core/lib/core/release.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Removed support for starting local surface catalogue server
  core/dev.exs
  core/mix.exs
Due: mix-test, mix-format, mix-credo

Updated to latest version of Surface Catalogue, fixes Mix.env use in Application.start
  core/assets/package-lock.json
  core/assets/yarn.lock
  core/mix.exs
  core/mix.lock
Due: mix-test, mix-format, mix-credo

Updated to latest surface and added ignore warnings to suppress harmless but currently unavoidable dialyzer warnings
  core/.dialyzer_ignore.exs
  core/mix.exs
Due: mix-test, mix-format, mix-credo

Fixed extra spacing between radio items
  core/assets/js/radio_input.js
Due: none

Fixed roundtrip
  core/assets/package-lock.json
  core/systems/assignment/callback_page.ex
  core/systems/assignment/context.ex
  core/systems/campaign/builders/assignment_callback_page.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Added workflow file to create Docker image
  .github/workflows/docker_release.yml
  core/Dockerfile
Due: none

Added workflow file to create Docker image (#332)
  .github/workflows/docker_release.yml
  core/Dockerfile
Due: none

Run database migrations at Docker startup
  core/Dockerfile
Due: none

Run database migrations at Docker startup (#336)
  core/Dockerfile
Due: none

Ensure mix env is set to production in Docker
  core/Dockerfile
  core/scripts/migrate-and-start
Due: none

Revert "Bump browserslist from 4.14.5 to 4.21.4 in /core/assets (#330)"
  core/assets/package-lock.json
Due: none

Revert "Bump browserslist from 4.14.5 to 4.21.4 in /core/assets (#330)" (#337)
  core/assets/package-lock.json
Due: none

Revert "Bump is-svg and postcss-svgo in /core/assets (#329)"
  core/assets/package-lock.json
Due: none

Revert "Bump is-svg and postcss-svgo in /core/assets (#329)" (#338)
  core/assets/package-lock.json
Due: none

Draft implementation of Port D3I page
  .tool-versions
  core/.dialyzer_ignore.exs
  core/assets/js/app.js
  core/assets/js/port.js
  core/assets/js/tabbar.js
  core/assets/package-lock.json
  core/assets/package.json
  core/assets/webpack.config.js
  core/lib/core/authorization.ex
  core/systems/data_donation/default_controller.ex
  core/systems/data_donation/port_page.ex
  core/systems/data_donation/routes.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Formatted code
  core/systems/data_donation/port_page.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Improved d3i endpoint and temp fixed navbar issue (unhide does suddenly not work anymore: tailwind)
  core/assets/js/app.js
  core/lib/core_web/live/layouts/stripped/component.ex
  core/lib/core_web/live/layouts/website/component.ex
  core/lib/core_web/ui/navigation/desktop_navbar.ex
  core/lib/core_web/ui/navigation/mobile_navbar.ex
  core/systems/data_donation/default_controller.ex
  core/systems/data_donation/port_page.ex
  core/systems/data_donation/routes.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Updated port version
  core/assets/package-lock.json
Due: none

Enabled SSL proxied mode for Docker builds
  core/Dockerfile
  core/config/config.exs
  core/config/runtime.exs
Due: mix-test, mix-format, mix-credo

Changed production setup to expect deployment behind a proxy
  .github/workflows/docker_release.yml
  core/Dockerfile
  core/config/prod.exs
  core/config/runtime.exs
  core/lib/core/application.ex
  core/lib/core_web/endpoint.ex
  core/mix.exs
  core/mix.lock
Due: mix-test, mix-format, mix-compile, mix-credo
