Repository eyra/mono: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-test, mix-format, mix-compile, mix-credo

mix-test:
  name: 'elixir: mix test'
  entry: mix test
  language: system
  pass_filenames: false

mix-format:
  name: 'elixir: mix format'
  entry: mix format --check-formatted
  language: system

mix-compile:
  name: 'elixir: mix compile'
  entry: mix compile --force --warnings-as-errors
  language: system
  pass_filenames: false

mix-credo:
  name: 'elixir: mix credo'
  entry: mix credo
  language: system
  pass_filenames: false

Implemented get_owner call in study detail page
  lib/link_web/controllers/study_controller.ex
  lib/link_web/templates/study/show.html.eex
  priv/gettext/en/LC_MESSAGES/eyra-account.po
  priv/gettext/en/LC_MESSAGES/eyra-study.po
  priv/gettext/eyra-study.pot
  priv/gettext/nl/LC_MESSAGES/eyra-account.po
  priv/gettext/nl/LC_MESSAGES/eyra-study.po
Due: mix-test, mix-format, mix-compile, mix-credo

Removed test function
  lib/link/studies.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Fixed problem with not purged tailwind classes
  assets/tailwind.config.js
  lib/link_web/components/component_helpers.ex
  lib/link_web/templates/pow/session/new.html.eex
Due: mix-test, mix-format, mix-compile, mix-credo

Improved owner code
  lib/link_web/controllers/study_controller.ex
  lib/link_web/templates/study/show.html.eex
Due: mix-test, mix-format, mix-compile, mix-credo

Fixed bg color hero
  lib/link_web/components/component_helpers.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Fixed participants list on study page
  assets/tailwind.config.js
  lib/link/users.ex
  lib/link_web/components/bullit/templates/primary.html.eex
  lib/link_web/controllers/study_controller.ex
  lib/link_web/templates/study/edit.html.eex
  lib/link_web/templates/study/show.html.eex
  priv/gettext/en/LC_MESSAGES/eyra-link.po
  priv/gettext/en/LC_MESSAGES/eyra-study.po
  priv/gettext/eyra-link.pot
  priv/gettext/eyra-study.pot
  priv/gettext/nl/LC_MESSAGES/eyra-link.po
  priv/gettext/nl/LC_MESSAGES/eyra-study.po
Due: mix-test, mix-format, mix-compile, mix-credo

Improved [new study] nav bar button
  lib/link_web/templates/layout/app.html.eex
Due: none

Improved usps on landingpage
  lib/link_web/components/card/templates/usp.html.eex
  lib/link_web/templates/page/index.html.eex
Due: none

Improved hide menu item
  lib/link_web/templates/layout/app.html.eex
Due: none

Fixed unit tests
  test/link_web/controllers/study_controller_test.exs
Due: mix-test, mix-format, mix-credo

Allow direct participation from study detail page
  lib/link_web/templates/study/show.html.eex
Due: none

Added [add study] on study detail page
  assets/static/.DS_Store
  assets/static/images/plus-primary.svg
  assets/tailwind.config.js
  lib/link/users.ex
  lib/link_web/components/card/templates/button.html.eex
  lib/link_web/components/component_helpers.ex
  lib/link_web/templates/dashboard/index.html.eex
Due: mix-test, mix-format, mix-compile, mix-credo

gettext for add study card
  lib/link_web/templates/dashboard/index.html.eex
  priv/gettext/en/LC_MESSAGES/eyra-account.po
  priv/gettext/en/LC_MESSAGES/eyra-link.po
  priv/gettext/en/LC_MESSAGES/eyra-study.po
  priv/gettext/eyra-account.pot
  priv/gettext/eyra-link.pot
  priv/gettext/eyra-study.pot
  priv/gettext/nl/LC_MESSAGES/eyra-account.po
  priv/gettext/nl/LC_MESSAGES/eyra-link.po
  priv/gettext/nl/LC_MESSAGES/eyra-study.po
Due: none

Added footer
  assets/static/images/footer-left.svg
  assets/static/images/footer-right.svg
  assets/tailwind.config.js
  lib/link_web/components/component_helpers.ex
  lib/link_web/components/footer/footer.ex
  lib/link_web/components/footer/templates/default.html.eex
  lib/link_web/templates/layout/app.html.eex
  lib/link_web/templates/page/index.html.eex
Due: mix-test, mix-format, mix-compile, mix-credo

Finetuning footer
  assets/tailwind.config.js
  lib/link_web/templates/layout/app.html.eex
Due: none

Added secondary button style
  lib/link_web/components/component_helpers.ex
  lib/link_web/components/custom_button/templates/primary.html.eex
  lib/link_web/components/custom_button/templates/secondary.html.eex
  lib/link_web/templates/user_profile/edit.html.eex
Due: mix-test, mix-format, mix-compile, mix-credo

Changed background of menu button
  lib/link_web/components/custom_button/templates/menu.html.eex
Due: none

Changed some copy
  priv/gettext/en/LC_MESSAGES/eyra-link.po
  priv/gettext/en/LC_MESSAGES/eyra-study.po
  priv/gettext/nl/LC_MESSAGES/eyra-study.po
Due: none

Fixed 3 column latyout on study detail
  lib/link_web/templates/study/show.html.eex
Due: none

Switched to latest Elixir and Erlang for OS X compat
  .tool-versions
  guides/development_setup.md
  setup.sh
Due: none

MInor script tweaks
  assets/package-lock.json
  setup.sh
Due: none

Tweaks to run on Ubuntu
  config/dev.exs
  config/test.exs
  guides/development_setup.md
Due: mix-test, mix-format, mix-credo

Default extension suggestions for VSCode
  .vscode/extensions.json
Due: none

Fixed missing fonts
  assets/static/fonts/Finador-Black.woff
  assets/static/fonts/Finador-Black.woff2
  assets/static/fonts/Finador-BlackOblique.woff
  assets/static/fonts/Finador-BlackOblique.woff2
  assets/static/fonts/Finador-Bold.woff
  assets/static/fonts/Finador-Bold.woff2
  assets/static/fonts/Finador-BoldOblique.woff
  assets/static/fonts/Finador-BoldOblique.woff2
  assets/static/fonts/Finador-ExtraLight.woff
  assets/static/fonts/Finador-ExtraLight.woff2
  assets/static/fonts/Finador-ExtraLightOblique.woff
  assets/static/fonts/Finador-ExtraLightOblique.woff2
  assets/static/fonts/Finador-Heavy.woff
  assets/static/fonts/Finador-Heavy.woff2
  assets/static/fonts/Finador-HeavyOblique.woff
  assets/static/fonts/Finador-HeavyOblique.woff2
  assets/static/fonts/Finador-Light.woff
  assets/static/fonts/Finador-Light.woff2
  assets/static/fonts/Finador-LightOblique.woff
  assets/static/fonts/Finador-LightOblique.woff2
  assets/static/fonts/Finador-Medium.woff
  assets/static/fonts/Finador-Medium.woff2
  assets/static/fonts/Finador-MediumOblique.woff
  assets/static/fonts/Finador-MediumOblique.woff2
  assets/static/fonts/Finador-Regular.woff
  assets/static/fonts/Finador-Regular.woff2
  assets/static/fonts/Finador-RegularOblique.woff
  assets/static/fonts/Finador-RegularOblique.woff2
  assets/static/fonts/Finador-Thin.woff
  assets/static/fonts/Finador-Thin.woff2
  assets/static/fonts/Finador-ThinOblique.woff
  assets/static/fonts/Finador-ThinOblique.woff2
Due: none

Added section on pre-commit
  guides/development_setup.md
Due: none

Asdf (#15)
  .DS_Store
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
  .github/workflows/test.yml
  .gitignore
  .tool-versions
  .vscode/extensions.json
  assets/.DS_Store
  assets/static/.DS_Store
  assets/static/images/.DS_Store
  assets/static/images/eyra-link-logo.png
  config/config.secret.exs
  config/dev.exs
  config/test.exs
  guides/development_setup.md
  mix.exs
  priv/gettext/nl/LC_MESSAGES/default.mo
  priv/gettext/nl/LC_MESSAGES/nl.mo
  setup.sh
Due: mix-test, mix-format, mix-credo

Use ASDF instead of Docker for development
  .gitignore
  .vscode/settings.json
  config/dev.exs
  mix.exs
Due: mix-test, mix-format, mix-credo

Tweaks to setup script for ASDF
  assets/package-lock.json
Due: none

Tweaks to run on Ubuntu
  config/dev.exs
Due: mix-test, mix-format, mix-credo

Removed ad- hoc fixtures from studies test
  test/link/studies_test.exs
Due: mix-test, mix-format, mix-credo

Removed old-style factories in favour of new ones
  test/link/studies_test.exs
  test/link/survey_tools_test.exs
  test/link/users_test.exs
  test/link_web/controllers/dashboard_controller_test.exs
  test/link_web/controllers/participant_controller_test.exs
  test/link_web/controllers/study_controller_test.exs
  test/link_web/controllers/survey_tool_controller_test.exs
  test/link_web/controllers/user_profile_controller_test.exs
  test/support/conn_case.ex
  test/support/factories.ex
  test/support/helpers.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Changed factories to Ecto style
  lib/link/studies/study.ex
  lib/link/users.ex
  lib/link/users/user.ex
  lib/link_web.ex
  lib/link_web/components/component_helpers.ex
  lib/link_web/controllers/page_controller.ex
  lib/link_web/controllers/study_controller.ex
  test/link/authorization_test.exs
  test/link/studies_test.exs
  test/link/users_test.exs
  test/link_web/controllers/dashboard_controller_test.exs
  test/link_web/controllers/studies/permissions_controller_test.exs
  test/support/factories.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Added GitHub action to automatically format the code
  .github/workflows/test.yml
Due: none

Use pre-commit in GitHub Actions
  .github/workflows/test.yml
Due: none

Use pre-commit in GitHub Actions
  .github/workflows/test.yml
  .pre-commit-config.yaml
Due: none

Formatted code
  .gitignore
  .vscode/extensions.json
  assets/css/app.css
  assets/postcss.config.js
  assets/static/images/apple.svg
  assets/static/images/bullit.svg
  assets/static/images/eyra-logo.svg
  assets/static/images/google.svg
  assets/tailwind.config.js
  assets/webpack.config.js
  lib/link/users.ex
  lib/link_web.ex
  lib/link_web/components/component_helpers.ex
  lib/link_web/controllers/page_controller.ex
  lib/link_web/controllers/study_controller.ex
  lib/link_web/templates/pow_assent/registration/add_user_id.html.eex
  mix.exs
  priv/cldr/locales/nl.json
  test/link/users_test.exs
Due: mix-test, mix-format, mix-compile, mix-credo

Added GitHub action to automatically format the code (#34)
  .github/workflows/test.yml
  .gitignore
  .pre-commit-config.yaml
  .vscode/extensions.json
  assets/css/app.css
  assets/postcss.config.js
  assets/static/images/apple.svg
  assets/static/images/bullit.svg
  assets/static/images/eyra-logo.svg
  assets/static/images/google.svg
  assets/tailwind.config.js
  assets/webpack.config.js
  lib/link/users.ex
  lib/link_web.ex
  lib/link_web/components/component_helpers.ex
  lib/link_web/controllers/page_controller.ex
  lib/link_web/controllers/study_controller.ex
  lib/link_web/templates/pow_assent/registration/add_user_id.html.eex
  mix.exs
  priv/cldr/locales/nl.json
  test/link/users_test.exs
Due: mix-test, mix-format, mix-compile, mix-credo

Formatted code
  .vscode/settings.json
  assets/package-lock.json
Due: none

Removed old-style factories in favour of versions derived from the Ecto guide (#33)
  .gitignore
  lib/link/studies/study.ex
  lib/link/users/user.ex
  lib/link_web.ex
  test/link/authorization_test.exs
  test/link/studies_test.exs
  test/link/survey_tools_test.exs
  test/link/users_test.exs
  test/link_web/controllers/dashboard_controller_test.exs
  test/link_web/controllers/participant_controller_test.exs
  test/link_web/controllers/studies/permissions_controller_test.exs
  test/link_web/controllers/study_controller_test.exs
  test/link_web/controllers/survey_tool_controller_test.exs
  test/link_web/controllers/user_profile_controller_test.exs
  test/support/conn_case.ex
  test/support/factories.ex
  test/support/helpers.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Path conditions:
  mix-test: any of: \.exs*$
  mix-format: any of: \.exs*$
  mix-compile: any of: \.ex$
  mix-credo: any of: \.exs*$
