Repository eyra/mono: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-test, mix-format, mix-compile, mix-credo

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: no-commit-to-branch
        args: [-b, master]
  - repo: local
    hooks:
      - id: mix-test
        name: "elixir: mix test"
        entry: mix test
        language: system
        pass_filenames: false
        files: \.exs*$

      - id: mix-format
        name: "elixir: mix format"
        entry: mix format --check-formatted
        language: system
        files: \.exs*$

      - id: mix-compile
        name: "elixir: mix compile"
        entry: mix compile --force --warnings-as-errors
        language: system
        pass_filenames: false
        files: \.ex$

      - id: mix-credo
        name: "elixir: mix credo"
        entry: mix credo
        language: system
        pass_filenames: false
        files: \.exs*$

Made project running again locally
  core/assets/static/images/icons/recruitment.svg
  core/assets/static/images/icons/recruitment_active.svg
  core/bundles/link.ex
  core/bundles/link/lib/layouts/workspace/menu_builder.ex
  core/bundles/link/lib/marketplace.ex
  core/bundles/link/lib/menu/items.ex
  core/bundles/link/lib/pool/submission_page.ex
  core/bundles/link/lib/survey/data/crew_task_plugin.ex
  core/bundles/link/lib/survey/web/form.ex
  core/lib/core/accounts/user.ex
  core/lib/core/authorization.ex
  core/lib/core/pools/criteria.ex
  core/lib/core/survey/tools.ex
  core/priv/gettext/en/LC_MESSAGES/link-survey.po
  core/priv/gettext/en/LC_MESSAGES/link-ui.po
  core/priv/gettext/link-survey.pot
  core/priv/gettext/link-ui.pot
  core/priv/gettext/nl/LC_MESSAGES/link-survey.po
  core/priv/gettext/nl/LC_MESSAGES/link-ui.po
  core/priv/repo/migrations/20211018190850_add_crew.exs
  core/systems/campaign/context.ex
  core/systems/campaign/monitor_view.ex
  core/systems/campaign/overview_page.ex
  core/systems/campaign/routes.ex
  core/systems/crew/context.ex
  core/systems/crew/model.ex
  core/systems/crew/routes.ex
  core/systems/crew/task_complete_page.ex
  core/systems/routes.ex
  core/test/link/survey/crew_task_plugin_test.exs
  core/test/systems/crew/context_test.exs
Due: mix-test, mix-format, mix-compile, mix-credo

Turned on marketplace feature
  core/bundles/link/config/config.exs
  core/bundles/link/config/dev.exs
Due: mix-test, mix-format, mix-credo

Fixed my contributions on marketplace
  core/systems/campaign/context.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Fixed task page + task completed page
  core/bundles/link/config/dev.exs
  core/bundles/link/lib/index.ex
  core/bundles/link/lib/marketplace.ex
  core/bundles/link/lib/survey/data/crew_task_plugin.ex
  core/lib/core_web/live/fake_survey.ex
  core/lib/core_web/live/routes.ex
  core/lib/core_web/views/fake_survey_view.ex
  core/priv/gettext/en/LC_MESSAGES/eyra-campaign.po
  core/priv/gettext/en/LC_MESSAGES/eyra-crew.po
  core/priv/gettext/en/LC_MESSAGES/eyra-link.po
  core/priv/gettext/en/LC_MESSAGES/link-survey.po
  core/priv/gettext/eyra-crew.pot
  core/priv/gettext/eyra-link.pot
  core/priv/gettext/link-survey.pot
  core/priv/gettext/nl/LC_MESSAGES/eyra-campaign.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-crew.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-link.po
  core/priv/gettext/nl/LC_MESSAGES/link-survey.po
  core/priv/repo/migrations/20211019191026_add_timestamps_to_task.exs
  core/systems/crew/context.ex
  core/systems/crew/task_complete_page.ex
  core/systems/crew/task_model.ex
  core/systems/crew/task_page.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Fixed crew/task by reference iso task id
  core/bundles/link/lib/survey/data/promotion_plugin.ex
  core/bundles/link/lib/survey/web/form.ex
  core/systems/crew/context.ex
  core/systems/crew/routes.ex
  core/systems/crew/task_complete_page.ex
  core/systems/crew/task_page.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Added withdraw onto task page
  core/bundles/link/lib/survey/data/crew_task_plugin.ex
  core/priv/gettext/en/LC_MESSAGES/eyra-account.po
  core/priv/gettext/en/LC_MESSAGES/eyra-crew.po
  core/priv/gettext/en/LC_MESSAGES/link-survey.po
  core/priv/gettext/eyra-account.pot
  core/priv/gettext/eyra-crew.pot
  core/priv/gettext/link-survey.pot
  core/priv/gettext/nl/LC_MESSAGES/eyra-account.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-crew.po
  core/priv/gettext/nl/LC_MESSAGES/link-survey.po
  core/systems/crew/task_page.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Last minute fixes
  core/bundles/link/lib/card.ex
  core/bundles/link/lib/dashboard.ex
  core/bundles/link/lib/marketplace.ex
  core/priv/gettext/en/LC_MESSAGES/eyra-campaign.po
  core/priv/gettext/en/LC_MESSAGES/eyra-crew.po
  core/priv/gettext/en/LC_MESSAGES/eyra-link.po
  core/priv/gettext/en/LC_MESSAGES/eyra-marketplace.po
  core/priv/gettext/en/LC_MESSAGES/eyra-ui.po
  core/priv/gettext/en/LC_MESSAGES/link-dashboard.po
  core/priv/gettext/en/LC_MESSAGES/link-survey.po
  core/priv/gettext/eyra-campaign.pot
  core/priv/gettext/eyra-crew.pot
  core/priv/gettext/eyra-link.pot
  core/priv/gettext/eyra-marketplace.pot
  core/priv/gettext/eyra-ui.pot
  core/priv/gettext/link-dashboard.pot
  core/priv/gettext/link-survey.pot
  core/priv/gettext/nl/LC_MESSAGES/eyra-campaign.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-crew.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-link.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-marketplace.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-ui.po
  core/priv/gettext/nl/LC_MESSAGES/link-dashboard.po
  core/priv/gettext/nl/LC_MESSAGES/link-survey.po
Due: mix-test, mix-format, mix-compile, mix-credo

Fixed started_at on task
  core/systems/crew/task_page.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Added guard to make sure every campaign has its crew
  core/lib/core_web/live/marketplace.ex
  core/systems/campaign/context.ex
  core/systems/campaign/overview_page.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Fix started at (#194)
  core/lib/core_web/live/marketplace.ex
  core/systems/campaign/context.ex
  core/systems/campaign/overview_page.ex
  core/systems/crew/task_page.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Fixed open spots counter
  core/bundles/link/lib/pool/views/campaigns_view.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Fixed open spots counter (#195)
  core/bundles/link/lib/pool/views/campaigns_view.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Fixed deletion of all crew tasks after withdraw of one member
  core/systems/crew/context.ex
  core/test/systems/crew/context_test.exs
Due: mix-test, mix-format, mix-compile, mix-credo

Fixed deletion of all crew tasks after withdraw of one member (#196)
  core/systems/crew/context.ex
  core/test/systems/crew/context_test.exs
Due: mix-test, mix-format, mix-compile, mix-credo

Added workflow file to create releases
  .github/workflows/test.yml
Due: none

Added workflow file to create releases (#197)
  .github/workflows/test.yml
Due: none

Added workflow file to create releases (#197)
  .github/workflows/release.yml
  core/mix.exs
Due: mix-test, mix-format, mix-credo

Build specific bundle from tag
  .github/workflows/release.yml
Due: none

Added banking system
  core/config/test.exs
  core/lib/core/application.ex
  core/lib/core/banking.ex
  core/lib/core/banking/backend.ex
  core/lib/core/banking/dummy.ex
  core/lib/core/books.ex
  core/lib/core/books/book.ex
  core/lib/core/books/book_entry.ex
  core/lib/core/books/line.ex
  core/lib/core/money_manager.ex
  core/lib/core/money_manager/marker.ex
  core/priv/repo/migrations/20211009142809_books_tables.exs
  core/priv/repo/migrations/20211018091501_add_money_manager_transaction_marker.exs
  core/test/core/banking/dummy_test.exs
  core/test/core/books_test.exs
  core/test/core/money_manager_test.exs
  core/test/test_helper.exs
Due: mix-test, mix-format, mix-compile, mix-credo

Fix MIX_ENV for builds
  .github/workflows/release.yml
Due: none

Add static resources during release builds
  .github/workflows/release.yml
Due: none

Fix release script
  .github/workflows/release.yml
Due: none

Refactored to systems
  core/.projections.json
  core/config/test.exs
  core/lib/core/application.ex
  core/lib/core/books/line.ex
  core/systems/banking/backend.ex
  core/systems/banking/context.ex
  core/systems/banking/dummy.ex
  core/systems/bookkeeping/book_model.ex
  core/systems/bookkeeping/context.ex
  core/systems/bookkeeping/entry_model.ex
  core/systems/bookkeeping/line_model.ex
  core/systems/money_manager/context.ex
  core/systems/money_manager/marker_model.ex
  core/test/systems/banking/dummy_test.exs
  core/test/systems/bookkeeping/context_test.exs
  core/test/systems/money_manager/context_test.exs
  core/test/test_helper.exs
Due: mix-test, mix-format, mix-compile, mix-credo

Added tagging workflow
  .github/workflows/release.yml
  .github/workflows/tag-bundle.yml
Due: none

Added tagging workflow
  .github/workflows/release.yml
Due: none

Add build number to HTML
  .github/workflows/release.yml
  core/config/config.exs
  core/lib/core_web.ex
  core/lib/core_web/templates/layout/root.html.leex
Due: mix-test, mix-format, mix-compile, mix-credo

Add build number to HTML (#200)
  .github/workflows/release.yml
  core/config/config.exs
  core/lib/core_web.ex
  core/lib/core_web/templates/layout/root.html.leex
Due: mix-test, mix-format, mix-compile, mix-credo

Transaction engine (#199)
  core/.projections.json
  core/config/test.exs
  core/lib/core/application.ex
  core/priv/repo/migrations/20211009142809_books_tables.exs
  core/priv/repo/migrations/20211018091501_add_money_manager_transaction_marker.exs
  core/systems/banking/backend.ex
  core/systems/banking/context.ex
  core/systems/banking/dummy.ex
  core/systems/bookkeeping/book_model.ex
  core/systems/bookkeeping/context.ex
  core/systems/bookkeeping/entry_model.ex
  core/systems/bookkeeping/line_model.ex
  core/systems/money_manager/context.ex
  core/systems/money_manager/marker_model.ex
  core/test/systems/banking/dummy_test.exs
  core/test/systems/bookkeeping/context_test.exs
  core/test/systems/money_manager/context_test.exs
  core/test/test_helper.exs
Due: mix-test, mix-format, mix-compile, mix-credo

Fixed delete campaign
  core/bundles/link/lib/dashboard.ex
  core/frameworks/utililty/ecto_helper.ex
  core/lib/core/authorization.ex
  core/systems/campaign/assembly.ex
  core/systems/campaign/content_page.ex
  core/systems/campaign/context.ex
  core/systems/campaign/model.ex
  core/test/systems/campaign/assembly_test.exs
  core/test/systems/campaign/model_test.exs
Due: mix-test, mix-format, mix-compile, mix-credo
