Repository eyra/mono: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-test, mix-format, mix-compile, mix-credo

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: no-commit-to-branch
        args: [-b, master]
  - repo: local
    hooks:
      - id: mix-test
        name: "elixir: mix test"
        entry: mix test
        language: system
        pass_filenames: false
        files: \.exs*$

      - id: mix-format
        name: "elixir: mix format"
        entry: mix format --check-formatted
        language: system
        files: \.exs*$

      - id: mix-compile
        name: "elixir: mix compile"
        entry: mix compile --force --warnings-as-errors
        language: system
        pass_filenames: false
        files: \.ex$

      - id: mix-credo
        name: "elixir: mix credo"
        entry: mix credo
        language: system
        pass_filenames: false
        files: \.exs*$

Hotfix for rank authorization
  core/lib/core/authorization.ex
  core/systems/benchmark/_public.ex
  core/systems/benchmark/tool_page.ex
  core/test/core/authorization_test.exs
Due: mix-test, mix-format, mix-compile, mix-credo

Fixed error page layout
  core/config/config.exs
  core/config/dev.exs
  core/lib/core_web/controllers/error_html.ex
  core/lib/core_web/controllers/error_html/403.html.eex
  core/lib/core_web/controllers/error_html/404.html.eex
  core/lib/core_web/controllers/error_html/500.html.eex
  core/lib/core_web/controllers/error_html/503.html.eex
  core/lib/core_web/controllers/layouts/error.html.eex
  core/lib/core_web/controllers/layouts/error.html.heex
  core/lib/core_web/controllers/layouts/stripped/component.ex
  core/lib/core_web/controllers/layouts/website/component.ex
  core/lib/core_web/controllers/layouts/workspace/component.ex
  core/lib/core_web/live/menu/builder.ex
  core/priv/gettext/en/LC_MESSAGES/eyra-enums.po
  core/priv/gettext/en/LC_MESSAGES/eyra-error.po
  core/priv/gettext/en/LC_MESSAGES/eyra-project.po
  core/priv/gettext/eyra-enums.pot
  core/priv/gettext/eyra-error.pot
  core/priv/gettext/eyra-project.pot
  core/priv/gettext/nl/LC_MESSAGES/eyra-enums.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-error.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-project.po
  core/test/systems/project/assembly_test.exs
Due: mix-test, mix-format, mix-compile, mix-credo

Next/rank hotfix (#431)
  core/config/config.exs
  core/config/dev.exs
  core/lib/core/authorization.ex
  core/lib/core_web/controllers/error_html.ex
  core/lib/core_web/controllers/error_html/403.html.eex
  core/lib/core_web/controllers/error_html/404.html.eex
  core/lib/core_web/controllers/error_html/500.html.eex
  core/lib/core_web/controllers/error_html/503.html.eex
  core/lib/core_web/controllers/layouts/error.html.eex
  core/lib/core_web/controllers/layouts/error.html.heex
  core/lib/core_web/controllers/layouts/stripped/component.ex
  core/lib/core_web/controllers/layouts/website/component.ex
  core/lib/core_web/controllers/layouts/workspace/component.ex
  core/lib/core_web/live/menu/builder.ex
  core/priv/gettext/en/LC_MESSAGES/eyra-enums.po
  core/priv/gettext/en/LC_MESSAGES/eyra-error.po
  core/priv/gettext/en/LC_MESSAGES/eyra-project.po
  core/priv/gettext/eyra-enums.pot
  core/priv/gettext/eyra-error.pot
  core/priv/gettext/eyra-project.pot
  core/priv/gettext/nl/LC_MESSAGES/eyra-enums.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-error.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-project.po
  core/systems/benchmark/_public.ex
  core/systems/benchmark/tool_page.ex
  core/test/core/authorization_test.exs
  core/test/systems/project/assembly_test.exs
Due: mix-test, mix-format, mix-compile, mix-credo

Fixed docs error on CI
  Makefile
Due: none

Fixed docs error on CI part 2
  Makefile
Due: none

Added route to /next
  core/bundles/next/bundle.ex
  core/bundles/next/lib/menu/items.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Fixed mix docs on banking_proxy
  banking_proxy/mix.exs
  banking_proxy/mix.lock
  core/mix.exs
Due: mix-test, mix-format, mix-credo

deploy: 30f0530b1198d1bff9590e97bf493301d512d731
  banking_proxy/BankingProxy.html
  banking_proxy/Bunq.HTTP.html
  banking_proxy/banking_proxy.epub
  core/Core.Accounts.html
  core/CoreWeb.Cldr.AcceptLanguage.html
  core/CoreWeb.Cldr.Currency.html
  core/CoreWeb.Cldr.Date.Interval.html
  core/CoreWeb.Cldr.Date.html
  core/CoreWeb.Cldr.DateTime.Format.html
  core/CoreWeb.Cldr.DateTime.Formatter.html
  core/CoreWeb.Cldr.DateTime.Interval.html
  core/CoreWeb.Cldr.DateTime.Relative.html
  core/CoreWeb.Cldr.DateTime.html
  core/CoreWeb.Cldr.Interval.html
  core/CoreWeb.Cldr.Locale.html
  core/CoreWeb.Cldr.Number.Cardinal.html
  core/CoreWeb.Cldr.Number.Format.html
  core/CoreWeb.Cldr.Number.Ordinal.html
  core/CoreWeb.Cldr.Number.Symbol.html
  core/CoreWeb.Cldr.Number.System.html
  core/CoreWeb.Cldr.Number.Transliterate.html
  core/CoreWeb.Cldr.Number.html
  core/CoreWeb.Cldr.Rbnf.NumberSystem.html
  core/CoreWeb.Cldr.Rbnf.Ordinal.html
  core/CoreWeb.Cldr.Rbnf.Spellout.html
  core/CoreWeb.Cldr.Time.Interval.html
  core/CoreWeb.Cldr.Time.html
  core/CoreWeb.Cldr.html
  core/CoreWeb.Gettext.html
  core/Systems.Campaign.Public.html
  core/Systems.DataDonation.CenterdataHTTPClient.html
  core/core.epub
Due: none

Added support for creating project items
  core/bundles/next/lib/layouts/workspace/menu_builder.ex
  core/lib/core/factories.ex
  core/priv/gettext/en/LC_MESSAGES/eyra-enums.po
  core/priv/gettext/en/LC_MESSAGES/eyra-project.po
  core/priv/gettext/eyra-project.pot
  core/priv/gettext/nl/LC_MESSAGES/eyra-enums.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-project.po
  core/priv/repo/seeds.exs
  core/systems/project/_assembly.ex
  core/systems/project/create_item_popup.ex
  core/systems/project/item_form.ex
  core/systems/project/item_model.ex
  core/systems/project/node_page.ex
  core/systems/project/node_page_builder.ex
  core/test/systems/project/assembly_test.exs
Due: mix-test, mix-format, mix-compile, mix-credo

Refactor worspace layout and sidepanel positioning
  core/assets/js/side_panel.js
  core/assets/js/tabbar.js
  core/assets/tailwind.config.js
  core/frameworks/pixel/components/side_panel.ex
  core/frameworks/pixel/components/square_container.ex
  core/lib/core_web/controllers/layouts/error.html.heex
  core/lib/core_web/controllers/layouts/root.html.leex
  core/lib/core_web/controllers/layouts/workspace/component.ex
  core/lib/core_web/ui/navigation.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Improved positioning tasks
  core/lib/core/factories.ex
  core/systems/data_donation/_public.ex
  core/systems/data_donation/task_builder_view.ex
  core/test/systems/data_donation/_public_test.exs
Due: mix-test, mix-format, mix-compile, mix-credo

Added support for saving/restoring cell status (expand/collapse)
  core/assets/js/app.js
  core/assets/js/cell.js
  core/frameworks/pixel/components/button.ex
  core/frameworks/pixel/components/button_action.ex
  core/systems/data_donation/task_cell.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Made platforms dynamic and refactored content page so it is live updatable
  core/assets/static/images/icons/ready.svg
  core/frameworks/signal/_public.ex
  core/lib/core/enums/base.ex
  core/priv/gettext/en/LC_MESSAGES/eyra-project.po
  core/priv/gettext/en/LC_MESSAGES/eyra-support.po
  core/priv/gettext/eyra-project.pot
  core/priv/gettext/eyra-support.pot
  core/priv/gettext/nl/LC_MESSAGES/eyra-project.po
  core/priv/gettext/nl/LC_MESSAGES/eyra-support.po
  core/systems/data_donation/_public.ex
  core/systems/data_donation/document_task_form.ex
  core/systems/data_donation/document_task_model.ex
  core/systems/data_donation/donate_task_model.ex
  core/systems/data_donation/survey_task_model.ex
  core/systems/data_donation/task_builder_view.ex
  core/systems/data_donation/task_cell.ex
  core/systems/data_donation/task_form.ex
  core/systems/data_donation/task_model.ex
  core/systems/data_donation/task_views.ex
  core/systems/data_donation/tool_form.ex
  core/systems/data_donation/tool_model.ex
  core/systems/project/_presenter.ex
  core/systems/project/_public.ex
  core/systems/project/_switch.ex
  core/systems/project/content_page_builder/item_data_donation.ex
  core/systems/project/item_model.ex
  core/systems/project/tool_ref_model.ex
  core/systems/support/form.ex
Due: mix-test, mix-format, mix-compile, mix-credo

Allow Ecto repo configuration via an URL
  core/config/runtime.exs
Due: mix-test, mix-format, mix-credo

Allow Ecto repo configuration via an URL (#442)
  core/config/runtime.exs
Due: mix-test, mix-format, mix-credo

Added Sentry for error reporting
  core/config/config.exs
  core/config/runtime.exs
  core/mix.exs
  core/mix.lock
Due: mix-test, mix-format, mix-credo

deploy: 2eecc27acec66b53b9a54d6d10007a2311ad9729
  banking_proxy/BankingProxy.html
  banking_proxy/Bunq.HTTP.html
  banking_proxy/banking_proxy.epub
  core/Core.Accounts.html
  core/CoreWeb.Cldr.AcceptLanguage.html
  core/CoreWeb.Cldr.Currency.html
  core/CoreWeb.Cldr.Date.Interval.html
  core/CoreWeb.Cldr.Date.html
  core/CoreWeb.Cldr.DateTime.Format.html
  core/CoreWeb.Cldr.DateTime.Formatter.html
  core/CoreWeb.Cldr.DateTime.Interval.html
  core/CoreWeb.Cldr.DateTime.Relative.html
  core/CoreWeb.Cldr.DateTime.html
  core/CoreWeb.Cldr.Interval.html
  core/CoreWeb.Cldr.Locale.html
  core/CoreWeb.Cldr.Number.Cardinal.html
  core/CoreWeb.Cldr.Number.Format.html
  core/CoreWeb.Cldr.Number.Ordinal.html
  core/CoreWeb.Cldr.Number.Symbol.html
  core/CoreWeb.Cldr.Number.System.html
  core/CoreWeb.Cldr.Number.Transliterate.html
  core/CoreWeb.Cldr.Number.html
  core/CoreWeb.Cldr.Rbnf.NumberSystem.html
  core/CoreWeb.Cldr.Rbnf.Ordinal.html
  core/CoreWeb.Cldr.Rbnf.Spellout.html
  core/CoreWeb.Cldr.Time.Interval.html
  core/CoreWeb.Cldr.Time.html
  core/CoreWeb.Cldr.html
  core/CoreWeb.Gettext.html
  core/Systems.Campaign.Public.html
  core/Systems.DataDonation.CenterdataHTTPClient.html
  core/core.epub
Due: none

Added Sentry for error reporting (#443)
  core/config/config.exs
  core/config/runtime.exs
  core/mix.exs
  core/mix.lock
Due: mix-test, mix-format, mix-credo

deploy: a7c8e0690226887fd99979f04b595f6059536ec3
  banking_proxy/BankingProxy.html
  banking_proxy/Bunq.HTTP.html
  banking_proxy/banking_proxy.epub
  core/Core.Accounts.html
  core/CoreWeb.Cldr.AcceptLanguage.html
  core/CoreWeb.Cldr.Currency.html
  core/CoreWeb.Cldr.Date.Interval.html
  core/CoreWeb.Cldr.Date.html
  core/CoreWeb.Cldr.DateTime.Format.html
  core/CoreWeb.Cldr.DateTime.Formatter.html
  core/CoreWeb.Cldr.DateTime.Interval.html
  core/CoreWeb.Cldr.DateTime.Relative.html
  core/CoreWeb.Cldr.DateTime.html
  core/CoreWeb.Cldr.Interval.html
  core/CoreWeb.Cldr.Locale.html
  core/CoreWeb.Cldr.Number.Cardinal.html
  core/CoreWeb.Cldr.Number.Format.html
  core/CoreWeb.Cldr.Number.Ordinal.html
  core/CoreWeb.Cldr.Number.Symbol.html
  core/CoreWeb.Cldr.Number.System.html
  core/CoreWeb.Cldr.Number.Transliterate.html
  core/CoreWeb.Cldr.Number.html
  core/CoreWeb.Cldr.Rbnf.NumberSystem.html
  core/CoreWeb.Cldr.Rbnf.Ordinal.html
  core/CoreWeb.Cldr.Rbnf.Spellout.html
  core/CoreWeb.Cldr.Time.Interval.html
  core/CoreWeb.Cldr.Time.html
  core/CoreWeb.Cldr.html
  core/CoreWeb.Gettext.html
  core/Systems.Campaign.Public.html
  core/Systems.DataDonation.CenterdataHTTPClient.html
  core/core.epub
Due: none

Start app in migration to avoid SSL errors
  core/lib/core/release.ex
  core/mix.exs
Due: mix-test, mix-format, mix-compile, mix-credo

Start app in migration to avoid SSL errors (#444)
  core/lib/core/release.ex
  core/mix.exs
Due: mix-test, mix-format, mix-compile, mix-credo

deploy: b584bc0c441a0698411b844f2125133d6c40fd59
  banking_proxy/BankingProxy.html
  banking_proxy/Bunq.HTTP.html
  banking_proxy/banking_proxy.epub
  core/Core.Accounts.html
  core/Core.Release.html
  core/CoreWeb.Cldr.AcceptLanguage.html
  core/CoreWeb.Cldr.Currency.html
  core/CoreWeb.Cldr.Date.Interval.html
  core/CoreWeb.Cldr.Date.html
  core/CoreWeb.Cldr.DateTime.Format.html
  core/CoreWeb.Cldr.DateTime.Formatter.html
  core/CoreWeb.Cldr.DateTime.Interval.html
  core/CoreWeb.Cldr.DateTime.Relative.html
  core/CoreWeb.Cldr.DateTime.html
  core/CoreWeb.Cldr.Interval.html
  core/CoreWeb.Cldr.Locale.html
  core/CoreWeb.Cldr.Number.Cardinal.html
  core/CoreWeb.Cldr.Number.Format.html
  core/CoreWeb.Cldr.Number.Ordinal.html
  core/CoreWeb.Cldr.Number.Symbol.html
  core/CoreWeb.Cldr.Number.System.html
  core/CoreWeb.Cldr.Number.Transliterate.html
  core/CoreWeb.Cldr.Number.html
  core/CoreWeb.Cldr.Rbnf.NumberSystem.html
  core/CoreWeb.Cldr.Rbnf.Ordinal.html
  core/CoreWeb.Cldr.Rbnf.Spellout.html
  core/CoreWeb.Cldr.Time.Interval.html
  core/CoreWeb.Cldr.Time.html
  core/CoreWeb.Cldr.html
  core/CoreWeb.Gettext.html
  core/Systems.Campaign.Public.html
  core/Systems.DataDonation.CenterdataHTTPClient.html
  core/core.epub
Due: none

Update show.html.eex
  core/bundles/next/lib/home/landing_page_html/show.html.eex
Due: none

deploy: 06ca537cc37caab883dd5b8a44e2f3f6658360f7
  banking_proxy/BankingProxy.html
  banking_proxy/Bunq.HTTP.html
  banking_proxy/banking_proxy.epub
  core/Core.Accounts.html
  core/CoreWeb.Cldr.AcceptLanguage.html
  core/CoreWeb.Cldr.Currency.html
  core/CoreWeb.Cldr.Date.Interval.html
  core/CoreWeb.Cldr.Date.html
  core/CoreWeb.Cldr.DateTime.Format.html
  core/CoreWeb.Cldr.DateTime.Formatter.html
  core/CoreWeb.Cldr.DateTime.Interval.html
  core/CoreWeb.Cldr.DateTime.Relative.html
  core/CoreWeb.Cldr.DateTime.html
  core/CoreWeb.Cldr.Interval.html
  core/CoreWeb.Cldr.Locale.html
  core/CoreWeb.Cldr.Number.Cardinal.html
  core/CoreWeb.Cldr.Number.Format.html
  core/CoreWeb.Cldr.Number.Ordinal.html
  core/CoreWeb.Cldr.Number.Symbol.html
  core/CoreWeb.Cldr.Number.System.html
  core/CoreWeb.Cldr.Number.Transliterate.html
  core/CoreWeb.Cldr.Number.html
  core/CoreWeb.Cldr.Rbnf.NumberSystem.html
  core/CoreWeb.Cldr.Rbnf.Ordinal.html
  core/CoreWeb.Cldr.Rbnf.Spellout.html
  core/CoreWeb.Cldr.Time.Interval.html
  core/CoreWeb.Cldr.Time.html
  core/CoreWeb.Cldr.html
  core/CoreWeb.Gettext.html
  core/Systems.Campaign.Public.html
  core/Systems.DataDonation.CenterdataHTTPClient.html
  core/core.epub
Due: none

Add rug and odissei logos
  core/assets/static/landing_page/img/odissei.png
  core/assets/static/landing_page/img/rug.png
Due: none

Updated projects in show.html.eex
  core/bundles/next/lib/home/landing_page_html/show.html.eex
Due: none

deploy: 312d677f050b3aadba840353d91aaa0e87abd6f3
  banking_proxy/BankingProxy.html
  banking_proxy/Bunq.HTTP.html
  banking_proxy/banking_proxy.epub
  core/Core.Accounts.html
  core/CoreWeb.Cldr.AcceptLanguage.html
  core/CoreWeb.Cldr.Currency.html
  core/CoreWeb.Cldr.Date.Interval.html
  core/CoreWeb.Cldr.Date.html
  core/CoreWeb.Cldr.DateTime.Format.html
  core/CoreWeb.Cldr.DateTime.Formatter.html
  core/CoreWeb.Cldr.DateTime.Interval.html
  core/CoreWeb.Cldr.DateTime.Relative.html
  core/CoreWeb.Cldr.DateTime.html
  core/CoreWeb.Cldr.Interval.html
  core/CoreWeb.Cldr.Locale.html
  core/CoreWeb.Cldr.Number.Cardinal.html
  core/CoreWeb.Cldr.Number.Format.html
  core/CoreWeb.Cldr.Number.Ordinal.html
  core/CoreWeb.Cldr.Number.Symbol.html
  core/CoreWeb.Cldr.Number.System.html
  core/CoreWeb.Cldr.Number.Transliterate.html
  core/CoreWeb.Cldr.Number.html
  core/CoreWeb.Cldr.Rbnf.NumberSystem.html
  core/CoreWeb.Cldr.Rbnf.Ordinal.html
  core/CoreWeb.Cldr.Rbnf.Spellout.html
  core/CoreWeb.Cldr.Time.Interval.html
  core/CoreWeb.Cldr.Time.html
  core/CoreWeb.Cldr.html
  core/CoreWeb.Gettext.html
  core/Systems.Campaign.Public.html
  core/Systems.DataDonation.CenterdataHTTPClient.html
  core/core.epub
Due: none

Added Next Platform Banner in show.html.eex
  core/bundles/next/lib/home/landing_page_html/show.html.eex
Due: none

deploy: 8909f9d84457c17c4604376f8d854fd909ced864
  banking_proxy/BankingProxy.html
  banking_proxy/Bunq.HTTP.html
  banking_proxy/banking_proxy.epub
  core/Core.Accounts.html
  core/CoreWeb.Cldr.AcceptLanguage.html
  core/CoreWeb.Cldr.Currency.html
  core/CoreWeb.Cldr.Date.Interval.html
  core/CoreWeb.Cldr.Date.html
  core/CoreWeb.Cldr.DateTime.Format.html
  core/CoreWeb.Cldr.DateTime.Formatter.html
  core/CoreWeb.Cldr.DateTime.Interval.html
  core/CoreWeb.Cldr.DateTime.Relative.html
  core/CoreWeb.Cldr.DateTime.html
  core/CoreWeb.Cldr.Interval.html
  core/CoreWeb.Cldr.Locale.html
  core/CoreWeb.Cldr.Number.Cardinal.html
  core/CoreWeb.Cldr.Number.Format.html
  core/CoreWeb.Cldr.Number.Ordinal.html
  core/CoreWeb.Cldr.Number.Symbol.html
  core/CoreWeb.Cldr.Number.System.html
  core/CoreWeb.Cldr.Number.Transliterate.html
  core/CoreWeb.Cldr.Number.html
  core/CoreWeb.Cldr.Rbnf.NumberSystem.html
  core/CoreWeb.Cldr.Rbnf.Ordinal.html
  core/CoreWeb.Cldr.Rbnf.Spellout.html
  core/CoreWeb.Cldr.Time.Interval.html
  core/CoreWeb.Cldr.Time.html
  core/CoreWeb.Cldr.html
  core/CoreWeb.Gettext.html
  core/Systems.Campaign.Public.html
  core/Systems.DataDonation.CenterdataHTTPClient.html
  core/core.epub
Due: none

Updated show.html.eex Next banner
  core/bundles/next/lib/home/landing_page_html/show.html.eex
Due: none

deploy: 9d585d23e53144bf48e9a84d1e69579be94baaae
  banking_proxy/BankingProxy.html
  banking_proxy/Bunq.HTTP.html
  banking_proxy/banking_proxy.epub
  core/Core.Accounts.html
  core/CoreWeb.Cldr.AcceptLanguage.html
  core/CoreWeb.Cldr.Currency.html
  core/CoreWeb.Cldr.Date.Interval.html
  core/CoreWeb.Cldr.Date.html
  core/CoreWeb.Cldr.DateTime.Format.html
  core/CoreWeb.Cldr.DateTime.Formatter.html
  core/CoreWeb.Cldr.DateTime.Interval.html
  core/CoreWeb.Cldr.DateTime.Relative.html
  core/CoreWeb.Cldr.DateTime.html
  core/CoreWeb.Cldr.Interval.html
  core/CoreWeb.Cldr.Locale.html
  core/CoreWeb.Cldr.Number.Cardinal.html
  core/CoreWeb.Cldr.Number.Format.html
  core/CoreWeb.Cldr.Number.Ordinal.html
  core/CoreWeb.Cldr.Number.Symbol.html
  core/CoreWeb.Cldr.Number.System.html
  core/CoreWeb.Cldr.Number.Transliterate.html
  core/CoreWeb.Cldr.Number.html
  core/CoreWeb.Cldr.Rbnf.NumberSystem.html
  core/CoreWeb.Cldr.Rbnf.Ordinal.html
  core/CoreWeb.Cldr.Rbnf.Spellout.html
  core/CoreWeb.Cldr.Time.Interval.html
  core/CoreWeb.Cldr.Time.html
  core/CoreWeb.Cldr.html
  core/CoreWeb.Gettext.html
  core/Systems.Campaign.Public.html
  core/Systems.DataDonation.CenterdataHTTPClient.html
  core/core.epub
Due: none

Basic infrastructure to support Feldspar
  core/assets/js/app.js
  core/assets/js/feldspar_app.js
  core/config/dev.exs
  core/config/test.exs
  core/lib/core/authorization.ex
  core/lib/core_web/endpoint.ex
  core/systems/feldspar/_public.ex
  core/systems/feldspar/_routes.ex
  core/systems/feldspar/app_page.ex
  core/systems/feldspar/internal.ex
  core/systems/feldspar/local_fs.ex
  core/systems/feldspar/plugs.ex
  core/systems/routes.ex
  core/test/systems/feldspar/app_page_test.exs
  core/test/systems/feldspar/hello.zip
  core/test/systems/feldspar/index.html
  core/test/systems/feldspar/local_fs_test.exs
  core/test/systems/feldspar/plug_test.exs
Due: mix-test, mix-format, mix-compile, mix-credo

Formatted code
  core/test/systems/feldspar/app_page_test.exs
Due: mix-test, mix-format, mix-credo
